<section class="clientDashBoard container-fluid my-4">
  <!-- part 1 -->
  <div class="row cairo mb-3">
    <div class="col-lg-6">
      <app-dashboard-card
      grid="col-sm-3 col-6"
        type="pricequotes"
        [data]="data.overview?.pricequotes"
        circleColor="D9CCF2"
      ></app-dashboard-card>
    </div>
    <div class="col-lg-6">
      <app-dashboard-card
      grid="col-sm-3 col-6"
        type="projects"
        [data]="data.overview?.projects"
        circleColor="E9CCF2"
      ></app-dashboard-card>
    </div>
  </div>
  <!-- part 2 -->

  <div class="row my-4 cairo">
    <div class="col-lg-9">
      <div class="row">
        <div class="col-12 mb-4">
          <div
            class="bg-white rounded-0 cardShadow d-flex justify-content-around align-items-center mb-3 h-100 w-100"
          >
            <div class="chart" style="width: 300px">
              <canvas id="doughnut" class="col-12"></canvas>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column mb-2 col-12">
          <div
            class="row m-0 p-0 gx-4 justify-content-between align-items-start"
          >
            <div
              class="cairo rounded-0 d-flex flex-column justify-content-between align-items-center col-md-6 col-12"
            >
              <div
                class="premary-color cairo rounded-0 text-center py-3 m w-100 mb-2"
                style="background-color: #aaddd6"
              >
                <h3 class="cairo m-0 p-0">المشاريع الحاليه</h3>
              </div>
              <!-- card -->
              <div class="d-flex flex-column scrolls col-12">
                <div *ngIf="currentProjects.length > 0">
                  <!-- *ngFor="let pro of this.currentProjects; let i = index" -->
                  <div
                    *ngFor="let pro of currentProjects; let i = index"
                    class="card rounded-0 border-0 cardShadow card2 mb-3 px-3 d-flex flex-row p-2 align-items-center"
                  >
                    <div>
                      <img
                        class="cardImg"
                        [src]="pro.offerSender?.profilePicturePath"
                        alt=""
                      />
                    </div>
                    <div class="card-body">
                      <p class="card-text mb-1 cardText">
                        <strong>اسم المسؤل :</strong>
                        {{
                          pro.offerSender?.name || pro.offerSender?.companyName
                        }}
                        <!--   علاء عزت -->
                      </p>
                      <p class="card-text mb-1 cardText">
                        <strong>بلد الاقامه :</strong>
                        {{ pro.clientProfile.district?.city?.region?.nameAr }}
                        <!-- الرياض -->
                      </p>
                      <p class="card-text mb-0 cardText">
                        <strong>إسم المشروع :</strong>
                        {{ pro.name }}
                        <!--      نطوير -->
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="cairo rounded-0 d-flex flex-column justify-content-between align-items-center col-md-6 col-12"
            >
              <div
                class="premary-color cairo rounded-0 text-center py-3 col-12 mb-2"
                style="background-color: #e5a8a8"
              >
                <h3 class="cairo p-0 m-0">المشاريع المكتملة</h3>
              </div>
              <!-- card -->
              <div class="d-flex flex-column scrolls col-12">
                <div *ngIf="completedProjects.length > 0">
                  <div
                    *ngFor="let pro of this.completedProjects; let i = index"
                    class="card rounded-0 border-0 cardShadow card2 mb-3 px-3 d-flex flex-row p-2 align-items-center"
                  >
                    <div>
                      <img
                        class="cardImg"
                        [src]="pro.offerSender?.profilePicturePath"
                        alt=""
                      />
                    </div>
                    <div class="card-body">
                      <p class="card-text mb-1 cardText">
                        <strong>اسم المسؤل :</strong>
                        {{
                          pro.offerSender?.name || pro.offerSender?.companyName
                        }}
                        <!--   علاء عزت -->
                      </p>
                      <p class="card-text mb-1 cardText">
                        <strong>بلد الاقامه :</strong>
                        {{ pro.clientProfile.district?.city?.region?.nameAr }}
                        <!-- الرياض -->
                      </p>
                      <p class="card-text mb-0 cardText">
                        <strong>إسم المشروع :</strong>
                        {{ pro.name }}
                        <!--      نطوير -->
                      </p>
                    </div>
                    <div class="col-2 text-center">
                      <mat-icon style="color: #f3d720">star</mat-icon>
                      <p><small>5/5</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <!-- part 1 -->
        <div
          class="rounded-0 d-flex flex-column justify-content-around align-items-center mb-3 col-12"
        >
          <div class="col-12 bg-white py-3 mb-2">
            <h5 class="cairo fw-bold text-center m-0 p-0 cairo">
              جدول الاعمال
            </h5>
          </div>
          <div class="col-12 bg-white px-4 py-1 mb-2">
            <div class="card calender">
              <div class="row">
                <div class="col-lg-12">
                  <mat-calendar [(selected)]="selected"></mat-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 bg-white py-3 mb-2">
            <h5 class="cairo fw-bold text-center m-0 p-0 cairo">
              <span>تاريخ : </span>
              {{ selected | date }}
            </h5>
          </div>
          <div class="col-12 slideshow">
            <div class="bg-white text-center py-3 mb-2">
              <h5 class="fw-bold text-center m-0 p-0 cairo">تقيمات العملاء</h5>
            </div>
            <app-carousel-rate [testimonials]="testimonials"></app-carousel-rate>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
