<div class="p-3 col-12" style="background-color: #004057">
      <div class="row d-flex justify-content-around">
        <div class="col-lg-10 col-12 pt-4">
          <ul
            class="d-flex justify-content-lg-center justify-content-start align-items-lg-center align-items-start flex-wrap"
          >
            <li class=" me-lg-5 cairo" (click)="openDialog(2)">
              الرسوم والالتزامات الماديه
            </li>
            <li class=" me-lg-5 cairo" (click)="openDialog(3)">
              الشروط والالتزامات
            </li>
            <li class=" me-lg-5 cairo" (click)="openDialog(4)">
              الالغاء و الاسترجاع
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="p-1 col-12" style="background-color: #002a3a">
      <div class="flex-column d-flex justify-content-center align-items-center">
        <p class=" cairo text-white pt-2">
          جميع الحقوق محفوظة
          <span class="cairo"> لمنصة مهندسي @٢٠٢٣  </span>
        </p>
        <p class="cairo  text-white">
          صُمم وبُرمج بواسطة
          <a
            href="https://www.misk.com.eg"
            class="companyLink text-decoration-underline"
          >
            مسك للحلول التقنية</a
          >
        </p>
      </div>
    </div>
