* {
  color: #004057;
}
p,label,h3, div{
  font-family: 'cairo';
}
.is-invalid{
  border-left: 4px solid #f2564b;
}
.is-valid{
  border-left: 4px solid #18af9a;}

form-group {
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 6px;
  width: auto;
}
.form-group:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.form-group input {
  display: inline-block;
  width: auto;
  border: none;
}
.form-group input:focus {
  box-shadow: none;
}
.cairo{
  font-family: 'cairo';
}

.slider{
left: 0;
position: absolute;
top: 0;
}
.submitBtn{
  transition: all 0.5s ease-in-out;
  background: #18af9a
}
.submitBtn:hover{
  background-color: #007666;
}
.myLink{
  transition: all 0.5s ease-in-out;
}
.myLink:hover{
color: #2b7c71;

transform: scale(1.5);
}