<div class="row" id="service">
  <div class="col-12 mt-4"><h1 class="text-center">خدماتنا</h1></div>
  <div
    class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex p-4"
  >
    <div>
      <p>
        تقدم هذه الخدمة من أجل تحليل الوضع الحالي للمشاريع وبيان الحلول الممكنة
        لتحسين جدوى المشروع وتقدير التكلفة الفنية.
      </p>
      <small>عرض التفاصيل</small
      ><img
        src="../../../../assets/icons/arrow-left.png"
        width="15"
        height="15"
      />
    </div>
    <img src="../../../../assets/tempImages/Rectangle 172.png" />
  </div>
  <div
    class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex p-4"
  >
    <div>
      <p>
        تقدم هذه الخدمة من أجل تحليل الوضع الحالي للمشاريع وبيان الحلول الممكنة
        لتحسين جدوى المشروع وتقدير التكلفة الفنية.
      </p>
      <small>عرض التفاصيل</small
      ><img
        src="../../../../assets/icons/arrow-left.png"
        width="15"
        height="15"
      />
    </div>
    <img src="../../../../assets/tempImages/Rectangle 170.png" />
  </div>
  <div
    class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex p-4"
  >
    <div>
      <p>
        تقدم هذه الخدمة من أجل تحليل الوضع الحالي للمشاريع وبيان الحلول الممكنة
        لتحسين جدوى المشروع وتقدير التكلفة الفنية.
      </p>
      <small>عرض التفاصيل</small
      ><img
        src="../../../../assets/icons/arrow-left.png"
        width="15"
        height="15"
      />
    </div>
    <img src="../../../../assets/tempImages/Rectangle 178.png" />
  </div>
  <div
    class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex p-4"
  >
    <div>
      <p>
        تقدم هذه الخدمة من أجل تحليل الوضع الحالي للمشاريع وبيان الحلول الممكنة
        لتحسين جدوى المشروع وتقدير التكلفة الفنية.
      </p>
      <small>عرض التفاصيل</small
      ><img
        src="../../../../assets/icons/arrow-left.png"
        width="15"
        height="15"
      />
    </div>
    <img src="../../../../assets/tempImages/Rectangle 180.png" />
  </div>
</div>
<!-- //////////////////How To Work/////////////////// -->
<div class="row">
  <div class="col-12 mt-4 mb-4"><h1 class="text-center">كيف نعمل</h1></div>
  <div class="col-12 mb-4">
    <p class="text-center">
      تعمل ثقافة الشركة هذه خارج هيكل المكتب النموذجي. غالبًا ما يعمل الموظفون
      معًا وهناك تركيز على العصف الذهني والتعليقات والابتكار.
    </p>
  </div>
  <div class="col-1"></div>
  <div
    class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-center p-2"
  >
    <img src="../../../assets/icons/select.png" class="d-block m-auto" />
    <b>إبحث عن مزود الخدمة</b>
    <p>
      إبحث في قائمة مزودى الخدمات واعثر على الحساب الأنسب لمشروعك وتصفح أعمالهم
      السابقة أو منتجاتهم.
    </p>
  </div>
  <div
    class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-center p-2"
  >
    <img src="../../../assets/icons/checklist.png" class="d-block m-auto" />
    <b>قم بتعبئة النموذج</b>
    <p>
      عند العثور على الشركة المناسبة إختر طلب تسعيرة وقم بتعبئة نموذج الخدمة
      الإنشائية المطلوبة مع إرفاق كافة المستندات.
    </p>
  </div>
  <div
    class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-center p-2"
  >
    <img src="../../../assets/icons/team.png" class="d-block m-auto" />
    <b>إنتظر قبول الطلب</b>
    <p>
      عند استقبال الشركة للطلب ستقوم بمراجعته وتقييمه, سيتم قبوله أو رفضه مع
      إعلامك بذلك عن طريق رسالة بريد إلكترونى.
    </p>
  </div>
  <div
    class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-center p-2"
  >
    <img src="../../../assets/icons/contact.png" class="d-block m-auto" />
    <b> تواصل لاستكمال الطلب</b>
    <p>
      عند قبول الطلب ستفتح نافذة محادثة للتواصل لاستكمال الطلب وتسليم التسعيرة.
    </p>
  </div>
  <div
    class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-12 text-center p-2"
  >
    <img src="../../../assets/icons/contact.png" class="d-block m-auto" />
    <b>تواصل لاستكمال الطلب</b>
    <p>
      عند قبول الطلب ستفتح نافذة محادثة للتواصل لاستكمال الطلب وتسليم التسعيرة.
    </p>
  </div>
  <div class="col-1"></div>
</div>
