.secondColor{
      color:#18AF9A;
    }
    .cairo,span{
      font-family: 'cairo';
    }
    .projectInfo{
      color: #004057;
      font-family: 'cairo';
      .head{
  font-size: 19px;
      }
      span{
        font-size: 14px;
  
      }
    }
    .mainBk{
      background-color: #004057;
      color: #FFF;
     }