
      <div class="card mb-3 border-0 rounded-0 col-12 "*ngIf="state === 1">
        <div class="row g-0">
          <div class="col-md-2">
            <img
              src="{{ iProfileAdmin.adminProfile.profilePicturePath }}"
              class="img-fluid rounded-1 h-100"
              alt="..."
            />
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h5 class="card-title nameProfile">
                  {{ iProfileAdmin.adminProfile.firstName }}
                  {{ iProfileAdmin.adminProfile.lastName }}
                </h5>
                <span class="edit" (click)="changeFirstOrLastName()"
                  >تعديل
                </span>
              </div>
              <!-- <h5 class="card-title nameProfile">Admin ADMIN ADMIN admin</h5> -->

              <p class="card-text emANumProfile">
                {{ iProfileAdmin.phoneNumber }}
              </p>
              <p class="card-text emANumProfile">{{ iProfileAdmin.email }}</p>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="state === 2">
      
      
            <div class="card mb-3 border-0 rounded-0 col-12">
              <div class="row g-0">
                <div class="col-md-2">
                  <img
                    src="{{ iProfileAdmin.adminProfile.profilePicturePath }}"
                    class="img-fluid rounded-1 h-100"
                    alt="..."
                  />
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <div class="d-flex flex-column justify-content-between">
                      <form class="example-form" [formGroup]="userformlogin">
                        <div class="row g-2">
                          <div class="col-md">
                            <div class="form-floating">
                              <input
                                type="text"
                                class="form-control"
                                name="firstName"
                                id="firstName"
                                placeholder="admin"
                                value="text"
                                formControlName="firstName"
                              />
                              <label for="firstName">اسم الاول </label>
                            </div>
                          </div>
                          <div class="col-md">
                            <div class="form-floating">
                              <input
                                type="text"
                                class="form-control"
                                name="lastName"
                                id="lastName"
                                placeholder="admin"
                                value="text"
                                formControlName="lastName"
                              />
                              <label for="lastName">اسم عائله</label>
                            </div>
                          </div>
                        </div>
    
                        <button
                          (click)="updateAdminProfile()"
                          class="btn btndark my-3 rounded-0 px-3"
                        >
                          حفظ
                        </button>
                      </form>
                      <!-- <h5 class="card-title nameProfile "> {{iProfileAdmin.adminProfile.firstName}} {{iProfileAdmin.adminProfile.lastName}} </h5> -->
    
                      <p class="card-text emANumProfile">
                        {{ iProfileAdmin.phoneNumber }}
                      </p>
                      <p class="card-text emANumProfile">
                        {{ iProfileAdmin.email }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          
        </ng-container>

      <div class="bg-white py-2 px-4 d-flex justify-content-between align-items-center col-12">
        <p class="stutsProfile">تم اضافته <span></span></p>
        <p class="stutsProfile">
          منذ {{ iProfileAdmin.adminProfile.dateCreated | date }}
        </p>
      </div>

      <div class="alert  position-fixed bottom-0 end-50 border-0 rounded-0 toastinfo end10 text-white" role="alert" *ngIf="show">
        {{message}}
      </div>
      