.page-link
{
  color:#004057;
  outline: none;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;

}
.mainBk{
      background-color: #004057;
      color: #FFF;
     }