<nav aria-label="..." class="w-100 d-flex justify-content-center">
      <ul class="pagination w-100">
        <li class="page-item">
          <button
            (click)="prev()"
            class="page-link mainColor"
            [disabled]="page <= 1"
          >
            السابق
          </button>
        </li>

        <ng-container
          class="page-item"
          *ngFor="let mypage of pagenation; let i = index"
        >
          <li class="page-item">
            <a
              class="page-link mainColor"
              [ngClass]="mypage + 1 == page ? 'mainBk' : ''"
              >{{ mypage + 1 }}</a
            >
          </li>
        </ng-container>
        <li class="page-item">
          <button
            (click)="next()"
            class="page-link mainColor"
            [disabled]="page == pagenation.length"
          >
            التالي
          </button>
        </li>
      </ul>
    </nav>