
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$fontCairoFamily: 'Cairo', sans-serif;
$fontTajawalFamily: 'Tajawal', sans-serif;
$textColor:#18AF9A;
$Alltext:#004057;
$bgGrayD:#C7C7C7;
// $textColor:#18AF9A;
$bgButton:#F3FBFA;
$font25Size:25px;
$font18Size:18px;
$font16Size:16px;
$font40Size:40px;
$font20Size:20px;
$font15Size:15px;


@mixin titleTotal($fontS,$fontfa){
  font-size: $fontS;
  font-family:$fontfa;
}


a:focus ,a:hover,button:focus ,button:hover {
  background-color: #004057 !important;
  color: white !important;
}
button>i ,.typeCom
{
  color: #18AF9A !important;

}
input[type="search"]{
  &:hover,&:active ,&:focus{
    border: 0px none transparent !important;
  }

}
.title
{
  line-height:0.5;
  font-size: 90%;
}
.textFontSizeCard{
  font-size: 90%;
}
.we-25 {
  width: 12em !important;
  font-size: 1.1em!important;

}
@media only screen and (min-width: 768px) {
  .sizew
  {
    flex: 0 0 auto;
    width: 63.333333% ;
  }

}

.informationDownload{
  width: 45% !important;
  text-decoration: none !important;
  height: 35px  !important;
  overflow: hidden;
white-space:nowrap;


}
.m-3>.justify-content-around>.btn.rounded-0.m-1{
  @include titleTotal($font25Size,$fontTajawalFamily)
}
