
<div class="fluid-container mt-3">
  <div class="row">
    <div class="col-8">
      <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col card">
          <p class="p-1 mt-3">المشاريع الحاليه</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">

                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">

                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 mt-3">
      <div class="row">
        <div class="col card">
          <p class="p-1 mt-3">المشاريع المنتهيه</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">
                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">

                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="col-6 mt-3">
          <div class="card p-2">
            <div class="row">
              <div class="col-md-5 mt-4">
                <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-md-7">

                <div class="card-body">
                  <p>اسم العميل:ساره عبدالعزيز</p>
                  <p>بلد الاقامه:الامارات</p>
                  <p >اسم المشروع : مجمع سكنى</p>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    </div>

  </div>

    <div class="col-4">
      <div class="row">

        <div class="col-6">
          <div class="content bg-white p-5 text-center">
            <div class="project p-5 bg-warning">20</div>
            <p>طلب مشروع</p>
          </div>
        </div>

        <div class="col-6">
          <div class="content bg-white p-5 text-center">
            <div class="project p-5 bg-success">10</div>
            <p>مشاريع معلقه</p>
          </div>
      </div>

     <div class="col-12 mt-4">
      <div class="content bg-white p-5 text-center">

      </div>
     </div>

    </div>

  </div>
</div>

