<section class="container-fluid">
  <div class="section-1 mt-4">
    <div class="row">
      <div class="col-6 content">
        <a href="#" class="btn text-white " style="background-color: #004958;">طلبات الانشاءات <span>20</span></a>
      </div>


      <div class="col-6  content">
        <a href="/Spmanagement/project/request" class="btn" style="background-color: white;">طلبات الاستشارات <span>0</span></a>
      </div>
    </div>


    <div class="row nav mt-4">

      <div class="col-3   text-center contnet">
        <a href="#" class="btn text-success">ازاله</a>
      </div>

      <div class="col-3   text-center contnet">
        <a href="#" class="btn text-white contnet bg-success">تشطيب</a>
      </div>

      <div class="col-3  text-center contnet">
        <a href="#" class="btn text-success">ترميم</a>
      </div>

      <div class="col-3   text-center contnet">
        <a href="#" class="btn text-success">انشاء</a>
      </div>



    </div>

  </div>



  <div class="section-2 mt-2">
    <div class="row">
      <div class="col-4">
        <div class="row">

          <ng-container *ngFor="let project of Listprojects">

            <ng-container *ngIf="this.select==project.id">
              <div class="col-12 card card-1 mt-4" (click)="showData(project.id)"
                style="background:#004958; color:white;">
                <p><i class="fa fa-user "></i>
                  <span>{{project.clientProfile.firstName}} {{project.clientProfile.lastName}}</span>
                  <a class="btn text-success">تشطيب</a>
                </p>
                <p><i class="fa fa-location-dot "></i>
                  {{project.district.nameAr}},{{project.district.city.nameAr}},
                  {{project.district.city.region.nameAr}} </p>
                <p><i class="fa fa-clock-four "></i>{{project.dateCreated}}</p>
              </div>
            </ng-container>


            <ng-container *ngIf="this.select!=project.id">
              <div class="col-12 card card-1 mt-4" (click)="showData(project.id)"
                style="background:white;  color:#004057;">
                <p><i class="fa fa-user "></i>
                  <span>{{project.clientProfile.firstName}} {{project.clientProfile.lastName}}</span>
                  <a class="btn text-success">تشطيب</a>
                </p>
                <p><i class="fa fa-location-dot "></i>
                  {{project.district.nameAr}},{{project.district.city.nameAr}},
                  {{project.district.city.region.nameAr}} </p>
                <p><i class="fa fa-clock-four "></i>{{project.dateCreated}}</p>
              </div>
            </ng-container>

          </ng-container>


          <!--- <div class="col-12 card card-1 mt-4" >
          <p><i class="fa fa-user "></i><span>ساره عبدالعزيز</span>
            <a class="btn text-success">تشطيب</a>
          </p>
          <p><i class="fa fa-location-dot "></i>النزهه الدجديده, القاهره</p>
          <p><i class="fa fa-clock-four "></i>25/8/1-11:00am</p>
        </div>

        <div class="col-12 card card-1 mt-4">
          <p><i class="fa fa-user "></i><span>ساره عبدالعزيز</span>
            <a class="btn text-success">تشطيب</a>
          </p>
          <p><i class="fa fa-location-dot "></i>النزهه الدجديده, القاهره</p>
          <p><i class="fa fa-clock-four "></i>25/8/1-11:00am</p>
        </div>
      -->

        </div>

      </div>


      <div class="col-8 mt-4 mb-3">

        <ng-container *ngIf="select!=0">
          <div class="row">
            <div class="col-12">
              <div class="card card-2 p-0">
                <div class="row">


                  <div class="col p-4 ">
                    <div class="row ">

                      <div class="col-5">
                        كود الطلب : <span>{{selectProject.code}}</span>
                      </div>
                      <div class="col-1">|</div>
                      <div class="col-5">
                        اسم المشروع : <span>{{selectProject.name}}</span>
                      </div>
                    </div>
                    <p class="pt-4">موضوع المشروع:<span>{{selectProject.subject}}</span></p>
                  </div>

                  <div class="col-1 rep ">

                    <i class="fa-solid fa-handshake ">
                    </i>

                    <a href="" class="btn text-white">الرد</a>


                  </div>


                </div>
              </div>

            </div>

            <div class="col-12 mt-3  ">
              <div class="card card-2">
                <p>صلاحيه عرض السعر: <span>{{selectProject.offers[0].period}}</span></p>
                <p>التصنيف الرئيسى للمشروع: <span>{{selectProject.projectCategory.name}}</span></p>
                <p>التصنيف الفرعى للمشروع: <span>{{selectProject.projectSubCategory.name}}</span></p>
              </div>
            </div>


            <div class="col-12 mt-3 ">
              <div class="card card-2">
                <p>عنوان المشروع :
                  <span>{{selectProject.district.nameAr}} , {{selectProject.district.city.nameAr}} ,
                    {{selectProject.district.city.region.nameAr}} </span>
                </p>
                <p>رقم القطعه : <span>{{selectProject.plotNumber}} </span></p>
                <p>رقم المخطط التنظيمى : <span>{{selectProject.organizationalChartNumber}}</span></p>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-6 mt-3">
                  <div class="card card-3">
                    <h6>مكونات المشروع</h6>
                    <ul>
                      <ng-container *ngFor="let component of projectComponent">
                        <div>
                          <li (click)="toggoleComponent(component.id)">
                            <ng-container *ngIf="descComponent[component.id]==1">
                              <i class="fa fa-angle-down text-success" aria-hidden="true"></i>
                            </ng-container>

                            <ng-container *ngIf="descComponent[component.id]!=1">
                              <i class="fa fa-greater-than text-success"></i>
                            </ng-container>

                            {{component.name}}
                          </li>

                          <ng-container *ngIf="descComponent[component.id]==1">
                            <p>{{component.description}} مشروع مشروع مشروع</p>
                          </ng-container>

                        </div>
                      </ng-container>

                    </ul>
                  </div>
                </div>

                <div class="col-6 mt-3">
                  <div class="card card-3">
                    <h6>الاعمال المطلوبه</h6>
                    <ul>
                      <ng-container *ngFor="let work of this.RequiredWorks">

                        <div>

                          <li (click)="toggoleWork(work.id)">
                            <ng-container *ngIf="descWork[work.id]==1">
                              <i class="fa fa-angle-down text-success" aria-hidden="true"></i>
                            </ng-container>

                            <ng-container *ngIf="descWork[work.id]!=1">
                              <i class="fa fa-greater-than text-success"></i>
                            </ng-container>
                            {{work.name}}
                          </li>

                          <ng-container *ngIf="descWork[work.id]">
                            <ul>
                              <ng-container *ngFor="let requiredDocument of work.requiredDocuments">

                                <li>
                                  <p>{{requiredDocument.name}}</p>
                                </li>

                              </ng-container>
                            </ul>

                          </ng-container>

                        </div>


                      </ng-container>


                    </ul>
                  </div>
                </div>

                <div class="col-6 mt-3">
                  <div class="card card-3">
                    <h6>الملفات الخاصه بالمشروع</h6>


                    <ng-container *ngFor=" let document of selectProject.clientProjectDocuments">
                      <div>
                        <li (click)="toggoleDocument(document.id)">
                          <ng-container *ngIf="descDocument[document.id]==1">
                            <i class="fa fa-angle-down text-success" aria-hidden="true"></i>
                          </ng-container>

                          <ng-container *ngIf="descDocument[document.id]!=1">
                            <i class="fa fa-greater-than text-success"></i>
                          </ng-container>
                          {{document.file}}
                        </li>


                        <ng-container *ngIf="descDocument[document.id]">
                          <ul>
                            <li> {{document.filePath}}</li>
                          </ul>
                        </ng-container>


                      </div>

                    </ng-container>





                  </div>

                </div>



              </div>

            </div>


          </div>
        </ng-container>
      </div>


    </div>

  </div>


</section>
