
<ng-container *ngIf="result==0">
  <div class="noresult mt-5">
    لا توجد نتائج عرض
  </div>
</ng-container>

  <div class="section-2 mt-2">
    <div class="row">
      <div class="col-4">
        <div class="row">

          <ng-container *ngFor="let project of Listprojects">

            <ng-container *ngIf="this.select==project.id">
              <div class="col-lg-12 card card-1 mt-4" (click)="showData(project.id)"
                style="background:#004958; color:white;">
                <p><i class="far fa-user "></i>
                  <span>{{project.clientProfile.firstName}} {{project.clientProfile.lastName}}</span>
                  <a class="btn">تشطيب</a>
                </p>
                <p><i class="fa fa-location-dot "></i>
                  {{project.district.nameAr}},{{project.district.city.nameAr}},
                  {{project.district.city.region.nameAr}} </p>
                <p><i class="far fa-calendar-alt "></i>{{project.dateCreated}}</p>
              </div>
            </ng-container>


            <ng-container *ngIf="this.select!=project.id">
              <div class="col-lg-12 card card-1 mt-4" (click)="showData(project.id)"
                style="background:white;  color:#004057;">
                <p><i class="far fa-user "></i>
                  <span>{{project.clientProfile.firstName}} {{project.clientProfile.lastName}}</span>
                  <a class="btn">تشطيب</a>
                </p>
                <p><i class="fa fa-location-dot "></i>
                  {{project.district.nameAr}},{{project.district.city.nameAr}},
                  {{project.district.city.region.nameAr}} </p>
                <p><i class="far fa-calendar-alt  "></i>{{project.dateCreated}}</p>
              </div>
            </ng-container>

          </ng-container>


          </div>





      <nav aria-label="Page navigation" class="mt-4 mb-3" *ngIf="result==1">
        <ul class="pagination">

          <ng-container *ngIf="page==1">
          <li class="page-item disabled">
            <button class="page-link btn p-1 px-3" tabindex="-1">السابق</button>
          </li>
          </ng-container>

           <ng-container *ngIf="page!=1">
            <li class="page-item">
              <button class="page-link btn p-1 px-3" (click)="changepage(page-1)" tabindex="-1">السابق</button>
            </li>
            </ng-container>

          <ng-container *ngFor="let p of pages">
            <ng-container *ngIf="page==p">
              <li class="page-item active" ><button class="page-link btn p-1 px-3" (click)="changepage(p)">{{p}}</button></li>
            </ng-container>

            <ng-container *ngIf="page!=p">
              <li class="page-item"><button class="page-link btn p-1 px-3" (click)="changepage(p)">{{p}}</button></li>
            </ng-container>

          </ng-container>

          <ng-container *ngIf="page==pages.length">
          <li class="page-item disabled">
            <button class="page-link btn p-1 px-3">التالى</button>
          </li>
         </ng-container>

         <ng-container *ngIf="page!=pages.length">
          <li class="page-item">
            <button class="page-link btn p-1 px-3" (click)="changepage(page+1)">التالى</button>
          </li>
         </ng-container>

        </ul>
      </nav>

      </div>


      <div class="col-lg-8 mt-4 mb-3">

        <ng-container *ngIf="select!=0">
          <div class="row">
            <div class="col-lg-12">
              <div class="card card-2 p-0">
                <div class="row">

                  <div class="col-lg-10 p-4 ">
                    <div class="row ">

                      <div class="col-lg-5">
                        كود الطلب : <span>{{selectProject?.code}}</span>
                      </div>
                      <div class="col-lg-1">|</div>
                      <div class="col-lg-5">
                        اسم المشروع : <span>{{selectProject?.name}}</span>
                      </div>
                    </div>
                    <p class="pt-4">موضوع المشروع:<span>{{selectProject?.subject}}</span></p>
                  </div>

                   <div class="col-lg-1 rep">

                    <a href="/Spmanagement/projects/all/request"  style="margin-right:30%;" class="btn text-white" (click)="addIdProject(selectProject.id)" >
                      <i class="fa-solid fa-handshake">
                      </i>
                      الرد
                    </a>
                  </div>


                </div>
              </div>

            </div>

            <div class="col-lg-12 mt-3 ">
              <div class="card card-2">
                <p>صلاحيه عرض السعر: <span>{{selectProject.offers[0]?.period}}</span></p>
                <p>التصنيف الرئيسى للمشروع: <span>{{selectProject.projectCategory?.name}}</span></p>
                <p>التصنيف الفرعى للمشروع: <span>{{selectProject.projectSubCategory?.name}}</span></p>
              </div>
            </div>


            <div class="col-12 mt-3">
              <div class="card card-2">
                <p>عنوان المشروع :
                  <span>{{selectProject.district?.nameAr}} , {{selectProject.district?.city?.nameAr}} ,
                    {{selectProject.district?.city?.region?.nameAr}} </span>
                </p>
                <p>رقم القطعه : <span>{{selectProject?.plotNumber}} </span></p>
                <p>رقم المخطط التنظيمى : <span>{{selectProject?.organizationalChartNumber}}</span></p>
              </div>
            </div>

            <div class="col-lg-12 mt-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card card-3">
                        <h6>مكونات المشروع</h6>
                        <ul>
                          <ng-container *ngFor="let component of projectComponent">
                            <div>
                              <li >



                                  <i class="fa fa-greater-than "></i>


                                {{component.name}}
                              </li>



                            </div>
                          </ng-container>

                        </ul>
                      </div>
                    </div>


                      <div class="col-lg-12 mt-3">
                        <div class="card card-3">
                          <h6>الملفات الخاصه بالمشروع</h6>
                          <ul>
                            <ng-container *ngFor=" let document of selectProject.clientProjectDocuments">


                              <li style="border:none; background-color:transparent;"
                              (click)="downloadFile(document.filePath,document.file)"
                              >
                                <i class="fa fa-download  mt-3" aria-hidden="true"></i>
                                {{document?.file.substring(0,35)}}..
                              </li>

                            </ng-container>
                          </ul>

                        </div>

                      </div>


                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="card card-3">
                    <h6>الاعمال المطلوبه</h6>
                    <ul>
                      <ng-container *ngFor="let work of this.RequiredWorks">

                        <div>

                          <li >

                              <i class="fa fa-greater-than "></i>

                            {{work.name}}
                          </li>


                        </div>


                      </ng-container>


                    </ul>
                  </div>
                </div>


              </div>

            </div>


          </div>
        </ng-container>
      </div>


    </div>

  </div>





