

<form action="">
  <div class="row mt-5">
    <h5 class="bd-title">استكمال البيانات الخاصه بك</h5>
    <div class="col mt-5">
      <div class="form-outline">
      <label for="" class="form-label">نوع الخدمه</label>
      <input type="text" class="form-control form-control-lg">
      </div>
    </div>

    <div class="col mt-5">

      <div class="form-outline">
      <label for="" class="form-label">اسم الشركه</label>
      <input type="text" class="form-control form-control-lg">
      </div>
    </div>

    <div class="col mt-5">
      <div class="form-outline">
      <label for="" class="form-label">رقم تسجيل الشركه</label>
      <input type="text" class="form-control form-control-lg">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col mt-5">
      <label for="" class="form-label">شهاده التأمينات الاجتماعيه</label>
      <div class="input-group custom-file-button form-control">
        <input type="file" class="form-control border-0"/>
      </div>

    </div>
    <div class="col mt-5">
      <label for="" class="form-label">خطاب بنكى برقم الايبان</label>
      <div class="input-group custom-file-button form-control">
        <input type="file" class="form-control border-0"/>
      </div>
    </div>
    <div class="col mt-5">
      <label for="" class="form-label">شهاده الزكاه والدخل</label>
      <div class="input-group custom-file-button form-control">
        <input type="file" class="form-control border-0"/>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <button class="btn btn-success-style form-control bg-success text-white" type="submit">
      حفظ استكمال البيانات
    </button>
  </div>

</form>




