

    <div class="row mt-5">
      <h5 class="bd-title">استكمال البيانات الخاصه بك</h5>
      <div class="col mt-5">
        <div class="form-outline">
        <label for="" class="form-label">نوع الخدمه</label>
        <input type="text" class="form-control form-control-lg">
        </div>
      </div>

      <div class="col mt-5">

        <div class="form-outline">
        <label for="" class="form-label">اسم الشركه</label>
        <input type="text" class="form-control form-control-lg">
        </div>
      </div>

      <div class="col mt-5">
        <div class="form-outline">
        <label for="" class="form-label">رقم تسجيل الشركه</label>
        <input type="text" class="form-control form-control-lg">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-5">
        <label for="" class="form-label">شهاده التأمينات الاجتماعيه</label>
        <div class="input-group custom-file-button form-control">
          <input type="file" class="form-control border-0"/>
          <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
        </div>

      </div>
      <div class="col mt-5">
        <label for="" class="form-label">خطاب بنكى برقم الايبان</label>
        <div class="input-group custom-file-button form-control">
          <input type="file" class="form-control border-0"/>
          <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
        </div>
      </div>
      <div class="col mt-5">
        <label for="" class="form-label">شهاده الزكاه والدخل</label>
        <div class="input-group custom-file-button form-control">
          <input type="file" class="form-control border-0"/>
          <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>



