<div class="d-flex" id="wrapper">
  <!-- Sidebar -->

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div
      class="container-fluid"
      style="background-color: #eef0f8; padding-top: 78px"
    >
      <div class="row">
        <div class="position-fixed pe-0 col-2 col-md-3 col-lg-2">
          <!-- <div class="position-sticky top-0"> -->
            <div
              class="m-0"
              style="background-color: #004057; font-weight: 600"
              id="sidebar-wrapper"
              [hidden]="status"
            >
              <div class="list-group-flush">
                <div class="text-white ">
                  <div class="p-2  pt-4 activeHome"
                    routerLink="/Admin/dashboard"
                    routerLinkActive="active">
                    <img
                      src="assets/icons/growth.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"/>
                    <span class="px-2 fontStyle texticon">  رؤيه العامه </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/offers"
                    routerLinkActive="active"
                  >
                    <img src="assets/icons/blueprint.png" alt="" srcset="" width="28px" height="28px" />
                    <!-- <i class="fa fa-users fs-4" width="30px" height="30px" ></i> -->
                    <!-- <i class="fa fa-hand-holding-dollar fs-4"></i> -->
                    <!-- <mat-icon>users</mat-icon> -->
                    <span class="px-2 fontStyle texticon"> عروض الأسعار </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/project"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/images/blueprint.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"
                    />
                    <span class="px-2 fontStyle texticon"> المشاريع </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/sp"
                    routerLinkActive="active"
                  >
                    <img src="assets/icons/employee (1).png" alt="" srcset="" width="28px" height="28px" />
                    <!-- <i class="fa fa-users fs-4" width="30px" height="30px"></i> -->

                    <span class="px-2 fontStyle texticon"> مزودي الخدمة </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/clients"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/icons/user (3).png"
                      alt=""
                      srcset=""
                      width="30px"
                      height="30px"
                    />
                    <span class="px-2 fontStyle texticon"> العملاء </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/contributions"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/images/id-card.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"
                    />
                    <span class="px-2 fontStyle texticon"> الاشتراكات </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/messages"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/images/chat.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"
                    />
                    <span class="px-2 fontStyle texticon"> الرسائل </span>
                  </div>
                  <div
                    class="p-2 my-4 flex justify-content-between"
                    routerLink="/Admin/payments"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/images/hand.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"
                    />
                    <span class="px-2 fontStyle texticon"> المدفوعات </span>
                  </div>
                  <div
                    class="p-2 my-4"
                    routerLink="/Admin/settings"
                    routerLinkActive="active"
                  >
                    <img
                      src="assets/images/settings.png"
                      alt=""
                      srcset=""
                      width="28px"
                      height="28px"
                    />
                    <span class="px-2 fontStyle texticon"> الإعدادات </span>
                  </div>
                  <!-- <div class="p-2 my-4 px-2" (click)="clickEvent()">
                      <img src="assets/images/next.png" alt="" srcset="" width="28px" height="28px" />
                    </div> -->
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>
        <div class="col-2 col-md-3 col-lg-2 " [hidden]="status"></div>
        <div
        class="mb-3"
          style="min-height: 100vh"
          [ngClass]="!status ? 'col-10 col-md-9 col-lg-10' : 'col-12'"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
