<div class="d-flex" id="wrapper">
  <!-- Sidebar -->

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>
    <div
      class="container-fluid"
      style="background-color: #eef0f8; padding-top: 78px"
    >
      <div class="row m-0">
      <app-sidebar [data]="data"></app-sidebar>
        <div class="col-2 col-md-3 col-lg-2 " [hidden]="status"></div>
        <div
        class="mb-3"
          style="min-height: 100vh"
          [ngClass]="!status ? 'col-10 col-md-9 col-lg-10' : 'col-12'"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
