<div
[ngClass]="
isActive ? 'active' : 'bg-white'
"
  class="card rounded-1 position-relative d-flex flex-row justify-content-between p-3 ps-4 mb-2 border-0 d-flex"
>
  <div class="me-1">
    <div class="mb-1">
      <i class="icon fa-regular fa-user ms-2"></i>
      <span class="textcard"> {{ project.name }} </span>
    </div>
    <div class="mb-1">
      <i class="icon fa fa-location-dot ms-2"></i>
      <span class="textcard">
        {{ project.district.nameAr }} , {{ project.district.city.nameAr }} ,
        {{ project.district.city.region.nameAr }}
      </span>
    </div>
    <div>
      <i class="icon fa-solid fa-calendar-days ms-2"></i>
      <span class="textcard"> {{ project.dateCreated }}</span>
    </div>

    <i class="fa-regular fa-circle-ellipsis-vertical"></i>
  </div>
  <span *ngIf="userType == 'client'"
    class="badge bg-white mt-1 mainColor"
    style="height: fit-content; padding: 10px"
    >{{ project.offers.length }} رد</span
  >

  <div *ngIf="userType == 'client'" class="position-absolute dotCon">
    <button
      class="dots"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu
      #menu="matMenu"
      style="background-color: #18af9a"
      class="matBtnCon"
    >
      <button mat-menu-item>
        <span (click)="showProject()">عرض المشروع</span>
      </button>
      <button mat-menu-item>
        <span (click)="deleteProject(project.id)">حذف المشروع</span>
      </button>
    </mat-menu>
  </div>
</div>
