<div class="row">
    <div class="col-12 mt-4 mb-4"><h1 class="text-center">من أعمال مزودى الخدمات لدينا</h1></div>
    <div class="container col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
        <img src="../../../../assets/tempImages/Rectangle 1.png" height="370" width="90%">
        <div class="centered text-center">
            <h6>مجموعة أبراج سكنية</h6>
            <small>السعودية, مكة المكرمة</small><br>
            <button type="button" class="btn">تصفح</button>
        </div>
      </div>
      <div class="container col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
        <img src="../../../../assets/tempImages/Rectangle 1 (2).png" height="370" width="90%">
        <div class="centered text-center">
            <h6>مجموعة أبراج سكنية</h6>
            <small>السعودية, مكة المكرمة</small><br>
            <button type="button" class="btn">تصفح</button>
        </div>
      </div>
      <div class="container col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
        <img src="../../../../assets/tempImages/Rectangle 2.png" height="370" width="90%">
        <div class="centered text-center">
            <h6>مجموعة أبراج سكنية</h6>
            <small>السعودية, مكة المكرمة</small><br>
            <button type="button" class="btn">تصفح</button>
        </div>
      </div>
      <div class="container col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 mt-4">
        <img src="../../../../assets/tempImages/Rectangle 3.png" height="370" width="90%">
        <div class="centered text-center">
            <h6>مجموعة أبراج سكنية</h6>
            <small>السعودية, مكة المكرمة</small><br>
            <button type="button" class="btn">تصفح</button>
        </div>
      </div>
 </div>
