<div class="container-fluid my-4">
  <div class="col-12 d-flex flex-row justify-content-between">
    <div class="col-3">
      <div class="example-button-row mb-2">
        <button
          routerLink="/Admin/settings/change"
          routerLinkActive="active"
          mat-button
          class="bg-white col-12 buttonChose border-0 py-2"
        >
          الملف الشخصي
        </button>
      </div>

      <div class="example-button-row">
        <button
          mat-button
          class=" bg-white mb-2 col-12 buttonChose border-0 py-2"
          routerLink="/Admin/settings/user"
          routerLinkActive="active"
        >
          المستخدمين
        </button>
      </div>
    </div>
    <div class="col-9 me-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
