<div class="container-fluid my-4">
  <div class="col-12 d-flex flex-row justify-content-between">
    <div class="col-3">
      <div class="example-button-row mb-2">
        <button
          routerLinkActive="active"
          mat-button
          class="bg-white col-12 buttonChose border-0 py-2"
          (click)="getProfileAdmin()"
        >
          الملف الشخصي
        </button>
      </div>
      <a class="btn edit" (click)="changeFirstOrLastName()">تعديل </a>

      <div class="example-button-row">
        <button
          mat-button
          class=" bg-white mb-2 col-12 buttonChose border-0 py-2"
          routerLink="/Admin/settings/user"
          routerLinkActive="active"
        >
          المستخدمين
        </button>
      </div>
    </div>
    <div class="col-9 me-2">
      <!-- <router-outlet></router-outlet> -->
      <div class="card mb-3 border-0 rounded-1" >
        <div class="row g-0">
          <div class="col-md-2">
            <img
              src="{{iProfileAdmin.adminProfile.profilePicturePath}}"
              class="img-fluid rounded-1 h-100"
              alt="..."
            />
          </div>
          <div class="col-md-10">
            <div class="card-body" *ngIf="!edit">
              <div class="d-flex justify-content-between">
                <h5 class="card-title nameProfile "> {{iProfileAdmin.adminProfile.firstName}} {{iProfileAdmin.adminProfile.lastName}} </h5>
              <a class="btn edit">تعديل </a>

            </div>
            <div *ngIf="state==2"  class="d-flex justify-content-between">
              <!-- <form class="example-form"> -->
          <form class="example-form" [formGroup]="userformlogin">
              <div class="row g-2">
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="firstName" id="firstName" placeholder="admin" value="text" formControlName="firstName" >
                    <label for="firstName">First Name</label>
                  </div>

                </div>
                <div class="col-md">
                  <div class="form-floating">
                    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="admin" value="text" formControlName="lastName" >
                    <label for="lastName">Last Name</label>
                  </div>
                </div>
              </div>


               <button (click)="updateAdminProfile()"  class="btn btn-dark my-2">حفظ</button>

            </form>
          </div>
              <p class="card-text emANumProfile">{{iProfileAdmin.phoneNumber}}</p>
              <p class="card-text emANumProfile">{{iProfileAdmin.email}}</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
