

.overlay {
  *{
font-family: 'cairo';
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
display: flex;
  z-index: 1000;
  .popup {
    margin: auto;
width:450px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    h5{
      color: #18AF9A;
      font-size: 18px;
      font-weight: bold;
    }
label{
  font-weight: 600;
  color: #144456;

}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
 .close:hover {
  color: #18AF9A;
}
.btn{
  margin-top: 20px;
  background-color: #18AF9A;
  color: #FFF;
}

  }
}
.cairo{
  font-family: 'cairo';
}
.mainBk{
  background-color: #144456;
}



body {
  overflow-x: hidden;
  
}
span{
  font-family: 'cairo';
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {

  width: 100%;
}
@media (min-width: 768px) {
  .show {
    margin-left: 0 !important;
  }
  .hide {
    margin-left: -15rem !important;
  }
}
@media (max-width: 767px) {
  .show {
    margin-left: -15rem !important;
  }
  .hide {
    margin-left: -0 !important;
  }
}
.has-search .form-control {
  padding-left: 2.375rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #18af9a;
}
.form-control-feedback {
  margin-right: 13em;
}
@media (max-width: 767px) {
  .list-group .title{
    display: none;
    }
    .list-group .items{
      text-align: center;
    }
}

.list-group div
{
  cursor: pointer;
}
.active
{
  background-color: #2eb6a42b;
  width: fit-content;

}
.btn:focus {
  outline: none;
  box-shadow: none;
  }
.contentDiv{
  background-color: #f8fafc; padding-top: 78px
}
@media (max-width:570px) {
  .contentDiv{
   padding-top: 107px
  }
}
.askBtn{
  background-color: #004057;
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 999;
    font-size: 15px;
    transition: all 0.5s ease-in-out;
}

.askBtn:hover{
  background-color: #18AF9A;
  transform: scale(1.1);

}