<div id="wrapper">
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>

    <div
      class="container-fluid contentDiv"
    >
      <div class="row" >
        <app-sidebar [data]="data" [profileAccepted]="profileAccepted"></app-sidebar>
        <div class="col-2 col-md-3 col-lg-2" [hidden]="status"></div>
        <div [ngClass]="!status ? 'col-10 col-md-9 col-lg-10 ' : 'col-12'">
          <div >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="col-2 col-md-3 col-lg-2"></div>
      <div [ngClass]="!status ? 'col-10 col-md-9 col-lg-10 p-0 m-0 ' : 'col-12 p-0 m-0'">

        <app-footer></app-footer>
      </div>
    </div>
  </div>
  <div  class="overlay p-5" *ngIf="showpopup">
    <div class="popup p-5">
      <h5 class="text-center mb-4">نوع طلب السعر</h5>
      <a class="close" style="cursor: pointer" (click)="showpopup = false"
        >&times;</a
      >
      <div class="content">
        <form #typeForm="ngForm" (ngSubmit)="goToForm(typeForm)">
          <div class="d-flex justify-content-around">
            <ng-container *ngFor="let service of allServices">
              <div>
                <input
                  ngModel
                  type="radio"
                  id="ck1"
                  name="type"
                  #radio
                  [value]="service.id"
                />
                <label class="me-2" for="ck1"> {{ service.name }}</label>
              </div>
            </ng-container>
          </div>
          <button type="submit" class="btn w-100 text-center">إستمرار</button>
        </form>
      </div>
    </div>
  </div>
</div>
<span
(click)="openPriceRequest()"
  class="btn cairo p-3 px-4 text-white askBtn"
>
  طلب عرض السعر
</span>
<div (click)="startChatwithAdmin = true">
  <app-msg-to-admin ></app-msg-to-admin>
</div>
<div *ngIf="startChatwithAdmin">
  <app-start-chat
    [toggleStatus]="toggleStatus"
    userType="client"
    process="chat"
  ></app-start-chat>
</div>
<!-- ******************************************************** -->
