<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <app-navbar></app-navbar>

    <div
      class="container-fluid"
      style="background-color: #f8fafc; padding-top: 78px"
    >
      <div class="row" id="aside">
        <app-sidebar [data]="data"></app-sidebar>
        <div class="col-2 col-md-3 col-lg-2" [hidden]="status"></div>
        <div [ngClass]="!status ? 'col-10 col-md-9 col-lg-10 m-0 p-0' : 'col-12 m-0 p-0'">
          <div class="pt-3" style="min-height: 90vh">
            <router-outlet></router-outlet>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay p-5" *ngIf="showpopup">
    <div class="popup p-5">
      <h5 class="text-center mb-4">نوع طلب السعر</h5>
      <a class="close" style="cursor: pointer" (click)="showpopup = false"
        >&times;</a
      >
      <div class="content">
        <form #typeForm="ngForm" (ngSubmit)="goToForm(typeForm)">
          <div class="d-flex justify-content-around">
            <ng-container *ngFor="let service of allServices">
              <div>
                <input
                  ngModel
                  type="radio"
                  id="ck1"
                  name="type"
                  #radio
                  [value]="service.id"
                />
                <label class="me-2" for="ck1"> {{ service.name }}</label>
              </div>
            </ng-container>
          </div>
          <button type="submit" class="btn w-100 text-center">إستمرار</button>
        </form>
      </div>
    </div>
  </div>
</div>
<span
  (click)="openPriceRequest()"
  class="btn cairo p-3 px-4 text-white askBtn"
  style="
    background-color: #004057;
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 999;
    font-size: 15px;
  "
>
  طلب عرض السعر
</span>
<div (click)="startChatwithAdmin = true">
  <app-msg-to-admin ></app-msg-to-admin>
</div>
<div *ngIf="startChatwithAdmin">
  <app-start-chat
    [toggleStatus]="toggleStatus"
    userType="client"
    process="chat"
  ></app-start-chat>
</div>
<!-- ******************************************************** -->
