.payment-section {
      min-height: 100vh;
      .gray {
        background: rgba($color: #c7c7c7, $alpha: 0.22);
      }
      .paid {
        color: #18af9a;
      }
      .bold {
        font-weight: 600;
      }
      .notPaid {
        color: #ee9c0f;
      }
      .paidbk {
        background-color: #18af9a;
      }
      .notPaidbk {
        background-color: #ee9c0f;
      }
      .mainBk {
        background-color: #004057;
        color: #fff;
      }
      .showBtn {
        background-color: rgba($color: #18af9a, $alpha: 0.23);
        color: #18af9a;
      }
      .cairo {
        font-family: "cairo";
      }

    }
    