
.card
{
  padding:5% 5% 3% 4%;
  border: none;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;


  color:#004057;
}

.earn
{
  padding: 5% 3%;
}

img
{
  height: 93%;
}
