
.search input::placeholder
{
color:rgb(14, 136, 124);
}

.search input
{
  width: 90%;
  outline: none;
}

.card
{
  padding:5% 5% 3% 4%;
  border: none;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;


  color:#004057;
}

.earn
{
  padding: 5% 3%;
}

img
{
  height: 93%;
}

.btn
{
  padding: 6% 18%;
  color: white;
  border: none;
}

.card .fa-phone , .card .fa-user
{
  margin-left: 4%;

}
