<div class="container">



  <div class="row">
    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
          <img src="https://www.w3schools.com/css/img_lights.jpg" alt="image" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img src="https://www.w3schools.com/css/img_lights.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>


    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img src="https://www.w3schools.com/css/img_lights.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>


    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
          <img src="https://www.w3schools.com/css/img_lights.jpg" alt="image" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>



    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
          <img src="https://www.w3schools.com/css/img_lights.jpg" alt="image" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>



    <div class="col-4 mt-4">
      <div class="card">
        <div class="row">
          <div class="col-4">
          <img src="https://www.w3schools.com/css/img_lights.jpg" alt="image" class="img-fluid">
          </div>
          <div class="col-8 mt-3">
            <p>
              <i class="fa fa-user"></i>
              <span>ساره عبدالعزيز عبدالحكيم</span><br>
              <span>Sara AbdElaziz AbdElahkim</span>
            </p>

            <p>
              <i></i>
              <span>اسم المشروع</span>
            </p>

            <p>
              <i class="fa fa-phone"></i>
              <span>+9999999</span>
            </p>

            <p class="earn" style="background-color:#ced4da;">
              <span>الربح : $200</span>
              <i class="fa fa-eye"></i>
            </p>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>
