<section class="container-fluid">

  <div class="header container">
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
      <div class="col">
        <a href=""  class="btn btn-primary">مكتمل السداد</a>
      </div>

      <div class="col">
        <a href="" class="btn btn-danger">لم يتم السداد</a>
      </div>

      <div class="col">
        <a href="" class="btn btn-warning">غير مكتمل السداد</a>
      </div>
      </div>
      </div>

      <div class="col-6">
        <div class="row">
      <div class="col-2">
        <input type="text">
      </div>

      <div class="col-2">
        <input type="text">
      </div>

      <div class="col">
        <input type="text">
      </div>
      </div>
      </div>

  </div>
  </div>



<div class="row container">
  <div class="col-4 mt-5">
<div class="card p-3">
  <div class="row">
    <div class="col-md-5">
      <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
    </div>
    <div class="col-md-7">

      <div class="card-body">
        <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
        <p>اسم المشروع</p>
        <p><i class="fa fa-phone"></i>+99999999</p>
        <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
      </div>

    </div>
  </div>
</div>
</div>


<div class="col-4 mt-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-md-5">
        <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
      </div>
      <div class="col-md-7">
      <div class="card-body">
        <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
        <p>اسم المشروع</p>
        <p><i class="fa fa-phone"></i>+99999999</p>
        <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
      </div>
      </div>
    </div>
  </div>
  </div>



  <div class="col-4 mt-5">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-5">
          <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
            <p>اسم المشروع</p>
            <p><i class="fa fa-phone"></i>+99999999</p>
            <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
          </div>
        </div>
      </div>
    </div>
    </div>




  <div class="col-4 mt-5">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-5">
          <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
            <p>اسم المشروع</p>
            <p><i class="fa fa-phone"></i>+99999999</p>
            <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
          </div>
        </div>
      </div>
    </div>
    </div>




  <div class="col-4 mt-5">
    <div class="card p-3">
      <div class="row">
        <div class="col-md-5">
          <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
            <p>اسم المشروع</p>
            <p><i class="fa fa-phone"></i>+99999999</p>
            <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
          </div>
        </div>
      </div>
    </div>
    </div>


    <div class="col-4 mt-5">
      <div class="card p-3">
        <div class="row">
          <div class="col-md-5">
            <img src="https://www.w3schools.com/css/img_lights.jpg" class="img-fluid h-100" alt="">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <p><i class="fa fa-user"></i>ساره عبدالعزيز</p>
              <p>اسم المشروع</p>
              <p><i class="fa fa-phone"></i>+99999999</p>
              <p class="bg-info p-2">الربح : 200$ <i class="fa fa-eye"></i></p>
            </div>
          </div>
        </div>
      </div>
      </div>


</div>

</section>
