.clientDashBoard {
   *{
    color: #004057
   }
}
.premary-color {
	color: #004057 !important;
    }
    .bg-green {
	background-color: #004057 !important;
    }
    .main-color {
	color: #18af9a !important;
    }
    text-gary{
	color: #1D1C1C !important;
    }
    .cairo{
	font-family: "cairo";
    }
    .cardImg {
	width: 60px;
	margin-bottom: 10px;
    }
    #progress {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color: #3f51b5;
    }
    .example-margin {
	margin: 10px 10px;

	mat-progress-spinner, mat-spinner circle {
	  stroke: #9e26c8 !important;
	}
    }

    .postionCard{
	right: 27%;
	bottom: 5%;
    }

    @media (min-width: 1400px){
    .col2{
	flex: 0 0 auto;
	  width: 13.333333%;
    }
    }

    .scrolls
    {
	max-height: 475px !important;
	overflow: hidden;
	&:hover{
	  overflow-y: auto !important;

	}

    }
    ::-webkit-scrollbar {
	width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #d3d3d3;
	border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
	background:#d3d3d3;
	border-radius: 10px;

    }
