<div class="container mt-5 ">
  <div class="row">
    <div class=" col-md-3 col-lg-2 col-sm-12">

     <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/projects.png">

        <div class="card-body">
          <h5 class="card-title"> المشاريع</h5>
          <p class="card-text">{{data!.overview.projectsNumber}}</p>


        </div>
      </div>
    </div>
    <div class=" col-md-3 col-lg-2 col-sm-12">
      <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/endproject.png">

        <div class="card-body">
          <h5 class="card-title">  المشاريع المنتهيه</h5>
          <p class="card-text">{{data!.overview.completedProjectsNumber}}</p>


        </div>
      </div>
    </div>
    <div class=" col-md-3 col-lg-2 col-sm-12">
      <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/delay.png">

        <div class="card-body">
          <h5 class="card-title"> مشاريع متأخره</h5>
          <p class="card-text">03</p>


        </div>
      </div>
    </div>
    <div class=" col-md-3 col-lg-2 col-sm-12">
      <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/order.png">

        <div class="card-body">
          <h5 class="card-title"> الطلبات</h5>
          <p class="card-text">{{data!.overview.pricequotesNumber}}</p>


        </div>
      </div>
    </div>
    <div class=" col-md-3 col-lg-2 col-sm-12">
      <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/rate.png">

        <div class="card-body">
          <h5 class="card-title"> تقيم عملاء </h5>
          <p class="card-text">8</p>


        </div>
      </div>
    </div>
    <div class=" col-md-3 col-lg-2 col-sm-12">
      <div class="card text-center align-items-center p-3">

        <img class="card-img cardImg " src="assets/user/prof.png">

        <div class="card-body">
          <h5 class="card-title"> ربح</h5>
          <p class="card-text">20000$</p>


        </div>
      </div>
    </div>

  </div>





















</div>
