.cairo {
  font-family: "cairo";
}
.mainColor {
  color: #004057;
}
.secondColor {
  color: #004057;
}
.mainBk {
  background-color: #004057;
  color: #fff;
}
.secondBk {
  background-color: #18af9a;
  color: #fff;
}
