<section class="container-fluid my-4">
  <!-- part 1 -->
  <div class="row cairo mb-2">
    <div class="col-lg-6 mb-3">
      <app-dashboard-card
      grid="col-sm-3 col-6"
        type="pricequotes"
        [data]="pricequotes"
        circleColor="D9CCF2"
      ></app-dashboard-card>
    </div>

    <div class="col-lg-6 mb-3">
      <app-dashboard-card
      grid="col-sm-3 col-6"
        type="projects"
        [data]="projects"
        circleColor="E9CCF2"
      ></app-dashboard-card>
    </div>
  </div>
  <!-- part 2 -->
  <div class="row cairo mb-2">
    <div class=" col-lg-4 mb-3">
      <app-dashboard-card
        grid="col-xxl-3 col-lg-6 col-sm-3 col-6"
        type="indSp"
        [data]="individualSP"
        circleColor="D9CCF2"
      ></app-dashboard-card>
    </div>

    <div class=" col-lg-4 mb-3">
      <app-dashboard-card
      grid="col-xxl-3 col-lg-6 col-sm-3 col-6"
        type="comSp"
        [data]="organizationalSP"
        circleColor="D9CCF2"
      ></app-dashboard-card>
    </div>
    <div class=" col-lg-4 mb-3">
      <app-dashboard-card
      grid="col-xxl-3 col-lg-6 col-sm-3 col-6"
        type="client"
        [data]="clients"
        circleColor="D9CCF2"
      ></app-dashboard-card>
    </div>
  </div>
  <!-- part3 -->
  <div class="row mb-3 cairo">
    <div class="col-lg-6">
      <div
        class="bg-white rounded-0 cardShadow d-flex justify-content-around align-items-center mb-3 h-100 w-100"
      >
        <div class="chart" style="width: 300px">
          <canvas id="doughnut" class="col-12"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class="ps-5 bg-white rounded-0 cardShadow d-flex justify-content-around align-items-center mb-3 h-100 w-100"
      >
        <div class="col-5 d-flex justify-content-around align-items-center p-3">
          <div class="d-flex justify-content-around align-items-center">
            <img
              class="ms-2"
              src="assets/user/earn.png"
              alt=""
              style="width: 100px; border-radius: 50%"
            />
            <div style="color: #1a5f78">
              <h3>20000</h3>

              <b> أرباح سنويه </b>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="chart">
            <canvas id="bar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- part4 -->
  <div class="row mb-3 cairo">
    <div class="col-lg-9">
      <div
        class="cairo bg-white rounded-0 d-flex justify-content-between align-items-start mb-2 col-12 px-4 py-3"
      >
        <h5 class="premary-color col-10">اخر شكاوي المرسله</h5>
        <p class="main-color col-2 text-start">{{ complaints.length }} شكوي</p>
      </div>
      <div class="col-12 d-flex flex-column mb-3">
        <!-- card -->
        <div
          class="bg-white rounded-0 d-flex flex-column justify-content-between align-items-start mb-2 col-12 px-4 py-3"
          *ngFor="let item of complaints"
        >
          <div class="w-100 d-flex justify-content-between">
            <p class="h6 text-gary col-10">
              <img class="h6" src="assets/user/user (2).png" /> اسم المرسل /
              {{ item.applicationUser.userName }}
            </p>
            <p class="h6 text-gary col-2 text-start">
              <img class="h6" src="assets/user/calendar.png" />
              {{ item.dateCreated | date: "d/M/yyyy" }}
            </p>
          </div>
          <p class="text-gary text-end">{{ item.content }}</p>
        </div>
      </div>
      <!-- مسؤلي -->
      <!-- <div class="d-flex flex-column scrolls col-12"> -->

      <div
        class="cairo bg-white rounded-0 d-flex justify-content-between align-items-start mb-2 col-12 py-3 px-4"
      >
        <h5 class="premary-color">مسؤلي المنصه</h5>
        <p
          class="main-color addAccount"
          (click)="chiseOfficialRoles()"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalReject"
        >
          اضافة مسؤل
        </p>
      </div>
      <div class="col-12 d-flex flex-column mb-3 scrollsAdmins">
        <!-- card -->
        <div
          *ngFor="let item of admins"
          class="bg-white rounded-0 d-flex flex-lg-row flex-column justify-content-between align-items-start mb-2 col-12 px-4 py-3"
        >
          <!-- <div class="col-3 ">
          <img class="w-50" src={{item?.adminProfile?.profilePicturePath}} >
        </div> -->
          <div
            class="col-12 d-flex flex-column justify-content-evenly align-items-start"
          >
            <div
              class="w-100 d-flex flex-row justify-content-between align-items-center"
            >
              <p class="h6 text-gary col-10">{{ item?.userName }}</p>
              <p class="h6 main-color col-2 text-start">
                {{ item?.applicationRole?.arabicName }}
              </p>
            </div>
            <p>{{ item?.email }}</p>
            <p>{{ item?.phoneNumber }}</p>

            <!-- <p> منذ  {{iProfileAdmin?.adminProfile?.dateCreated|date :'d/M/yyyy' }}</p> -->
          </div>
        </div>
      </div>
      <!-- المشاريع -->
      <div class="d-flex flex-column mb-2 col-12">
        <div
          class="row col-12 m-0 p-0 gx-4 justify-content-between align-items-start"
        >
          <div
            class="cairo rounded-0 d-flex flex-column justify-content-between align-items-center col-md-6 col-12"
          >
            <div
              class="premary-color cairo rounded-0 text-center py-3 px-5 col-12 mb-2"
              style="background-color: #aaddd6"
            >
              <h5>المشاريع الحاليه</h5>
            </div>
            <!-- card -->
            <div class="d-flex flex-column scrolls col-12">
              <div
                class="d-flex bg-white cairo rounded-0 text-center py-3 px-3 col-12 mb-2"
                *ngFor="let itemC of objectCurrentProjects"
              >
                <div class="col-xxl-2 d-xxl-block d-none">
                  <img
                    src="{{ itemC?.clientProfile?.profilePicturePath }}"
                    alt=""
                    class="col-12"
                  />
                </div>
                <div class="col-xxl-6 col-8 d-flex flex-column pe-xxl-3">
                  <p class="col-12 text-end">
                    <small class="premary-color">اسم العميل : </small>
                    <small
                      >{{ itemC?.clientProfile?.firstName }}
                      {{ itemC?.clientProfile?.lastName }}</small
                    >
                  </p>
                  <p class="col-12 text-end">
                    <small class="premary-color">بلد الاقامه : </small>
                    <small> {{ itemC.district.city.nameAr }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="cairo rounded-0 d-flex flex-column justify-content-between align-items-center col-md-6 col-12"
          >
            <div
              class="premary-color cairo rounded-0 text-center py-3 px-5 col-12 mb-2"
              style="background-color: #e5a8a8"
            >
              <h5>المشاريع المنتهيه</h5>
            </div>
            <!-- card -->
            <div class="d-flex flex-column scrolls col-12">
              <div
                class="d-flex bg-white cairo rounded-0 text-center py-3 px-4 col-12 mb-2"
                *ngFor="let item of objectLatest"
              >
                <div class="col-xxl-2 d-xxl-block d-none">
                  <img src="assets/avatar.png" alt="" class="col-12" />
                </div>
                <div class="col-xxl-8 col-10 d-flex flex-column pe-xxl-3">
                  <p class="col-12 text-end">
                    <small class="premary-color text-nowrap"
                      >اسم العميل :
                    </small>
                    <small
                      >{{ item.clientProfile.firstName }}
                      {{ item.clientProfile.lastName }}</small
                    >
                  </p>
                  <p class="col-12 text-end">
                    <small class="premary-color">بلد الاقامه : </small>
                    <small> {{ item.district.city.nameAr }}</small>
                  </p>
                  <p class="col-12 text-end">
                    <small class="premary-color"> اسم المشروع : </small>
                    <small>{{ item.name }} </small>
                  </p>
                </div>
                <div class="col-2 text-center">
                  <mat-icon style="color: #f3d720">star</mat-icon>
                  <p>
                    <small>5/5</small>
                  </p>
                </div>
              </div>
              <ng-template [hidden]="error === null">
                <div
                  class="d-flex flex-column col-12 alert alert-danger"
                  role="alert"
                >
                  {{ error }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <!-- part 1 جدول الاعمال-->
      <div
        class="rounded-0 d-flex flex-column justify-content-around align-items-center mb-3 col-12"
      >
        <div class="col-12 bg-white px-4 py-1 mb-2">
          <h5 class="fw-bold pt-3">جدول الاعمال</h5>
        </div>
        <div class="col-12 bg-white px-4 py-1 mb-2" (click)="getappointDate()">
          <!-- <mat-card class="demo-inline-calendar-card"> -->
          <mat-calendar [(selected)]="selected"></mat-calendar>
          <!-- </mat-card> -->
        </div>
        <div class="col-12 bg-white px-4 py-1 mb-2">
          <p class="fw-semibold pt-3">{{ selected | date: "d/M/yyyy" }}</p>
        </div>
        <div class="col-12 bg-white px-4 py-1 mb-2">
          <p class="fw-semibold pt-3 main-color d-flex justify-content-between">
            {{ appointments?.name }}
            <small class="fw-normal">{{
              appointments?.dateCreated | date: "d/M/yyyy"
            }}</small>
          </p>
          <p class="fw-normal">{{ appointments?.description }}</p>

          <div *ngFor="let item of appointmentFiles">
            <p class="">
              <span
                ><img
                  src="assets/dashboard/picture.png"
                  alt=""
                  *ngIf="
                    item.fileType === '.png' ||
                    item.fileType === '.jpg' ||
                    item.fileType === '.svg'
                  "
                />
                <img
                  src="assets/dashboard/pdf.png"
                  *ngIf="item.fileType === '.pdf'"
                />
              </span>
              <span> {{ item.fileName }}</span>
            </p>
          </div>
        </div>
        <!-- <div class="col-12 bg-white px-4 py-1 mb-2">
          <p class="fw-semibold pt-3" style="color: #4b4a4a">
            تم دخول {{ usernames }} الى المنصه الساعه
            <span class="main-color">11:20 am</span>
          </p>
        </div> -->
        <!-- <div class="col-12 bg-white px-4 py-1 mb-2"> -->
          <div class=" col-12 bg-white  px-4 py-1 mb-2 " data-bs-toggle="modal" data-bs-target="#addAppointment">

          <p class="pt-3">
            <img src="assets/dashboard/add.png" class="ms-2" />
            <span style="color: #c7c7c7"> اضافه حدث الى هذا اليوم</span>
          </p>
        </div>
      </div>
      <!-- part 2 -->

      <div
        class="rounded-0 d-flex flex-column justify-content-around align-items-center mb-3 col-12"
      >
        <div class="col-md-12 col-12 mb-1 me-1">
          <div
            class="bg-white d-flex justify-content-between bg-white px-4 py-1 mb-2 align-items-center"
          >
            <h5 class="fw-bold pt-3 pb-2">تقيمات مستخدمي المنصه</h5>
            <div class="align-content-end">

            </div>
          </div>
          <app-carousel-rate [testimonials]="testimonials"></app-carousel-rate>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="exampleModalReject"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-between align-items-center modaltitle px-3 pt-3 pb-2 border-0"
      >
        <h5 class="modal-title col-11 text-white" id="exampleModalLabel">
          اضافة مسؤل جديد
        </h5>

        <button
          type="button"
          class="btn text-white col-1"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body my-3 modalbody">
        <form [formGroup]="newAccountform" (ngSubmit)="addAccount()" novalidate>
          <label class="form-label">نوع الحساب</label>
          <select
            class="form-control"
            formControlName="officialRoleId"
            [ngClass]="{
              'is-invalid':
                f['officialRoleId'].errors && f['officialRoleId'].touched
            }"
          >
            <option *ngFor="let user of userdata" [value]="user.id">
              {{ user.arabicName }}
            </option>
          </select>
          <div
            *ngIf="f['officialRoleId'].errors && f['officialRoleId'].touched"
            class="alert alert-warning mt-2"
          >
            <div *ngIf="f['officialRoleId'].errors['required']">
              من فضلك ادخل نوع الحساب
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="form-label" for="username">اسم المستخدم</label>
              <input
                type="text"
                id="username"
                class="form-control"
                name="username"
                formControlName="username"
                [ngClass]="{
                  'is-invalid': f['username'].errors && f['username'].touched
                }"
              />
              <div
                *ngIf="f['username'].errors && f['username'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="f['username'].errors['required']">
                  من فضلك ادخل اسم المستخدم
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="email">البريد الالكتروني</label>
              <input
                type="email"
                id="email"
                name="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f['email'].errors && f['email'].touched
                }"
              />
              <div
                *ngIf="f['email'].errors && f['email'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="f['email'].errors['required']">
                  من فضلك ادخل البريد الالكتروني
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="phoneNumber">رقم الهاتف </label>
              <input
                type="phoneNumber"
                id="phoneNumber"
                name="phoneNumber"
                formControlName="phoneNumber"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    f['phoneNumber'].errors && f['phoneNumber'].touched
                }"
              />
              <div
                *ngIf="f['phoneNumber'].errors && f['phoneNumber'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="f['phoneNumber'].errors['required']">
                  من فضلك ادخل رقم الهاتف
                </div>
                <div *ngIf="f['phoneNumber'].errors['pattern']">
                  من فضلك ادخل رقم هاتف صحيح
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="Password">كلمة المرور</label>
              <input
                type="password"
                id="Password"
                name="Password"
                formControlName="Password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f['Password'].errors && f['Password'].touched
                }"
              />
              <div
                *ngIf="f['Password'].errors && f['Password'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="f['Password'].errors['required']">
                  من فضلك ادخل كلمة المرور
                </div>
                <div *ngIf="f['Password'].errors['minlength']">
                  من فضلك ادخل كلمة المرور اكبر من 10
                </div>
                <div *ngIf="f['Password'].errors['pattern']">
                  من فضلك ادخل كلمة المرور بها A-z و [$ @ $ ! % * ? &]
                </div>
              </div>
            </div>
          </div>
          <button
            data-bs-dismiss="modal"
            type="submit"
            [disabled]="!newAccountform.valid"
            class="btn btn-lg ms-2 text-white form-control mb-3"
            style="background: #18af9a"
          >
            انشاء مسؤل جديد
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-lg ms-2 text-white form-control btn-secondary"
          >
            الغاء
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addAppointment"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div
        class="modal-header d-flex justify-content-between align-items-center modaltitle px-3 pt-3 pb-2 border-0"
      >
        <h5 class="modal-title col-11 text-white" id="exampleModalLabel">
          اضافة مهمه  
        </h5>

        <button
          type="button"
          class="btn text-white col-1"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="modal-body my-3 modalbody">
        <form  [formGroup]="newappointment"
        (ngSubmit)="creatMeeting()" novalidate>

          <div class="row mt-3">
            <div class="col-md-6">
              <label class="form-label" for="name"
                >اسم </label
              >
              <input
                type="text"
                id="name"
                class="form-control"
                name="name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid':
                  appoins['name'].errors && appoins['name'].touched
                }"
              />
              <div
                *ngIf="appoins['name'].errors && appoins['name'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="appoins['name'].errors['required']">
                  من فضلك ادخل اسم للموعد                </div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="description"
                >وصف </label
              >

              <textarea  id="" cols="30" rows="2" type="text"
              id="description"
              name="description"
              formControlName="description"
              class="form-control"
              [ngClass]="{
                'is-invalid': appoins['description'].errors && appoins['description'].touched
              }"></textarea>
              <div
                *ngIf="appoins['description'].errors && appoins['description'].touched"
                class="alert alert-warning mt-2"
              >
                <div *ngIf="appoins['description'].errors['required']">
                  من فضلك ادخل   وصف للموعد
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">اضافه ملف</label>
            <input class="form-control"  type="file"
            #image
            id="imageFile"
            (change)="uplaodFile($event)"
            name="imageFile"
           >
          </div>
         

          <button
          data-bs-dismiss="modal"
          type="submit"
          [disabled]="!newappointment.valid"
          class="btn btn-lg ms-2 text-white form-control  mb-3"
          style="background: #18AF9A"
        >
          انشاء  مهمه
        </button>
        <button type="button"  data-bs-dismiss="modal"
        class="btn btn-lg ms-2 text-white form-control btn-secondary"

        >
          الغاء
        </button>
        </form>
      </div>

    </div>
  </div>
</div>


<div id="toast-container" class="toast-bottom-right toast-container"></div>
