<section class="container-fluid my-4 ">

  <!-- part 1 -->
  <div class="row cairo mb-3">
   
    
        <div class="col-lg-6">

        <div class="col-lg-12  col-12 mb-4 ">
          <div class="d-flex flex-column bg-white p-3  rounded-3 shadow">
          <div class="col-12  d-flex  justify-content-evenly align-items-center ">
         
            <div class="col-8 d-flex align-items-center justify-content-start">
              <img src="assets/dashboard/partener.png" alt="" class="card-img cardImg">
              <span class=" me-4" >  عروض اسعار</span>

            </div>
            <div class="col-4 align-items-center justify-content-end d-flex  ">
              <small class="fw-semibold ps-3" >{{pricequotes?.totalCost }}</small>
             
            </div>
          </div>
          <div class="col-12  d-flex  justify-content-between align-items-center mt-3 ">
            <div class="d-flex flex-column">
                <div class="badge circle  D9CCF2 p-2  text-center " >
                  <p class="text-center my-2">{{pricequotes?.newPricequotesNumber | number}}</p> <hr class="m-0 "/>
                  <p class="text-center mt-2">{{pricequotes?.newPricequotesCost | number}}</p>
                </div>
                <small class="text-center ">جديد</small>

            </div>
            <div class="d-flex flex-column">
            <div class="badge circle D9CCF2 p-2 text-center " >
              <p class="text-center my-2">{{pricequotes?.acceptedPricequotesNumber | number}}</p> <hr class="m-0 "/>
              <p class="text-center mt-2">{{pricequotes?.acceptedPricequotesCost | number}}</p>
            </div><small class="text-center ">مقبول</small>

            </div>
            
            <div class="d-flex flex-column">
              <div class="badge circle  D9CCF2 p-2 text-center " >
                <p class="text-center my-2"> {{pricequotes?.notCompletedPricequotesNumber | number}} </p> <hr class="m-0 "/>
                <p class="text-center mt-2"> {{pricequotes?.notCompletedPricequotesCost | number}}</p>
              </div>
                <small class="text-center ">غير مكتمل</small>

            </div>

            <div class="d-flex flex-column">
              <div class="badge circle  D9CCF2 p-2 text-center " >
                <p class="text-center my-2">{{pricequotes?.rejectedPricequotesNumber | number}}</p> <hr class="m-0 "/>
                <p class="text-center mt-2">{{pricequotes?.rejectedPricequotesCost | number}}</p>
              </div><small class="text-center ">مرفوض</small>
  
            </div>
          
            
      
           </div>
          </div>
          </div>
          
        </div> 

    <!-- <div class="col-lg-6">
      <div class="row cairo">
        <div class="col-4 bg-white d-flex flex-column justify-content-evenly align-items-center py-2 rounded-3 shadow">
          <div class="col-12 d-flex  justify-content-evenly align-items-center">
            <img src="assets/dashboard/closedprojects.png" alt="" class="card-img cardImg">
            <div class="w-100">
              <div class="text-center " > عروض الاسعار </div>
            </div>
          
          </div>
          <div class="col-12 d-flex  justify-content-between align-items-center">
            <div class="fw-bold D9CCF2 badge col-5">{{pricequotesNumber|number}}</div>
          <div class="fw-bold D9CCF2 badge col-5">{{indServiceProviderNumber|number}}</div>
          </div>
          
        </div>
      
       <div class="col-8 d-flex ">
      <div class="col-6 ">
        <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow mb-3" >
          <div class="col-12 d-flex  justify-content-end align-items-center">
            <div class="w-100">
              <div class="text-end mb-2" >  عروض حاليه</div>
            </div>
          
          </div>
          <div class="col-12 d-flex  justify-content-between align-items-center">
            <div class="fw-bold  badge col-5 D9CCF2" >{{5|number}}</div>
          <div class="fw-bold  badge col-5 D9CCF2" >{{143500|number}}</div>
          </div>
          
        </div>
        <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow " >
          <div class="col-12 d-flex  justify-content-end align-items-center">
            <div class="w-100">
              <div class="text-end mb-2" >  عروض مرفوضه</div>
            </div>
          
          </div>
          <div class="col-12 d-flex  justify-content-between align-items-center">
            <div class="fw-bold  badge col-5 D9CCF2" >{{5|number}}</div>
          <div class="fw-bold  badge col-5 D9CCF2" >{{143500|number}}</div>
          </div>
          
        </div>
      </div>
      <div class="col-6 ">
        <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow mb-3" >
          <div class="col-12 d-flex  justify-content-end align-items-center">
            <div class="w-100">
              <div class="text-end mb-2" >  عروض  مقبوله</div>
            </div>
          
          </div>
          <div class="col-12 d-flex  justify-content-between align-items-center">
            <div class="fw-bold  badge col-5 D9CCF2" >{{5|number}}</div>
          <div class="fw-bold  badge col-5 D9CCF2" >{{143500|number}}</div>
          </div>
          
        </div>
        <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow " >
          <div class="col-12 d-flex  justify-content-end align-items-center">
            <div class="w-100">
              <div class="text-end mb-2" >  عروض غير مكتمله</div>
            </div>
          
          </div>
          <div class="col-12 d-flex  justify-content-between align-items-center">
            <div class="fw-bold  badge col-5 D9CCF2" >{{6|number}}</div>
          <div class="fw-bold  badge col-5 D9CCF2" >{{143500|number}}</div>
          </div>
          
        </div>
      </div>
       </div>
      
              
      </div>
       
      
    </div> -->
  
    <!-- <div class="col-lg-6">
    
        
        <div class="row cairo">
  <div class="col-4 bg-white d-flex flex-column justify-content-evenly align-items-center py-2 rounded-3 shadow">
    <div class="col-12 d-flex  justify-content-evenly align-items-center">
      <img src="assets/dashboard/handShakePuple.png" alt="" class="card-img cardImg">
      <div class="w-100">
        <div class="text-center " > مشاريع </div>
      </div>
    
    </div>
    <div class="col-12 d-flex  justify-content-between align-items-center">
      <div class="fw-bold E9CCF2 badge col-5">{{projectsNumber|number}}</div>
    <div class="fw-bold E9CCF2 badge col-5">{{projectsCost|number}}</div>
    </div>
    
  </div>

 <div class="col-8 d-flex ">
<div class="col-6 ">
  <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow mb-3" >
    <div class="col-12 d-flex  justify-content-end align-items-center">
      <div class="w-100">
        <div class="text-end mb-2" >  مشاريع حاليه</div>
      </div>
    
    </div>
    <div class="col-12 d-flex  justify-content-between align-items-center">
      <div class="fw-bold  badge col-5 E9CCF2" >{{5|number}}</div>
    <div class="fw-bold  badge col-5 E9CCF2" >{{43345|number}}</div>
    </div>
    
  </div>
  <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow " >
    <div class="col-12 d-flex  justify-content-end align-items-center">
      <div class="w-100">
        <div class="text-end mb-2" >  مشاريع منهيه</div>
      </div>
    
    </div>
    <div class="col-12 d-flex  justify-content-between align-items-center">
      <div class="fw-bold  badge col-5 E9CCF2" >{{5|number}}</div>
    <div class="fw-bold  badge col-5 E9CCF2" >{{43345|number}}</div>
    </div>
    
  </div>
</div>
<div class="col-6 ">
  <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow mb-3" >
    <div class="col-12 d-flex  justify-content-end align-items-center">
      <div class="w-100">
        <div class="text-end mb-2" >  مشاريع معلقه</div>
      </div>
    
    </div>
    <div class="col-12 d-flex  justify-content-between align-items-center">
      <div class="fw-bold  badge col-5 E9CCF2" >{{5|number}}</div>
    <div class="fw-bold  badge col-5 E9CCF2" >{{43345|number}}</div>
    </div>
    
  </div>
  <div class="col-11 text-gary bg-white d-flex flex-column justify-content-evenly align-items-center p-2 rounded-3 shadow " >
    <div class="col-12 d-flex  justify-content-end align-items-center">
      <div class="w-100">
        <div class="text-end mb-2" >  مشاريع متاخره</div>
      </div>
    
    </div>
    <div class="col-12 d-flex  justify-content-between align-items-center">
      <div class="fw-bold  badge col-5 E9CCF2" >{{0|number}}</div>
    <div class="fw-bold  badge col-5 E9CCF2" >{{0|number}}</div>
    </div>
    
  </div>
</div>
 </div>

        </div>
    </div> -->
   
    <div class="col-lg-6">

      <div class="col-lg-12  col-12 mb-4 ">
        <div class="d-flex flex-column bg-white p-3  rounded-3 shadow">
        <div class="col-12  d-flex  justify-content-evenly align-items-center ">
       
          <div class="col-8 d-flex align-items-center justify-content-start">
            <img src="assets/dashboard/cost.png" alt="" class="card-img cardImg">
            <span class=" me-4" >   مشاريع</span>

          </div>
          <div class="col-4 align-items-center justify-content-end d-flex  ">
            <small class="fw-semibold ps-3">{{projects?.totalCost | number}}</small>
           
          </div>
        </div>
        <div class="col-12  d-flex  justify-content-between align-items-center mt-3">
          <div class="d-flex flex-column">
          <div class=" badge circle E9CCF2 p-2  text-center" >
            <p class="text-center my-2">{{projects?.newProjectsNumber | number}}</p> <hr class="m-0 "/>
            <p class="text-center mt-2">{{projects?.newProjectsCost | number}}</p>
          </div>                <small class="text-center ">جديد</small>

          </div>
          <div class="d-flex flex-column">
          <div class="badge circle E9CCF2 p-2 text-center " >
            <p class="text-center my-2">{{projects?.acceptedProjectsNumber | number}}</p> <hr class="m-0 "/>
            <p class="text-center mt-2">{{projects?.acceptedProjectsCost | number}}</p>
          </div>
          <small class="text-center ">مقبول</small>
        </div>
          <div class="d-flex flex-column">
          <div class="badge circle E9CCF2 p-2 text-center" >
            <p class="text-center my-2">  {{projects?.notCompletedProjectsNumber | number}}</p> <hr class="m-0 "/>
            <p class="text-center mt-2"> {{projects?.notCompletedProjectsCost | number}}</p>
          </div>                <small class="text-center ">غير مكتمل</small>
        </div>
          <div class="d-flex flex-column">
          <div class="badge circle  E9CCF2 p-2 text-center " >
            <p class="text-center my-2">{{projects?.rejectedProjectsNumber | number}}</p> <hr class="m-0 "/>
            <p class="text-center mt-2">{{projects?.rejectedProjectsCost | number}}</p>
          </div>                <small class="text-center ">مرفوض</small>
        </div>
          
          

         </div>
        </div>
        </div>
        
      </div> 
   
  </div>
 <!-- part 2 -->
 <div class="row cairo mb-3">
   
    
  <div class="col-lg-4">

  <div class="col-lg-12  col-12 mb-4 ">
    <div class="d-flex flex-column bg-white p-3  rounded-3 shadow">
    <div class="col-12  d-flex  justify-content-evenly align-items-center ">
   
      <div class="col-8 d-flex align-items-center justify-content-start">
        <img src="assets/dashboard/providers.png" alt="" class="card-img cardImg">
        <span class=" me-4" >  مزود الخدمه (المستقل) </span>

      </div>
      <div class="col-4 align-items-center justify-content-end d-flex  ">
        <small class="fw-semibold ps-3">{{individualSP?.totalIndividualSPNumber | number}}</small>
       
      </div>
    </div>
    <div class="col-12  d-flex  justify-content-between align-items-center mt-3">
      <div class="badge circle  E2FD p-2  text-center " >
        <p class="text-center my-2">جديد</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{individualSP?.newIndividualSPNumber | number}}</p>
      </div>
      <div class="badge circle  E2FD p-2 text-center " >
        <p class="text-center my-2">مقبول</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{individualSP?.acceptedIndividualSPNumber | number}}</p>
      </div>
      <div class="badge circle  E2FD p-2 text-center " >
        <p class="text-center my-2"> غير مكتمل</p> <hr class="m-0 "/>
        <p class="text-center mt-2"> {{individualSP?.notCompletedIndividualSPNumber | number}}</p>
      </div>
      <div class="badge circle  E2FD p-2 text-center " >
        <p class="text-center my-2">مرفوض</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{individualSP?.rejectedIndividualSPNumber | number}}</p>
      </div>
      

     </div>
    </div>
    </div>
    
  </div> 

<div class="col-lg-4">

<div class="col-lg-12  col-12 mb-4 ">
  <div class="d-flex flex-column bg-white p-3  rounded-3 shadow">
  <div class="col-12  d-flex  justify-content-evenly align-items-center ">
 
    <div class="col-8 d-flex align-items-center justify-content-start">
      <img src="assets/dashboard/providers.png" alt="" class="card-img cardImg">
      <span class=" me-4" >  مزود الخدمه (الشركه) </span>

    </div>
    <div class="col-4 align-items-center justify-content-end d-flex  ">
      <small class="fw-semibold ps-3">{{organizationalSP?.totalOrganizationalSPNumber | number}}</small>
     
    </div>
  </div>
  <div class="col-12  d-flex  justify-content-between align-items-center mt-3">
    <div class=" badge circle D1F2FE p-2  text-center" >
      <p class="text-center my-2">جديد</p> <hr class="m-0 "/>
      <p class="text-center mt-2">{{organizationalSP?.newOrganizationalSPNumber | number}}</p>
    </div>
    <div class="badge circle  D1F2FE p-2 text-center " >
      <p class="text-center my-2">مقبول</p> <hr class="m-0 "/>
      <p class="text-center mt-2">{{organizationalSP?.acceptedOrganizationalSPNumber | number}}</p>
    </div>
    <div class="badge circle  D1F2FE p-2 text-center" >
      <p class="text-center my-2"> غير مكتمل</p> <hr class="m-0 "/>
      <p class="text-center mt-2"> {{organizationalSP?.notCompletedOrganizationalSPNumber | number}}</p>
    </div>
    <div class="badge circle  D1F2FE p-2 text-center " >
      <p class="text-center my-2">مرفوض</p> <hr class="m-0 "/>
      <p class="text-center mt-2">{{organizationalSP?.rejectedOrganizationalSPNumber | number}}</p>
    </div>
    

   </div>
  </div>
  </div>
  
</div> 
<div class="col-lg-4">

  <div class="col-lg-12  col-12 mb-4 ">
    <div class="d-flex flex-column bg-white p-3  rounded-3 shadow">
    <div class="col-12  d-flex  justify-content-evenly align-items-center ">
   
      <div class="col-8 d-flex align-items-center justify-content-start">
        <img src="assets/dashboard/users.png" alt="" class="card-img cardImg">
        <span class=" me-4" >   العملاء</span>
  
      </div>
      <div class="col-4 align-items-center justify-content-end d-flex  ">
        <small class="fw-semibold ps-3">{{clients?.totalClientsNumber | number}}</small>
       
      </div>
    </div>
    <div class="col-12  d-flex  justify-content-between align-items-center mt-3">
      <div class=" badge circle C4D3D8 p-2  text-center" >
        <p class="text-center my-2">جديد</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{clients?.newClientsNumber | number}}</p>
      </div>
      <div class="badge circle  C4D3D8 p-2 text-center " >
        <p class="text-center my-2">مقبول</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{clients?.acceptedClientsNumber | number}}</p>
      </div>
      <div class="badge circle  C4D3D8 p-2 text-center" >
        <p class="text-center my-2">  غيرمكتمل</p> <hr class="m-0 "/>
        <p class="text-center mt-2"> {{clients?.notCompletedClientsNumber | number}}</p>
      </div>
      <div class="badge circle  C4D3D8 p-2 text-center " >
        <p class="text-center my-2">مرفوض</p> <hr class="m-0 "/>
        <p class="text-center mt-2">{{clients?.rejectedClientsNumber | number}}</p>
      </div>
      
  
     </div>
    </div>
    </div>
    
  </div> 
</div>
  <!-- <div class="row my-2 cairo">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white p-3 ">
          <div class="row">
            <div class="col-6">
              <div class=" ">
               <img src="assets/dashboard/providers.png" alt="" class="img-fluid">
              </div>
  
            </div>
            <div class="col-6">
              <div class="w-100 text-center ">
                <h1 class="fw-bold">{{orgServiceProviderNumber}}</h1>
                <h5 class="text-center fw-semibold">مزود خدمة شركة</h5>
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
    <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
      <div class="bg-white p-3 ">
        <div class="row">
          <div class="col-6">
            <div class=" ">
              <img src="assets/dashboard/providers.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-6">
            <div class="w-100 text-center ">
            
              <h1 class="fw-bold">{{indServiceProviderNumber}}</h1>
              <h5 class="text-center fw-semibold">مزود خدمة مستقل</h5>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-2 mt-lg-0">
      <div class="bg-white p-3 ">
        <div class="row">
          <div class="col-6">
            <div class=" ">
              <img src="assets/dashboard/users.png" alt="" class="img-fluid">
            </div>

          </div>
          <div class="col-6">
            <div class="w-100 text-center ">
            
              <h1 class="fw-bold">{{cLientsNumber}}</h1>
              <h5 class="text-center fw-semibold"> عميل </h5>
            </div>

          </div>
        </div>
      </div>
    </div>
  
  
  </div> -->
<!-- part3 -->
 <div class="row my-4 cairo">
    <div class="col-lg-6">
      <div
        class="bg-white rounded-0 cardShadow d-flex justify-content-around align-items-center  mb-3 h-100 w-100"
      >
        <div class="chart" style="width: 300px; " >
          <canvas  id="doughnut" class="col-12"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div
        class=" ps-5 bg-white rounded-0 cardShadow d-flex justify-content-around align-items-center  mb-3 h-100 w-100"
      >
        <div
          class="col-5 d-flex justify-content-around align-items-center p-3"
        >
          <div class=" d-flex justify-content-around align-items-center">
            <img
              class="ms-2"
              src="assets/user/earn.png"
              alt=""
              style="width: 100px; border-radius: 50%"
            />
            <div style="color: #1a5f78">
              <h3>{{costs}}</h3>

              <b > أرباح سنويه </b>
            </div>
          </div>
        </div>
        <div class="col-7">
          <div class="chart">
            <canvas id="bar"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- part4 -->
<div class="row my-4 cairo">
  <div class="col-lg-9">
      <div class="cairo bg-white rounded-0  d-flex justify-content-between align-items-start  mb-2 col-12 px-4 py-3">
        <h5 class="premary-color col-10">اخر شكاوي المرسله</h5>
        <p class="main-color col-2 text-start">{{complaints.length}}  شكوي</p>
      </div>
    <div class="col-12 d-flex flex-column mb-3">
      <!-- card -->
      <div class="bg-white rounded-0  d-flex flex-column justify-content-between align-items-start  mb-2 col-12 px-4 py-3" *ngFor="let item of complaints">
        <div class="w-100 d-flex justify-content-between  ">
          <p class="h6 text-gary col-10"> <img class="h6 " src="assets/user/user (2).png" > اسم المرسل /  {{item.applicationUser.userName}} </p>
          <p class="h6 text-gary col-2 text-start"> <img class="h6" src="assets/user/calendar.png" >  {{item.dateCreated|date:'d/M/yyyy' }}</p>
        </div>
        <p class=" text-gary text-end">{{item.content}}</p>
      </div>
      
    </div>
<!-- مسؤلي -->
    <div class="cairo bg-white rounded-0  d-flex justify-content-between align-items-start  mb-2 col-12 py-3 px-4">
      <h5 class="premary-color">  مسؤلي المنصه</h5>
      <!-- <p class="main-color">  اضافة مسؤل</p> -->
    </div>
    <div class="col-12 d-flex flex-column mb-3 ">
      <!-- card -->
      <div class="bg-white rounded-0  d-flex flex-lg-row flex-column justify-content-between align-items-start  mb-2 col-12 px-4 py-3">
        <div class="col-3 ">
          <img class="w-50" src="assets/profile.png" >
        </div>
        <div class=" col-9  d-flex flex-column justify-content-evenly align-items-start ">
          <div class="w-100 d-flex flex-row justify-content-between align-items-center ">
            <p class="h6 text-gary col-10"> {{ iProfileAdmin?.adminProfile?.firstName }}
              {{ iProfileAdmin?.adminProfile?.lastName }}  </p>
            <p class="h6  main-color col-2 text-start"> مسؤل</p>
          </div>
        <p>{{ iProfileAdmin?.email }}</p>
        <p> منذ  {{iProfileAdmin?.adminProfile?.dateCreated|date :'d/M/yyyy' }}</p>
        
        </div>
      </div>
    
    </div>
<!-- المشاريع -->
    <div class="d-flex flex-column  mb-2 col-12 ">
      <div class="row col-12 m-0 p-0 gx-4 justify-content-between align-items-start">
        <div class="cairo rounded-0   d-flex flex-column justify-content-between align-items-center  col-md-6 col-12">
          <div class=" premary-color cairo rounded-0 text-center py-3 px-5 col-12 mb-2" style="background-color: #AADDD6;">
              <h5>المشاريع الحاليه</h5>
       
          </div>
          <!-- card -->
          <div class="d-flex flex-column scrolls col-12">
            <div class="d-flex bg-white cairo rounded-0 text-center py-3 px-3 col-12 mb-2" *ngFor="let itemC of objectCurrentProjects">
                <div class="col-xxl-2 d-xxl-block d-none">
                  <img src="{{itemC?.clientProfile?.profilePicturePath}}" alt="" class="col-12">
                </div>
                <div class="col-xxl-6 col-8 d-flex flex-column  pe-xxl-3" >
                  <p class="col-12 text-end"><small class="premary-color">اسم العميل : </small> <small>{{itemC?.clientProfile?.firstName}} {{itemC?.clientProfile?.lastName}}</small></p>
                  <p class="col-12 text-end"><small class="premary-color">بلد الاقامه : </small> <small> {{itemC.district.city.nameAr}}</small></p>
                  <p class="col-12 text-end"><small class="premary-color"> اسم المشروع : </small> <small>{{itemC.name}} </small></p>

                </div>
                <div class="col-4">
                  <div class="position-relative col-12" >
            <ng-container *ngIf="itemC.offers.length>0">
                    <mat-progress-spinner
                    class="example-margin"
                    
                    [color]="color"
                    [mode]="mode"
                    [value]=percentage[0]
                   >
                   
                </mat-progress-spinner>
                <h6  id="progress">{{percentage[0]}}%</h6>
              </ng-container>
              </div>
                
                </div>
          </div>
        </div>
        </div>

        <div class="cairo rounded-0  d-flex  flex-column  justify-content-between align-items-center  col-md-6 col-12">
          <div class=" premary-color cairo rounded-0 text-center py-3 px-5 col-12 mb-2" style="background-color: #E5A8A8;">
            <h5>المشاريع المنتهيه</h5>
     
        </div>
        <!-- card -->
        <div class="d-flex flex-column scrolls col-12">
          <div class="d-flex bg-white cairo rounded-0 text-center py-3 px-4 col-12 mb-2" *ngFor="let item of objectLatest">
            <div class="col-xxl-2 d-xxl-block d-none">
              <img src="assets/avatar.png" alt="" class="col-12">
            </div>
            <div class="col-xxl-8 col-10 d-flex flex-column  pe-xxl-3">
              <p class="col-12 text-end"><small class="premary-color text-nowrap">اسم العميل : </small> <small>{{item.clientProfile.firstName}} {{item.clientProfile.lastName}}</small></p>
              <p class="col-12 text-end"><small class="premary-color ">بلد الاقامه : </small> <small> {{item.district.city.nameAr}}</small></p>
              <p class="col-12 text-end"><small class="premary-color "> اسم المشروع : </small> <small>{{item.name}} </small></p>

            </div>
            <div class="col-2 text-center">
              <mat-icon style="color: #F3D720 ;">star</mat-icon>
              <p>
                 <small>5/5</small>
              </p>
            </div>
      </div>
      <ng-template [hidden]="error===null">
        <div class="d-flex flex-column  col-12 alert alert-danger" role="alert">
          {{error}}
        </div>
      </ng-template>
      
        </div>
      
        </div>

      </div>
    </div>


  </div>


  <div class="col-lg-3">

    <!-- part 1 -->
    <div class=" rounded-0  d-flex flex-column justify-content-around align-items-center  mb-3 col-12">
      <div class=" col-12 bg-white  px-4 py-1 mb-2 ">
        <h5 class="fw-bold pt-3">جدول الاعمال </h5>

      </div>
      <div class=" col-12 bg-white  px-4 py-1 mb-2 ">
        <!-- <mat-card class="demo-inline-calendar-card"> -->
          <mat-calendar [(selected)]="selected"></mat-calendar>
        <!-- </mat-card> -->
      </div>
      <div class=" col-12 bg-white  px-4 py-1 mb-2 ">
        <p class="fw-bold pt-3"> {{selected | date:'d/M/yyyy' }}</p>

      </div>
    </div>
    <!-- part 2 -->
  
    <div class=" rounded-0  d-flex flex-column justify-content-around align-items-center  mb-3 col-12">
      <div class="col-md-12 col-12 mb-1 me-1">
        <div class=" bg-white d-flex justify-content-between bg-white px-4 py-1 mb-2 align-items-center">
          <h5 class="fw-bold pt-3 pb-2">تقيمات مستخدمي المنصه </h5>
          <div class="align-content-end">
            <!-- <span class="ps-1">4/5</span>
            <mat-icon class="align-text-bottom text-warning">star</mat-icon> -->
          </div>
        </div>
        <div class="position-relative mt-2">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active" *ngFor="let item of testimonials">
                <div
                  class="card d-flex justify-content-center align-items-center p-3 border-0 rounded-0 bg-white pb-5"
                >
                  <img
                    src={{item.profilePicture}}
                    class="card-img-top rounded-circle w-25"
                    alt="..."
                  />
                  <div class="card-body text-center">
                    <p class="card-title fs-6">{{item.userName}}</p>
                    <div class="d-flex flex-row justify-content-center">
                      
                         <span class="ps-1">{{item.stars}}/5</span>
            <mat-icon class="align-text-bottom text-warning">star</mat-icon> 
                    </div>
                    
                  </div>
                </div>
              </div>
             
              <div
                class="carousel-indicators pt-5justify-content-start align-content-start position-absolute postionCard m-0 d-none"
                style="width: 18rem"
              >
                <div class="pt-4 mt-5">
                
                  <!-- <button *ngFor="let item of testimonials ;let i =index" -->
                    <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to='0'
                    class="active rounded-pill bg-dark py-1 px-1 border-0"
                    aria-current="true"
                    aria-label="Slide 1"
                  >
                </button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                    class="rounded-pill bg-dark py-1 px-1 border-0"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                    class="rounded-pill bg-dark py-1 px-1 border-0"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
        <!-- part 3 -->
    <!-- <div class=" rounded-0  d-flex flex-column justify-content-around align-items-center  mb-3 col-12">
      <div class=" col-12 bg-white  px-4 py-1 mb-2 ">
        <h5 class="fw-bold pt-3">اخر النشاطات</h5>
      </div>
      <div class=" col-12 bg-white  px-4 py-1 mb-2 ">
        <p class=" pt-3"> يجب أن يكون الأمر كذلك ، من الضروري أن تتسبب في حدوث مشكلة. يجب أن يكون الأمر كذلك ، من الضروري أن تتسبب في حدوث مشكلة. </p>
      </div>
    </div> -->
  </div>
</div>



</section>

