@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$fontCairoFamily: 'Cairo', sans-serif;
$textColor:#18AF9A;
$Alltext:#004057;
$bgGrayD:#C7C7C7;
$bgButton:#CAECE8;
$textButton:#18AF9A;

.cairo{
  font-family: "cairo";

}
input[type="search"]{
  &:hover,&.active {

    box-shadow: none !important;
  }
  &:focus{
    box-shadow: none !important;

  }

}
.bgButton{
  background-color: #CAECE8;
  color: #18AF9A;

  >p{
    color: #18AF9A;
  }
  &:hover{
    background-color: #CAECE8;
    box-shadow: none;
    color: #18AF9A;

  }
  &:focus{
    box-shadow: none;
    color: #18AF9A;

  }
}
.start50{
  left: 93%!important;
  color: white!important;
  background-color: rgba(0, 0, 0, 0.698) !important;
  &:focus{
    box-shadow: none!important;
    border: 0 none transparent;
  }
}
.colorBto{
  background-color: #CAECE8;
  color: #18AF9A;

}
@media (min-width: 992px){
.collg4 {
    flex: 0 0 auto;
    width: 32.333333%;
}
}
.bgsecondary{
  background-color: #F3F3F3!important;
}
.text-mint{
  color: #18AF9A!important;
  font-family: $fontCairoFamily;
}

.cairo{
  font-family: "cairo";

}
.card
{
  padding:5% 5% 3% 4%;
  border: none;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;


  color:#004057;
}

.earn
{
  padding: 5% 3%;
}

img
{
  height: 93%;
}
.bgtran{
  background-color: transparent !important;
}

.form-control:disabled {
  background-color:transparent !important;
  opacity: inherit !important;
  border: 0px none none !important;
}
#exampleColorInput{
  border: none !important;
  appearance: none !important;
  border-radius: 0% !important;
  &::-webkit-color-swatch{
    border: none !important;
    border-radius: 0% !important;

  }
  &::-mos-color-swatch{
    border: none !important;
    border-radius: 0% !important;

  }
}