<div class="position-fixed pe-0 col-2 col-md-3 col-lg-2" style="right: 0;">
      <div
        class="m-0"
        style="background-color: #004057; font-weight: 600"
        id="sidebar-wrapper"
      >
        <div class="list-group list-group-flush d-flex align-items-center justify-content-center flex-column">
          <div class="text-white col-12 " >
            <ng-container *ngFor="let item of data; let i=index">
              <div
                class="p-2 my-4 pe-3 sidebar-item col-12 sidebaritem"
                (click)="routing(item.routing)"
                [routerLinkActive]="['active']">
                <img
                  [src]="item.image"
                  alt=""
                  srcset=""
                  width="28px"
                  height="28px"
                />
                <span class="px-2 title"> {{item.title}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
