body {
      overflow-x: hidden;
    }
    
    #sidebar-wrapper {
      span{
        font-family: 'cairo';
      }
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin 0.25s ease-out;
      -moz-transition: margin 0.25s ease-out;
      -o-transition: margin 0.25s ease-out;
      transition: margin 0.25s ease-out;
      .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
      }
      .list-group {
        width: 100%;
      }
    
    }
    
    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
     
      width: 100%;}
    
    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }
    
      
      .show {
        margin-left: 0 !important;
      }
      .hide {
        margin-left: -15rem !important;
      }
    }
    @media (max-width: 767px) {
      .list-group .title{
        display: none;
        }
        .list-group .items{
          text-align: center;
        }
    }
    .sidebar-item{
      cursor: pointer;
      transition: all 0.5 ease-in-out;
    }
    .sidebar-item:hover{
      background-color: #1a5f78;
    }
    .actives.active{
      background-color: #1a5f78 !important;

    }