@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$fontCairoFamily: 'Cairo', sans-serif;
$textColor:#18af9a;
$Alltext:#004057;
$bgGrayD:#C7C7C7;
$bgButton:#F3FBFA;
$colorbg:#030303;

.form-label.h5{
  color: $Alltext !important;
}
.form-control.py-2:focus{
border-color: $Alltext!important;
box-shadow: none !important;
}
