.cairo{
      font-family: 'cairo';
}
.is-invalid{
      border-left: 4px solid #f2564b;
    }
    .is-valid{
      border-left: 4px solid #18af9a;}
    .slider{
left: 0;
position: absolute;
top: 0;
    }
    .submitBtn{
      transition: all 0.5s ease-in-out;
      background: #18af9a
    }
    .submitBtn:hover{
      background-color: #007666;
    }
    label, p, a, div{
      font-family: 'cairo';
  
    }