<div class="row">
  <div class="col-2">



    <div class="text-white min-vh-100"
      style="background-color: #004057">
      <div class="row">
        <div class="col-6">
          
          لوحة التحكم
      
      
        </div>
        <div class="col-6">
        <img src="assets/images/icon1.png" class="mx-5" alt="" srcset="" width="20px" height="20px" >
  </div>
      </div>
     


    </div>






  </div>
  <div class="col-8">
    <div class="container">
      <h5 class="mb-5 t mt-5 bd-title" dir="rtl" style="color: #004057;">إستكمال البيانات الخاصة بك</h5>
      <form [formGroup]="myForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="TypeService">نوع الخدمة</label>
              <input type="text" id="TypeService" class="form-control form-control-lg" name="TypeService"
                formControlName="TypeService" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="CompanyName">إسم الشركة</label>
              <input type="text" id="CompanyName" name="CompanyName" formControlName="CompanyName"
                class="form-control form-control-lg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="CompNum">رقم تسجيل الشركة</label>
              <input type="text" id="CompNum" name="CompNum" formControlName="CompNum"
                class="form-control form-control-lg" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="TypeService">اسم المستخدم</label>
              <input type="text" id="TypeService" class="form-control form-control-lg" name="TypeService"
                formControlName="TypeService" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="email">البريد الالكتروني</label>
              <input type="text" id="email" name="email" formControlName="email" class="form-control form-control-lg" />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="form-outline">
              <label class="form-label" for="email">البريد الالكتروني</label>
              <input type="text" id="email" name="email" formControlName="email" class="form-control form-control-lg" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <label for="file" class="mb-2">شهادة التأمينات الاجتماعية</label>
            <div class="input-group custom-file-button form-control">
              <input type="file" class="form-control border-0" id="inputGroupFile" placeholder="mohamed">
              <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="file" class="mb-2">خطاب بنكي برقم الأيبان</label>
            <div class="input-group custom-file-button form-control">
              <input type="file" class="form-control border-0" id="inputGroupFile" placeholder="mohamed">
              <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="file" class="mb-2">شهادة الزكاة والدخل</label>
            <div class="input-group custom-file-button form-control">
              <input type="file" class="form-control border-0" id="inputGroupFile" placeholder="mohamed"
                formControlName="file" id="file" type="file" (change)="onFileChange($event)">
              <label class="btn btn-primary rounded-1" for="inputGroupFile">ارفاق</label>
            </div>
          </div>
        </div>







        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4">
            <button class="btn btn-success form-control" type="submit">التالي</button>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>