

<!-- hgfv,tdg -->

<div class="card mb-3 border-0 rounded-1" >
  <div class="row g-0">
    <div class="col-md-2">
      <img
        src="{{iProfileAdmin.adminProfile.profilePicturePath}}"
        class="img-fluid rounded-1 h-100"
        alt="..."
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h5 class="card-title nameProfile "> {{iProfileAdmin.adminProfile.firstName}} {{iProfileAdmin.adminProfile.lastName}} </h5>
          <span class="edit">تعديل </span>
        </div>
        <!-- <h5 class="card-title nameProfile">Admin ADMIN ADMIN admin</h5> -->

        <p class="card-text emANumProfile">{{iProfileAdmin.phoneNumber}}</p>
        <p class="card-text emANumProfile">{{iProfileAdmin.email}}</p>
      </div>
    </div>
  </div>
</div>

<!-- تغير رقم السر ي-->

<div
  class="bg-white p-3 mb-3 d-flex justify-content-between align-items-center"
>
  <a mat-button href="https://www.google.com/" target=""
    class="nameProfile">تغير الرقم السري</a
  >
  <p class="nameProfile">#########</p>
</div>
<!-- الحاله -->


 <div
  class="bg-white py-2 px-4 d-flex justify-content-between align-items-center"
>
  <p class="stutsProfile">تم اضافته <span>كمدير للمنصه</span></p>
  <p class="stutsProfile" >منذ  2-3-3003</p>
</div>
