.cairo{
      font-family: 'cairo';
}
.is-invalid{
      border-left: 4px solid #f2564b;
    }
    .is-valid{
      border-left: 4px solid #18af9a;}
    .slider{
left: 0;
position: absolute;
top: 0;
    }