@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$fontCairoFamily: 'Cairo', sans-serif;
$textColor:#18af9a;
$Alltext:#004057;
$bgGrayD:#C7C7C7;
$bgButton:#F3FBFA;


.eee {
  background-color: #eee;
}
.bg-green {
  background-color: $Alltext;
}
.premary-color {
  color: $Alltext;
}
.text-Bgreen {
  color: #12e192;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #12e192;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #12e192;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: $textColor;
}
