<div class="row">
    <div class="col-12 mt-4 pt-4 "><h1 class="text-center">أراء عملائنا</h1></div>

    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-4 ">
        <!-- <img src="../../../../assets/icons/arrow-circle-right.png" width="15" height="15"> -->
        <div class="card  m-2" >
            <div class="card-body">
                <h1 class="quots">“</h1>
              <p class="card-text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
              <div class="d-flex mt-2">
               <img src="../../../../assets/tempImages/Avatar.png">
               <div class="user">
                <p class="mt-2">راشد العلى</p>
                <small>البحرين</small>
               </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-4">
        <div class="card  m-2" >
            <div class="card-body">
                <h1 class="quots ">“</h1>
              <p class="card-text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
              <div class="d-flex mt-2">
               <img src="../../../../assets/tempImages/Avatar1.png">
               <div class="user">
                <p class="mt-2"> سعود بن أحمد</p>
                <small>المملكة العربية السعودية</small>
               </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mt-4">
        <div class="card  m-2" >
            <div class="card-body">
                <h1 class="quots">“</h1>
              <p class="card-text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.</p>
              <div class="d-flex mt-2">
               <img src="../../../../assets/tempImages/Avatar2.png">
               <div class="user">
                <p class="mt-2"> أنس عبدالله</p>
                <small>الإمارات العربية المتحدة</small>
               </div>
              </div>
            </div>
        </div>
    <!-- <img src="../../../../assets/icons/arrow-circle-left.png"  width="15" height="15"></div> -->

 </div>
