<div class="m-3">
  <div
    class="d-flex flex-row mb-3 col-12 justify-content-around flex-wrap flex-lg-nowrap"
  >
    <button
      [ngStyle]="{
        'background-color': newApi === 1 ? '#004958' : '#ffffff',
        color: newApi === 1 ? '#ffffff' : '#000000'
      }"
      class="btn cairo rounded-0 col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2 mb-3 fs-5"
      role="button"
      (click)="getNewClientProfiles()"
    >
      طلبات الانضمام
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 2 ? '#004958' : '#ffffff',
        color: newApi === 2 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0 cairo col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2 mb-3 fs-5"
      role="button"
      (click)="getActiveClientAcconting()"
    >
      العملاء النشيطين
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 3 ? '#004958' : '#ffffff',
        color: newApi === 3 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0 cairo col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2 mb-3 fs-5"
      role="button"
      (click)="getNonActiveClientAccount()"
    >
      العملاء غير النشيطين
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 4 ? '#004958' : '#ffffff',
        color: newApi === 4 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0 cairo col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2 mb-3 fs-5"
      role="button"
      (click)="getBlockedClientsProfiles()"
    >
      العملاء المعطلين
    </button>

    <button
      [ngStyle]="{
        'background-color': newApi === 5 ? '#004958' : '#ffffff',
        color: newApi === 5 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0 cairo col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2 mb-3 fs-5"
      role="button"
      (click)="getExpiredClientsProfiles()"
    >
      العملاء المنتهين
    </button>
  </div>

  <div
    class="col-12 d-flex flex-row flex-wrap justify-content-between"
    *ngIf="isProcessing; else undefind"
  >
    <div class="col-md-4 col-12 position-relative">
      <form class="d-flex flex-column me-3">
        <!-- search company -->

        <div class="d-flex position-relative mb-3">
          <input
            class="form-control bg-white border-0 rounded-0 w-100"
            type="search"
            placeholder="Search for name ,number,location,etc"
            aria-label="Search"
            name="filterTerm"
            [(ngModel)]="filterTerm"
          />
          <button class="btn position-absolute top-0 start-0" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>

        <!-- card company -->
        <div
          class="card mb-3 border-0 rounded-0 textFontSizeCard"
          *ngFor="let pro of iProfileData | filter: filterTerm"
        >
          <div
            class="card-body"
            (click)="objectProduct(pro, pro.id)"
            [ngStyle]="{
              'background-color':
                productCurrent.id === pro.id ? '#004958' : '#ffffff',
              color: productCurrent.id === pro.id ? '#ffffff' : '#000000'
            }"
          >
            <div class="d-flex align-items-start mb-2">
              <img
                class=""
                src="assets/icons/user.svg"
                *ngIf="productCurrent.id != pro.id; else whiteIconw"
              />
              <ng-template #whiteIconw
                ><img src="assets/icons/userWh.svg" class=""
              /></ng-template>
              <div class="card-title me-3">
                <p *ngIf="pro.firstName; else templateName" class="fs-6">
                  {{ pro.firstName }} {{ pro.lastName }}
                </p>
                <ng-template #templateName> Null firstName </ng-template>
              </div>
            </div>
            <div class="d-flex align-items-start mb-2">
              <img
                src="assets/icons/Group 801.svg"
                class=""
                [hidden]="productCurrent.id === pro.id"
              />
              <img
                src="assets/icons/Group 801White.svg"
                class=""
                [hidden]="productCurrent.id != pro.id"
              />
              <p
                class="me-3 fs-6"
                *ngIf="
                  pro.district.city.region.code &&
                    pro.district.city.region.nameAr;
                  else region
                "
              >
                <span class="fs-6" *ngIf="pro.district.nameAr; else regioncode"
                  >{{ pro.district.nameAr }} ,
                </span>
                <ng-template #regioncode> </ng-template>
                <span
                  class="fs-6"
                  *ngIf="pro.district.city.nameAr; else regioncode"
                >
                  {{ pro.district.city.nameAr }} ,
                </span>
                <ng-template #regionnameAr> </ng-template>
                <span
                  class="fs-6"
                  *ngIf="pro.district.city.region.nameAr; else regioncode"
                >
                  {{ pro.district.city.region.nameAr }}
                </span>
                <ng-template #regionnameAr> </ng-template>
              </p>
              <ng-template #region></ng-template>
            </div>
            <div class="d-flex align-items-start">
              <img
                src="assets/icons/calendar.svg"
                class=""
                [hidden]="productCurrent.id === pro.id"
              />
              <img
                src="assets/icons/calendarWh.svg"
                class=""
                [hidden]="productCurrent.id != pro.id"
              />
              <div class="card-title me-3">
                <p *ngIf="pro.firstName; else templateName" class="fs-6">
                  {{ pro.dateCreated | date: "M/d/yyyy" }}
                </p>
                <ng-template #templateName> Null firstName </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="position-absolute top100" [hidden]="total <= 1">
            <nav aria-label="..." class="w-100 d-flex justify-content-center">
              <ul class="pagination w-100">
                <li class="page-item">
                  <button
                    (click)="prev()"
                    class="page-link rounded-0 btn-dark"
                    [disabled]="page <= 1"
                  >
                    السابق
                  </button>
                </li>

                <ng-container
                  class="page-item"
                  *ngFor="let mypage of pagenation; let i = index"
                >
                  <li class="page-item">
                    <a
                      class="page-link"
                      [ngClass]="mypage + 1 == page ? 'mainBk' : ''"
                      >{{ mypage + 1 }}</a
                    >
                  </li>
                </ng-container>
                <li class="page-item">
                  <button
                    (click)="next()"
                    class="page-link rounded-0 btn-dark"
                    [disabled]="page == pagenation.length"
                  >
                    التالي
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </form>

      <!-- <tr *ngIf="pagenationNewProfiles">
        <th
          scope="row"
          *ngFor="
            let data of arrayNewProfiles
              | paginate: { itemsPerPage: 1, currentPage: page }
          "
        ></th>
        <td colspan="1"></td>
        <td colspan="6">
          <pagination-controls
            (click)="getNewClientProfiles(page)"
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>

      <tr *ngIf="pagenationActiveClientAcconting">
        <th
          scope="row"
          *ngFor="
            let data of arrayOfDigitsActiveClientAcconting
              | paginate: { itemsPerPage: 1, currentPage: page }
          "
        ></th>
        <td colspan="1"></td>
        <td colspan="6">
          <pagination-controls
            (click)="getActiveClientAcconting(page)"
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>
      <tr *ngIf="pagenationNonActiveClientAccount">
        <th
          scope="row"
          *ngFor="
            let data of arrayOfDigitsNonActiveClientAccount
              | paginate: { itemsPerPage: 1, currentPage: page }
          "
        ></th>
        <td colspan="1"></td>
        <td colspan="6">
          <pagination-controls
            (click)="getNonActiveClientAccount(page)"
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>

      <tr *ngIf="pagenationBlockedClientsProfiles">
        <th
          scope="row"
          *ngFor="
            let data of arrayBlockedClientsProfiles
              | paginate: { itemsPerPage: 1, currentPage: page }
          "
        ></th>
        <td colspan="1"></td>
        <td colspan="6">
          <pagination-controls
            (click)="getBlockedClientsProfiles(page)"
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr>
      <tr *ngIf="pagenationExpiredClientsProfiles">
        <th
          scope="row"
          *ngFor="
            let data of arrayOfDigitsExpiredClientsProfiles
              | paginate: { itemsPerPage: 1, currentPage: page }
          "
        ></th>
        <td colspan="1"></td>
        <td colspan="6">
          <pagination-controls
            (click)="getExpiredClientsProfiles(page)"
            (pageChange)="page = $event"
          ></pagination-controls>
        </td>
      </tr> -->
    </div>
    <div class="col-md-7 sizew col-12 flex-row">
      <div class="col-12 card mb-3 border-0 rounded-0 p-4">
        <div class="row g-0 justify-content-evenly align-items-center">
          <div class="col-lg-2 col-sm-3">
            <img
              *ngIf="productCurrent.profilePicturePath; else profilePicturePath"
              src="{{ productCurrent.profilePicturePath }}"
              class="img-fluid rounded-0 w-75 ms-5 me-2 p-1"
              alt="null"
            />
            <ng-template #profilePicturePath> C </ng-template>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="card-body">
              <p class="me-2">
                {{ productCurrent.firstName }} {{ productCurrent.lastName }}
              </p>
            </div>
          </div>
          <div class="col-md-7 col-sm-5">
            <div class="d-flex">
              <a type="button" class="btn w-25" (click)="changeToAccepted()">
                <i class="fa-solid fa-check text-muted"></i>
                <p class="fsvw">مكتمل</p></a
              >
              <a
                type="button"
                class="btn w-25"
                (click)="changeToNotComplette()"
              >
                <i class="fa-solid fa-exclamation"></i>
                <p class="fsvw">غير مكتمل</p></a
              >
              <a type="button" class="btn w-25" (click)="changeToReject()"
                ><i class="fa-solid fa-xmark"></i>
                <p class="fsvw">رفض</p></a
              >
              <a type="button" class="btn w-25"
                ><i class="fa-solid fa-xmark"></i>
                <p class="fsvw">مراسله</p></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 card mb-3 border-0 rounded-0 py-4 px-5">
        <h2 class="card-title mb-4 titleInformation">معلومات عن العميل</h2>
        <div class="d-flex col-12 mb-4 flex-wrap">
          <div class="col-12 mb-4">
            <div class="d-flex flex-row justify-content-between">
              <p class="card-subtitle text-muted ms-2 fs-6">رقم الهوية</p>

              <p class="fs-6 textInformation">{{ productCurrent.idNumber }}</p>

              <!-- <div   [hidden]="!productCurrent.idFile"> -->
              <a
                class="informationDownload bg-light d-flex px-2 align-items-center"
                target="_blank"
                (click)="
                  download(
                    productCurrent.profilePicturePath,
                    productCurrent.idFile
                  )
                "
                *ngIf="productCurrent.idFile; else idFile"
              >
                <i class="fa fa-download typeCom ms-3"></i>
                <p class="pt-3">{{ productCurrent.idFile }}</p>
              </a>
              <ng-template #idFile>___</ng-template>
              <!-- </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">الدوله</p>
            <small
              class="fs-6"
              *ngIf="productCurrent.district.city.region.code; else cityName"
              >{{ productCurrent.district.city.region.code }}</small
            >
            <ng-template #cityName> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">المدينه</p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.district.city.nameAr; else city"
              >{{ productCurrent.district.city.nameAr }}</small
            >
            <ng-template #city> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">المنطقه</p>
            <small
              class="fs-6 textInformation"
              *ngIf="
                productCurrent.district.city.region.nameAr;
                else regionName
              "
              >{{ productCurrent.district.city.region.nameAr }}</small
            >
            <ng-template #regionName> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">العنوان</p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.streetName; else shortAddress"
              >{{ productCurrent.buildingNumber }},
              {{ productCurrent.streetName }} -
              {{ productCurrent.neighborhood }}</small
            >
            <ng-template #shortAddress> _ </ng-template>
          </div>

          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">رقم هاتف المكتب</p>
            <small
              class="fs-6 textInformation"
              *ngIf="
                productCurrent.district.officePhoneNumber;
                else officePhoneNumber
              "
              >{{ productCurrent.district.officePhoneNumber }}</small
            >
            <ng-template #officePhoneNumber> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">
              عنوان البريد الالكتروني
            </p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.email; else emailName"
              >{{ productCurrent.email }}</small
            >
            <ng-template #emailName> _ </ng-template>
          </div>
          <div class="d-flex col-4 flex-column">
            <p class="card-subtitle text-muted fs-6 mb-2">رابط الموقع</p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.websiteLink; else websiteLink"
              >{{ productCurrent.websiteLink }}</small
            >
            <ng-template #websiteLink> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">صندوق البريد</p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.postalBox; else box"
              >{{ productCurrent.postalBox }}</small
            >
            <ng-template #box> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-muted fs-6 mb-2">رمز البريد</p>
            <small
              class="fs-6 textInformation"
              *ngIf="productCurrent.postalCode; else postcode"
              >{{ productCurrent.postalCode }}
            </small>
            <ng-template #postcode> _ </ng-template>
          </div>
        </div>
      </div>
      <!-- projects -->

      <!-- <div
        class="col-12 d-flex flex-row flex-wrap justify-content-between"
        *ngIf="productCurrent.joinRequestStatus.accountStatus.id !== 4"
      >
        <div class="sizewSay col-12">
            <div class="d-flex flex-column px-4 py-2 bg-white mb-2" *ngIf="productCurrent.joinRequestStatus.accountStatus.id === 1 ">
              <p class="bodyResine fw-bold align-content-end">
              </p>
              <small class="titleResone align-content-end">
                {{ productCurrent.joinRequestStatus.description }}.</small
              >
            </div>


            <div class="d-flex flex-column px-4 py-2 bg-white mb-2" *ngIf="productCurrent.joinRequestStatus.accountStatus.id === 3 ; ">
              <p class="bodyResine fw-bold align-content-end">سبب تعطيل الحساب</p>
              <small class="titleResone align-content-end">
                {{ productCurrent.joinRequestStatus.description }}.</small
              >
            </div>

          <div class="d-flex flex-column px-4 py-2 bg-white mb-2" *ngIf="productCurrent.joinRequestStatus.accountStatus.id === 2 ; ">
            <p class="bodyResine fw-bold align-content-end">
              سبب انتهاء الحساب
            </p>
            <small class="titleResone align-content-end">
              {{ productCurrent.joinRequestStatus.description }}.</small
            >
          </div>
          <div
            class="d-flex flex-column justify-content-center px-4 py-4 align-items-center bg-white"
          >
            <div class="py-3 px-4 rounded-circle circle mb-3">
              <p class="fs-1 fw-bolder">10</p>

              <i class="fa fa-handshake-simple fs-1 fw-bolder"></i>
            </div>
            <p class="fw-bold projectLeter">شركات تم التعامل معهم</p>
          </div>
          <div
            class="sayPro d-flex justify-content-center px-4 py-1 align-items-center"
          >
            <a class="btn sayPro text-center" href="#" role="button"
              >رؤية جميع المشاريع</a
            >
          </div>
        </div>
        <div class="col-md-7 col-12 mb-1">
          <div
            class="d-flex justify-content-between bg-white px-4 py-1 align-items-center"
          >
            <h2 class="fw-bold pt-3">تقيم العملاء</h2>
            <div class="align-content-end">
              <span class="ps-1">4/5</span>
              <mat-icon class="align-text-bottom text-warning">star</mat-icon>
            </div>
          </div>

          <div class="position-relative mt-2">
            <div
              id="carouselExampleCaptions"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div
                    class="card d-flex justify-content-center align-items-center p-3 border-0 rounded-0 bg-white pb-5"
                  >
                    <img
                      src="https://picsum.photos/200"
                      class="card-img-top rounded-circle w-25"
                      alt="..."
                    />
                    <div class="card-body text-center">
                      <p class="card-title fs-6">Admin Admin</p>
                      <div class="d-flex flex-row justify-content-center">
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                      </div>
                      <p class="card-text text-wrap">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div
                    class="card bg-white d-flex justify-content-center align-items-center p-3 border-0 rounded-0 pb-5"
                  >
                    <img
                      src="https://picsum.photos/200"
                      class="card-img-top rounded-circle w-25"
                      alt="..."
                    />
                    <div class="card-body text-center">
                      <p class="card-title fs-6">2Admin Admin</p>
                      <div class="d-flex flex-row justify-content-center">
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                      </div>
                      <p class="card-text text-wrap">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div
                    class="card bg-white d-flex justify-content-center align-items-center p-3 border-0 rounded-0 pb-5"
                  >
                    <img
                      src="https://picsum.photos/200"
                      class="card-img-top rounded-circle w-25"
                      alt="..."
                    />
                    <div class="card-body text-center">
                      <p class="card-title fs-6">3Admin Admin</p>
                      <div class="d-flex flex-row justify-content-center">
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                        <mat-icon class="align-text-bottom text-warning"
                          >star</mat-icon
                        >
                      </div>
                      <p class="card-text text-wrap">
                        Some quick example text to build on the card title and
                        make up the bulk of the card's content.
                      </p>
                    </div>
                  </div>
                </div>

                <div
                  class="carousel-indicators pt-5justify-content-start align-content-start position-absolute postionCard m-0"
                  style="width: 18rem"
                >
                  <div class="pt-4 mt-5">
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="0"
                      class="active rounded-pill bg-dark py-1 px-1 border-0"
                      aria-current="true"
                      aria-label="Slide 1"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="0"
                      class="active rounded-pill bg-dark py-1 px-1 border-0"
                      aria-current="true"
                      aria-label="Slide 1"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="1"
                      aria-label="Slide 2"
                      class="rounded-pill bg-dark py-1 px-1 border-0"
                    ></button>
                    <button
                      type="button"
                      data-bs-target="#carouselExampleCaptions"
                      data-bs-slide-to="2"
                      aria-label="Slide 3"
                      class="rounded-pill bg-dark py-1 px-1 border-0"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
       -->
    </div>
  </div>

  
  <ng-template #undefind>
    <div
      class="alert alert-danger d-flex align-items-center h2"
      role="alert"
      *ngIf="!isProcessing"
    >
      <div>حاليا لايوجد عملاء</div>
    </div>
  </ng-template>

</div>
