*{
  margin: 0;
  padding: 0;
}


 .card
{
   border: none;
   padding: 4% ;
   color:#004057;
}

.card-1 p
{

  margin-top: 1% ;
  margin-bottom:  1% ;
}


.section-2  .card p
{

  margin-right: 4%;
  width: 95%;
}

.section-2 .card-1 p span
{
  margin-left: 45%;
}

.card p i
{

  margin-left: 3%;

}

.section-2  .card-1
{
  cursor: pointer;
}









.noresult
{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #004057;

}





