<ng-container *ngIf="result == 0">
  <div class="noresult mt-5">لا توجد نتائج عرض</div>
</ng-container>

<div class="section-2 mt-2 container-fluid">
  <div class="row">
    <div class="col-lg-3 position-relative">
      <div class="row">
        <ng-container *ngFor="let project of Listprojects; let i = index">
          <ng-container *ngIf="select == project.id">
            <div
              class="col-lg-12 card card-1 mt-4"
              (click)="showData(project.id)"
              style="background: #004958; color: white"
            >
              <p>
                <i class="far fa-building"></i>
                <span>
                  اسم المشروع :{{ project.name }}
                  <ng-container *ngIf="type == 1">
                    <a class="btn">(مشروع استشارى)</a>
                  </ng-container>

                  <ng-container *ngIf="type == 2">
                    <a class="btn">({{ _RequiredWorks[i].name }})</a>
                  </ng-container>
                </span>
              </p>
              <p>
                <i class="fa fa-location-dot"></i> العنوان:
                {{ project.district?.nameAr }},{{
                  project.district.city?.nameAr
                }}, {{ project.district.city.region?.nameAr }}
              </p>
              <p>
                <i class="far fa-calendar-alt"></i>تاريخ التسليم:{{
                  project.offers[0]?.deliveryDate
                }}
              </p>
            </div>
          </ng-container>
          <ng-container *ngIf="this.select != project.id">
            <div
              class="col-lg-12 card card-1 mt-4"
              (click)="showData(project.id)"
              style="background: white; color: #004057"
            >
              <p>
                <i class="far fa-building"></i>
                <span>
                  اسم المشروع :{{ project?.name }}
                  <ng-container *ngIf="type == 1">
                    <a class="btn">(مشروع استشارى)</a>
                  </ng-container>

                  <ng-container *ngIf="type == 2">
                    <a class="btn">({{ _RequiredWorks[i].name }})</a>
                  </ng-container>
                </span>
              </p>
              <p>
                <i class="fa fa-location-dot"></i> العنوان:
                {{ project.district?.nameAr }},{{
                  project.district?.city?.nameAr
                }}, {{ project.district?.city?.region?.nameAr }}
              </p>
              <p>
                <i class="far fa-calendar-alt"></i>تاريخ التسليم:{{
                  project.offers[0]?.deliveryDate
                }}
              </p>
            </div>
          </ng-container>
        </ng-container>
        <div class="col-12" style="height: 100px"></div>

        <div class="col-lg-12">
          <nav
            aria-label="Page navigation position-absolute top100"
            class="mt-4 mb-3"
            *ngIf="result == 1"
          >
            <ul class="pagination d-flex flex-wrap w-100">
              <ng-container *ngIf="page == 1">
                <li class="page-item disabled">
                  <button class="page-link btn p-1 px-3" tabindex="-1">
                    السابق
                  </button>
                </li>
              </ng-container>

              <ng-container *ngIf="page != 1">
                <li class="page-item">
                  <button
                    class="page-link btn p-1 px-3"
                    (click)="changepage(page - 1)"
                    tabindex="-1"
                  >
                    السابق
                  </button>
                </li>
              </ng-container>

              <ng-container *ngFor="let p of pages">
                <ng-container *ngIf="page == p">
                  <li class="page-item active">
                    <button
                      class="page-link btn p-1 px-3"
                      (click)="changepage(p)"
                    >
                      {{ p }}
                    </button>
                  </li>
                </ng-container>

                <ng-container *ngIf="page != p">
                  <li class="page-item">
                    <button
                      class="page-link btn p-1 px-3"
                      (click)="changepage(p)"
                    >
                      {{ p }}
                    </button>
                  </li>
                </ng-container>
              </ng-container>

              <ng-container *ngIf="page == pages.length">
                <li class="page-item disabled">
                  <button class="page-link btn p-1 px-3">التالى</button>
                </li>
              </ng-container>

              <ng-container *ngIf="page != pages.length">
                <li class="page-item">
                  <button
                    class="page-link btn p-1 px-3"
                    (click)="changepage(page + 1)"
                  >
                    التالى
                  </button>
                </li>
              </ng-container>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!------------------------------------>
    <ng-container *ngIf="select != 0">
      <div class="col-lg-6 mt-4 mb-3 section-3">
        <div class="row">
          <div class="col-lg-12 info">
            <div class="card card-infoP">
              <div class="row">
                <div class="col-lg-3">
                  <img
                    src="{{ selectProject?.clientProfile?.profilePicturePath }}"
                    alt="image"
                  />

                  <div *ngIf="startChat">
                    <app-start-chat
                      userType="sp"
                      process="chat"
                      [receiverId]="
                        selectProject?.clientProfile?.applicationUserId
                      "
                      [toggleStatus]="toggleStatus"
                    ></app-start-chat>
                  </div>

                  <div *ngIf="startComplaint">
                    <app-start-chat
                      userType="sp"
                      process="complaint"
                      [receiverId]="
                        selectProject?.clientProfile?.applicationUserId
                      "
                      [toggleStatus]="toggleStatus"
                    ></app-start-chat>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="card-body py-0 ps-0">
                    <p class="card-text cairo">
                      {{
                        selectProject?.clientProfile?.firstName +
                          " " +
                          selectProject?.clientProfile?.lastName
                      }}
                    </p>
                    <p
                      (click)="startChat = true"
                      class="card-text d-flex align-items-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22"
                        height="22"
                        viewBox="0 0 35.802 36.459"
                      >
                        <g
                          id="Group_485"
                          data-name="Group 485"
                          transform="translate(-196 -194)"
                        >
                          <g id="chat" transform="translate(196 194)">
                            <g
                              id="Group_480"
                              data-name="Group 480"
                              transform="translate(0)"
                            >
                              <g id="Group_479" data-name="Group 479">
                                <path
                                  id="Path_2622"
                                  data-name="Path 2622"
                                  d="M21.35,0c-.01.01-.029.01-.059.01A17.886,17.886,0,0,0,7.264,29.042L4.655,35.1a.972.972,0,0,0,.508,1.28.993.993,0,0,0,.557.068l9.563-1.68A17.234,17.234,0,0,0,21.242,35.8,17.9,17.9,0,0,0,21.35,0Zm-.1,33.858a15.68,15.68,0,0,1-5.519-1.006.937.937,0,0,0-.518-.049L7.166,34.209,9.3,29.257a.982.982,0,0,0-.156-1.026,15.617,15.617,0,0,1-2.716-4.513,15.949,15.949,0,1,1,30.8-5.9v.059A15.992,15.992,0,0,1,21.252,33.858Z"
                                  transform="translate(-3.366)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                            <g
                              id="Group_482"
                              data-name="Group 482"
                              transform="translate(10.872 14.33)"
                            >
                              <g id="Group_481" data-name="Group 481">
                                <path
                                  id="Path_2623"
                                  data-name="Path 2623"
                                  d="M120.918,146.7h-5.275a.977.977,0,1,0,0,1.954h5.275a.977.977,0,0,0,0-1.954Z"
                                  transform="translate(-114.666 -146.7)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                            <g
                              id="Group_484"
                              data-name="Group 484"
                              transform="translate(10.872 19.215)"
                            >
                              <g id="Group_483" data-name="Group 483">
                                <path
                                  id="Path_2624"
                                  data-name="Path 2624"
                                  d="M127.756,196.7H115.643a.977.977,0,1,0,0,1.954h12.113a.977.977,0,1,0,0-1.954Z"
                                  transform="translate(-114.666 -196.7)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <span class="me-3 cairo">تواصل معي من هنا </span>
                    </p>
                    <p
                      (click)="startComplaint = true"
                      class="card-text d-flex align-items-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="22"
                        height="22"
                        viewBox="0 0 35.802 36.459"
                      >
                        <g
                          id="Group_485"
                          data-name="Group 485"
                          transform="translate(-196 -194)"
                        >
                          <g id="chat" transform="translate(196 194)">
                            <g
                              id="Group_480"
                              data-name="Group 480"
                              transform="translate(0)"
                            >
                              <g id="Group_479" data-name="Group 479">
                                <path
                                  id="Path_2622"
                                  data-name="Path 2622"
                                  d="M21.35,0c-.01.01-.029.01-.059.01A17.886,17.886,0,0,0,7.264,29.042L4.655,35.1a.972.972,0,0,0,.508,1.28.993.993,0,0,0,.557.068l9.563-1.68A17.234,17.234,0,0,0,21.242,35.8,17.9,17.9,0,0,0,21.35,0Zm-.1,33.858a15.68,15.68,0,0,1-5.519-1.006.937.937,0,0,0-.518-.049L7.166,34.209,9.3,29.257a.982.982,0,0,0-.156-1.026,15.617,15.617,0,0,1-2.716-4.513,15.949,15.949,0,1,1,30.8-5.9v.059A15.992,15.992,0,0,1,21.252,33.858Z"
                                  transform="translate(-3.366)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                            <g
                              id="Group_482"
                              data-name="Group 482"
                              transform="translate(10.872 14.33)"
                            >
                              <g id="Group_481" data-name="Group 481">
                                <path
                                  id="Path_2623"
                                  data-name="Path 2623"
                                  d="M120.918,146.7h-5.275a.977.977,0,1,0,0,1.954h5.275a.977.977,0,0,0,0-1.954Z"
                                  transform="translate(-114.666 -146.7)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                            <g
                              id="Group_484"
                              data-name="Group 484"
                              transform="translate(10.872 19.215)"
                            >
                              <g id="Group_483" data-name="Group 483">
                                <path
                                  id="Path_2624"
                                  data-name="Path 2624"
                                  d="M127.756,196.7H115.643a.977.977,0,1,0,0,1.954h12.113a.977.977,0,1,0,0-1.954Z"
                                  transform="translate(-114.666 -196.7)"
                                  fill="#029a16"
                                />
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <span class="me-3 cairo"> تقديم شكوي في المسؤول </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 mt-3">
            <div class="card card-2">
              <div class="row">
                <div class="col-lg-12 pt-4 px-4 pb-5 content-prec text-center">
                  <circle-progress
                    [percent]="calcPrecentage"
                    [radius]="50"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#18af9a'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                    title="{{ calcPrecentage.toFixed(2) }}%"
                  >
                  </circle-progress>
                  <p class="mt-3" *ngIf="calcPrecentage != 0">
                    تم الانتهاء {{ calcPrecentage.toFixed(2) }}% من المراحل
                  </p>

                  <p class="mt-3" *ngIf="calcPrecentage == 0">
                    {{ statusStage }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-2">
            <div class="row">
              <ng-container *ngFor="let stage of Allstages; let i = index">
                <div class="col-lg-12 mt-1">
                  <h2 class="card">
                    <button
                      class="btn btn-accordion w-100 acc"
                      type="button"
                      (click)="toggleStage(stage.id)"
                    >
                      {{ nameStage[i] }}
                      <i class="fas fa-angle-down"></i>
                    </button>
                  </h2>
                  <div class="card mt-2 card-2-1">
                    <div id="accordion">
                      <ng-container *ngIf="togglestage[stage.id] == 1">
                        <div class="pt-3 pb-3">
                          <p>{{ selectProject?.subject }}</p>

                          <div class="row mt-2 text-center">
                            <div class="col-lg-6 mt-2">
                              <a
                                href="{{
                                  selectProject.clientProjectDocuments[0]
                                    ?.filePath
                                }}"
                                target="_blank"
                                ><i
                                  class="fa fa-file-pdf-o"
                                  style="color: red; margin-left: 3%"
                                ></i
                                >اسم الملف</a
                              >
                            </div>
                            <div class="col-lg-6 mt-2">
                              <a href=""
                                ><i
                                  class="fa-solid fa-image"
                                  style="color: green"
                                ></i>
                                صوره للموقع</a
                              >
                            </div>

                            <div
                              class="col-lg-12 px-2 mt-2"
                              style="font-size: 14px"
                            >
                              <div class="row">
                                <div class="col-lg-5">
                                  <button
                                    class="btn"
                                    type="button"
                                    (click)="finished(stage.id)"
                                    [disabled]="this.stagefinish[stage.id] == 1"
                                  >
                                    انهاء مرحله
                                  </button>

                                  <span style="margin-right: 15%"> | </span>
                                </div>

                                <div class="col-lg-3">
                                  <button
                                    class="btn"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#open"
                                    [disabled]="stage.milestoneStatusId != 2"
                                  >
                                    تعليق
                                  </button>

                                  <!------------Start Modal------------->
                                  <div
                                    class="fade modal mt-5"
                                    aria-hidden="false"
                                    role="dialog"
                                    id="open"
                                  >
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button
                                            type="button"
                                            class="btn close"
                                            data-bs-dismiss="modal"
                                          >
                                            <i class="far fa-circle-xmark"></i>
                                          </button>
                                        </div>

                                        <form [formGroup]="Reason">
                                          <div class="modal-body">
                                            <h4>اكتب سبب التعليق</h4>

                                            <div class="form-group">
                                              <textarea
                                                class="form-control mt-3"
                                                formControlName="reason"
                                              ></textarea>
                                            </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button
                                              type="submit"
                                              class="btn"
                                              data-bs-dismiss="modal"
                                              (click)="pending(stage.id)"
                                            >
                                              ارسال
                                            </button>
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>

                                  <!-------------End Modal-------------------->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 mt-2">
            <div class="card card-2">
              <div class="row">
                <div class="col-lg-12 p-2 content-1">
                  <h6>نبذه عن المشروع</h6>
                  <p>{{ selectProject?.subject }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-2">
              <div class="row">
                <div class="col-lg-12 p-2 content-2">
                  <p>
                    صلاحيه عرض السعر:
                    <span>{{ selectProject.offers[0]?.period }}</span>
                  </p>
                  <p>
                    التصنيف الرئيسى للمشروع:
                    <span>{{ selectProject.projectCategory?.name }}</span>
                  </p>
                  <p>
                    التصنيف الفرعى للمشروع:
                    <span>{{ selectProject.projectSubCategory?.name }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-2">
              <div class="row">
                <div class="col-lg-12 p-2 content-2">
                  <p>
                    عنوان المشروع :
                    <span
                      >{{ selectProject.district?.nameAr }},{{
                        selectProject.district?.city?.nameAr
                      }},
                      {{ selectProject.district?.city?.region?.nameAr }}</span
                    >
                  </p>
                  <p>
                    رقم القطعه : <span>{{ selectProject?.plotNumber }}</span>
                  </p>
                  <p>
                    رقم المخطط التنظيمى :
                    <span>{{ selectProject?.organizationalChartNumber }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 mt-3">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card card-3">
                      <h6>مكونات المشروع</h6>
                      <ul>
                        <ng-container
                          *ngFor="let component of projectComponent"
                        >
                          <div>
                            <li>
                              <i class="fa fa-greater-than"></i>
                              {{ component.name }}
                            </li>
                          </div>
                        </ng-container>
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-12 mt-3">
                    <div class="card card-3">
                      <h6>الملفات الخاصه بالمشروع</h6>
                      <ul>
                        <ng-container
                          *ngFor="
                            let document of selectProject.clientProjectDocuments
                          "
                        >
                          <li
                            style="border: none; background-color: transparent"
                            (click)="
                              downloadFile(document.filePath, document.file)
                            "
                          >
                            <i
                              class="fa fa-download mt-2"
                              aria-hidden="true"
                            ></i>
                            {{ document?.file.substring(0, 25) }}..
                          </li>
                        </ng-container>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-3">
                <div class="card card-3">
                  <h6>الاعمال المطلوبه</h6>
                  <ul>
                    <ng-container *ngFor="let work of this.RequiredWorks">
                      <div>
                        <li>
                          <i class="fa fa-greater-than"></i>
                          {{ work.name }}
                        </li>
                      </div>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-----------------Last Section ----------------------->
      <div class="col-lg-3 mt-4 mb-3 section-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-4">
              <div class="row">
                <div class="col-lg-2 mt-1">
                  <img
                    src="{{
                      Representative?.organizationalServiceProviderProfile
                        ?.profilePicturePath
                    }}"
                    alt="image"
                    class="w-80"
                  />
                </div>
                <div class="col-lg-5 mt-3">
                  <p>
                    م : {{ Representative?.firstName }}
                    {{ Representative?.lastName }}
                  </p>
                </div>
                <div class="col-lg-5">
                  <p class="mt-3" style="color: #18af9a; font-size: 10px">
                    (مسئول عن المشروع)
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-4-1">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>{{ selectProject.area }} <span>متر مربع</span></h2>
                  <p>مساحه الارض المقام عليها المشروع</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-4-2">
              <div class="row">
                <div class="col-lg-9 text-center">
                  <h2>{{ selectProject.offers[0]?.cost }}<span>ريال</span></h2>
                  <p>الميزانيه الخاصه بهذا المشروع</p>
                </div>
                <div class="col-lg-3">
                  <a href="">عرض</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-2">
            <div class="card card-date">
              <div class="row">
                <div class="col-lg-12" class="calender">
                  <mat-calendar [(selected)]="selected"></mat-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12 mt-2">
            <div class="card card-4-4">
              <div class="row">
                <div class="col-lg-6 mt-2">
                  <h2>
                    {{ selected | date : "mediumDate" }}
                  </h2>
                </div>
                <div class="col-lg-6">
                  <a class="btn">تعديل المحتوى</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-4-5">
              <div class="row">
                <div class="col-lg-12">
                  <p>{{ selectProject?.subject }}</p>
                </div>
                <div class="col-lg-12 mt-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <a
                        href="{{
                          selectProject.clientProjectDocuments[0]?.filePath
                        }}"
                        ><i
                          class="fa fa-file-pdf-o"
                          style="color: red; font-size: 20px; margin-left: 3%"
                        ></i
                        >اسم الملف</a
                      >
                    </div>
                    <div class="col-lg-6">
                      <a href=""
                        ><i
                          class="fa-solid fa-image"
                          style="color: green; font-size: 20px"
                        ></i>
                        صوره للموقع</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mt-2">
            <div class="card card-4-6">
              <a href="">رؤيه مسار العمل على المشروع</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
