<ng-container *ngIf="result==0">
  <div class="noresult mt-5">
    لا توجد نتائج عرض
  </div>
</ng-container>


<div class="section-2 mt-2">
  <div class="row">
    <div class="col-lg-3">
      <div class="row">

        <ng-container *ngFor="let project of Listprojects">
          <ng-container *ngIf="select==project.id">
            <div class="col-lg-12 card card-1 mt-4" (click)="showData(project.id)"
              style="background:#004958; color:white;">
              <p><i class="far fa-building "></i>
                <span> اسم المشروع :{{project.name}}
                  <a class="btn">(مشروع استشارى)</a>
                </span>
              </p>
              <p><i class="fa fa-location-dot "></i>
                العنوان: {{project.district?.nameAr}},{{project.district.city?.nameAr}},
                 {{project.district.city.region?.nameAr}} </p>
              <p><i class="far fa-calendar-alt "></i>تاريخ التسليم:{{project.offers[0]?.deliveryDate}}</p>
            </div>
          </ng-container>


          <ng-container *ngIf="this.select!=project.id">
            <div class="col-lg-12 card card-1 mt-4" (click)="showData(project.id)"
              style="background:white;  color:#004057;">
              <p><i class="far fa-building "></i>
                <span> اسم المشروع :{{project?.name}}
                  <a class="btn">(مشروع استشارى)</a>
                </span>
              </p>
              <p><i class="fa fa-location-dot "></i>
                العنوان: {{project.district?.nameAr}},{{project.district?.city?.nameAr}},
                 {{project.district?.city?.region?.nameAr}} </p>
              <p><i class="far fa-calendar-alt "></i>تاريخ التسليم:{{project.offers[0]?.deliveryDate}}</p>
            </div>
          </ng-container>

        </ng-container>


        <nav aria-label="Page navigation" class="mt-4 mb-3"  *ngIf="result==1">
          <ul class="pagination">

            <ng-container *ngIf="page==1">
            <li class="page-item disabled">
              <button class="page-link btn p-1 px-3" tabindex="-1">السابق</button>
            </li>
            </ng-container>

             <ng-container *ngIf="page!=1">
              <li class="page-item">
                <button class="page-link btn p-1 px-3" (click)="changepage(page-1)" tabindex="-1">السابق</button>
              </li>
              </ng-container>

            <ng-container *ngFor="let p of pages">
              <ng-container *ngIf="page==p">
                <li class="page-item active" ><button class="page-link btn p-1 px-3" (click)="changepage(p)">{{p}}</button></li>
              </ng-container>

              <ng-container *ngIf="page!=p">
                <li class="page-item"><button class="page-link btn p-1 px-3" (click)="changepage(p)">{{p}}</button></li>
              </ng-container>

            </ng-container>

            <ng-container *ngIf="page==pages.length">
            <li class="page-item disabled">
              <button class="page-link btn p-1 px-3">التالى</button>
            </li>
           </ng-container>

           <ng-container *ngIf="page!=pages.length">
            <li class="page-item">
              <button class="page-link btn p-1 px-3" (click)="changepage(page+1)">التالى</button>
            </li>
           </ng-container>

          </ul>
        </nav>

      </div>

    </div>


    <!------------------------------------>

    <ng-container *ngIf="select!=0">
    <div class="col-lg-6 mt-4 mb-3 section-3">
      <div class="row">
        <div class="col-lg-12 info">
          <div class="card card-infoP">
            <div class="row">
              <div class="col-lg-3">
              <img src="{{selectProject.clientProfile.profilePicturePath}}" alt="image" >
              </div>

              <div class="col-lg-5  mt-4">
                <p>{{selectProject.clientProfile.firstName}}
                  {{selectProject.clientProfile.lastName}}
                </p>
              </div>

              <div class="col-lg-3 mt-4">
                <i class="fa fa-commenting-o"></i>
                <p style=" padding-right: 52%;">
                مراسله
                 </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-4 mt-3">
          <div class="card card-2">
            <div class="row">
              <div class="col-lg-12 pt-4 px-4 pb-5 content-prec text-center">
                <circle-progress
                [percent]="calcPrecentage"
                [radius]="50"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#18af9a'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                title="{{calcPrecentage}}%"
              ></circle-progress>
                 <p class="mt-3">{{statusStage}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-2">
          <div class="row">

            <ng-container *ngFor="let stage of Allstages ; let i=index;">
             <div class="col-lg-12 mt-1">
              <h2 class="card">
                <button class="btn btn-accordion w-100 acc" type="button"
                (click)="toggleStage(stage.id)" >
                {{nameStage[i]}}
                <i class="fas fa-angle-down"></i>
              </button>
              </h2>


                <div class="card mt-2 card-2-1">
                  <div id="accordion">
                    <ng-container *ngIf="togglestage[stage.id]==1">
                  <div class="pt-3 pb-3 ">
              
                    <p>{{selectProject?.subject}}</p>

                     <div class="row mt-2 text-center">
                      <div class="col-lg-6 mt-2">
                       <a href="{{selectProject.clientProjectDocuments[0]?.filePath}}"><i class="fa fa-file-pdf-o" style="color:red; margin-left: 3%;"></i>اسم الملف</a>
                      </div>
                      <div class="col-lg-6 mt-2">
                        <a href=""><i class="fa-solid fa-image" style="color:green;"></i> صوره للموقع</a>
                      </div>

                      <div class="col-lg-12 px-2 mt-2" style="font-size:14px ;">
                        <div class="row">
                          <div class="col-lg-4">
                            <button class="btn" type="button">تعديل </button>
                            <span style="margin-right: 5%;"> | </span>
                          </div>

                          <div class="col-lg-4">
                            <button class="btn" type="button" (click)="finished(stage.id)">انهاء مرحله</button>
                            <span style="margin-right: 2%;"> | </span>
                          </div>

                          <div class="col-lg-4">
                            <ng-container *ngIf="stage.milestoneStatusId==2">
                              <button class="btn"  type="button" 
                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">تعليق</button>
                            </ng-container>
                            
                            <ng-container *ngIf="stage.milestoneStatusId!=2">
                              <button class="btn"  type="button"  disabled>تعليق</button>
                            </ng-container>
                            <!------------Start Modal------------->
                            <div class="modal fade  mt-5" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                 <div class="modal-header">
                                  <button type="button" class="btn" data-bs-dismiss="modal" >
                                    <i class="far fa-circle-xmark"></i>
                                  </button>
                                 </div>
                                   
                                
                                 <form [formGroup]="Reason" onsubmit="onSubmit()">
                                  <div class="modal-body">
                                    <h4>اكتب سبب التعليق</h4>
                                    <div class="form-group">
                                      <textarea class="form-control mt-3" formControlName="reason"></textarea>
                                    </div>
                                   
                                  </div>
                                  <div class="modal-footer">

                                    <button type="submit" class="btn"
                                    (click)="pending(stage.id)"
                                    >ارسال</button>
                                  </div>
                                 </form>
                             
                                </div>
                              </div>
                            </div>


                            <!-------------End Modal-------------------->
                          </div>
                        </div>

                      </div>

                     </div>
                  </div>

                </ng-container>

                  </div>

                </div>




             </div>

            </ng-container>





          </div>

        </div>


      </div>


      <div class="row ">
        <div class="col-lg-12 mt-2">
          <div class="card card-2">
            <div class="row">
              <div class="col-lg-12 p-2 content-1">
                <h6>نبذه عن المشروع</h6>
                <p>{{selectProject?.subject}}
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-2">
            <div class="row">
              <div class="col-lg-12 p-2 content-2">
                <p>صلاحيه عرض السعر: <span>{{selectProject.offers[0]?.period}}</span></p>
                <p>التصنيف الرئيسى للمشروع: <span>{{selectProject.projectCategory?.name}}</span></p>
                <p>التصنيف الفرعى للمشروع: <span>{{selectProject.projectSubCategory?.name}}</span></p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-2 ">
            <div class="row">
              <div class="col-lg-12 p-2 content-2">
                <p>عنوان المشروع :
                  <span>{{selectProject.district?.nameAr}},{{selectProject.district?.city?.nameAr}},
                    {{selectProject.district?.city?.region?.nameAr}}</span>
                </p>
                <p>رقم القطعه : <span>{{selectProject?.plotNumber}}</span></p>
                <p>رقم المخطط التنظيمى : <span>{{selectProject?.organizationalChartNumber}}</span></p>
              </div>
            </div>
          </div>
        </div>



        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 mt-3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card card-3">
                    <h6>مكونات المشروع</h6>
                    <ul>
                      <ng-container *ngFor="let component of projectComponent">
                        <div>
                          <li (click)="toggoleComponent(component.id)">
                            <ng-container *ngIf="descComponent[component.id]==1">
                              <i class="fa fa-angle-down " aria-hidden="true"></i>
                            </ng-container>
    
                            <ng-container *ngIf="descComponent[component.id]!=1">
                              <i class="fa fa-greater-than "></i>
                            </ng-container>
    
                            {{component.name}}
                          </li>
    
                          <ng-container *ngIf="descComponent[component.id]==1">
                            <p>{{component.description}} </p>
                          </ng-container>
    
                        </div>
                      </ng-container>
    
                    </ul>
                  </div>
                </div>

           
                  <div class="col-lg-12 mt-3">
                    <div class="card card-3">
                      <h6>الملفات الخاصه بالمشروع</h6>
                      <ul>
                        <ng-container *ngFor=" let document of selectProject.clientProjectDocuments">
                          
                          
                          <li style="border:none; background-color:transparent;"
                          (click)="downloadFile(document.filePath,document.file)"
                          >
                            <i class="fa fa-download  mt-2" aria-hidden="true"></i>
                            {{document?.file.substring(0,25)}}..
                          </li>
    
                        </ng-container>
                      </ul>
    
                    </div>
      
                  </div>
              
              
              </div>
            </div>

            <div class="col-lg-6 mt-3">
              <div class="card card-3">
                <h6>الاعمال المطلوبه</h6>
                <ul>
                  <ng-container *ngFor="let work of this.RequiredWorks">

                    <div>

                      <li (click)="toggoleWork(work.id)">
                        <ng-container *ngIf="descWork[work.id]==1">
                          <i class="fa fa-angle-down " aria-hidden="true"></i>
                        </ng-container>

                        <ng-container *ngIf="descWork[work.id]!=1">
                          <i class="fa fa-greater-than "></i>
                        </ng-container>
                        {{work.name}}
                      </li>

                      <ng-container *ngIf="descWork[work.id]">
                        <ul>
                          <ng-container *ngFor="let requiredDocument of work.requiredDocuments">

                            <li>
                              <p>{{requiredDocument.name}}</p>
                            </li>

                          </ng-container>
                        </ul>

                      </ng-container>

                    </div>


                  </ng-container>


                </ul>
              </div>
            </div>

           



          </div>

        </div>




      </div>


    </div>



    <!-----------------Last Section ----------------------->
    <div class="col-lg-3 mt-4 mb-3 section-4">
      <div class="row ">
        <div class="col-lg-12">
          <div class="card card-4">
            <div class="row">
              <div class="col-lg-2 mt-1">
              <img src="https://www.hiamag.com/sites/default/files/styles/1000xauto/public/article/12/10/2021/xuin10-245131782_1548489262169588_3010436186952909049_n.jpg?itok=jXkdBBx3" alt="image" class="w-80">
              </div>
              <div class="col-lg-5 mt-2">
                <p>
                  م : ساره عبدالعزيز عبدالحكيم
                </p>
              </div>
              <div class="col-lg-5">
                <a class="btn">(مسئول عن المشروع)</a>
              </div>

            </div>
          </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-4-1">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2>{{selectProject.area}} <span>متر مربع</span></h2>
                <p>مساحه الارض المقام عليها المشروع</p>
            </div>
          </div>
        </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-4-2">
            <div class="row">
              <div class="col-lg-9 text-center">
                <h2>{{selectProject.offers[0]?.cost}}<span>ريال</span></h2>
                <p>الميزانيه الخاصه بهذا المشروع</p>
            </div>
            <div class="col-lg-3">
              <a href="">عرض</a>
            </div>

          </div>
        </div>
        </div>



        <div class="col-lg-12 mt-2">
          <div class="card card-date">
            <div class="row">
              <div class="col-lg-12 " class="calender">
              <mat-calendar [(selected)]="selected" ></mat-calendar>
              </div>
            </div>

          </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-4-4">
            <div class="row">
              <div class="col-lg-6 mt-2">
                <h2>
                  {{selected |date:'mediumDate'}}
                </h2>
              </div>
              <div class="col-lg-6">
                <a class="btn">تعديل المحتوى</a>
              </div>

            </div>
          </div>
        </div>


        <div class="col-lg-12 mt-2">
          <div class="card card-4-5">
            <div class="row">
            <div class="col-lg-12">
           <p>{{selectProject?.subject}}</p>
                 </div>
                 <div class="col-lg-12 mt-4">
                  <div class="row">
                    <div class="col-lg-6">
                     <a href="{{selectProject.clientProjectDocuments[0]?.filePath}}"><i class="fa fa-file-pdf-o" style="color:red; font-size: 20px; margin-left: 3%;"></i>اسم الملف</a>
                    </div>
                    <div class="col-lg-6">
                      <a href=""><i class="fa-solid fa-image" style="color:green; font-size: 20px;"></i> صوره للموقع</a>
                    </div>

                   </div>
                 </div>
                 </div>
        </div>
        </div>



        <div class="col-lg-12 mt-2">
          <div class="card card-4-6">
            <a href="">رؤيه مسار العمل على المشروع</a>
                 </div>
        </div>
        </div>




    </div>

    </ng-container>

  </div>

</div>


