
<form
  [formGroup]="providerData"
  (ngSubmit)="onSubmit()"
  class="form-control border-0"
  novalidate
> 
  <div *ngIf="secandform == false">
    <h5 class="mb-5 mt-5 bd-title" dir="rtl">المعلومات الشخصية</h5>
    <div class="row">
      <div class="col-3">
        <label class="form-label mb-3" for="username">
          اسم المستخدم
        </label>
        <input
          type="text"
          id="username"
          class="form-control form-control-lg"
          name="username"
          formControlName="username"
          placeholder="اسم المستخدم"
          [class.is-valid]="
            providerData.get('username')?.valid &&
            (providerData.get('username')?.dirty ||
              providerData.get('username')?.touched)
          "
          [class.is-invalid]="
            providerData.get('username')?.invalid &&
            (providerData.get('username')?.dirty ||
              providerData.get('username')?.touched)
          "
        />

        <div
          *ngIf="
            providerData.get('username')?.invalid &&
            (providerData.get('username').dirty ||
              providerData.get('username').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('username').errors?.['required']">
            Name is required.
          </div>
          <div *ngIf=" providerData.get('username').errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="form-label mb-3" for="companyName">
          اسم الشركة
        </label>
        <input
          type="text"
          id="companyName"
          class="form-control form-control-lg"
          name="companyName"
          formControlName="companyName"
          placeholder="اسم الشركة"
          [class.is-valid]="
            providerData.get('companyName')?.valid &&
            (providerData.get('companyName')?.dirty ||
              providerData.get('companyName')?.touched)
          "
          [class.is-invalid]="
            providerData.get('companyName')?.invalid &&
            (providerData.get('companyName')?.dirty ||
              providerData.get('companyName')?.touched)
          "
        />

        <div
          *ngIf="
            providerData.get('companyName')?.invalid &&
            (providerData.get('companyName').dirty ||
              providerData.get('companyName').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('companyName').errors?.['required']">
            companyName is required.
          </div>
          <div *ngIf=" providerData.get('companyName').errors?.['minlength']">
            companyName must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="form-label mb-3" for="email">
          البريد الالكتروني</label
        >

        <input
          type="text"
          id="email"
          name="email"
          formControlName="email"
          class="form-control form-control-lg form-group"
          placeholder="البريد الالكتروني"
          [class.is-valid]="
            providerData.get('email')?.valid &&
            (providerData.get('email')?.dirty ||
              providerData.get('email')?.touched)
          "
          [class.is-invalid]="
            providerData.get('email')?.invalid &&
            (providerData.get('email')?.dirty ||
              providerData.get('email')?.touched)
          "
        />

        <div
          *ngIf="
            providerData.get('email')?.invalid &&
            (providerData.get('email').dirty ||
              providerData.get('email').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('email').errors?.['required']">
            email is required.
          </div>
          <div *ngIf=" providerData.get('email').errors?.['email']">
            email must be example@example.com
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="form-label mb-3" for="phone_number">
          رقم التلفون</label
        >
        <div class="form-group d-inline-block form-control">
          <input
            type="text"
            id="phone_number"
            name="phone_number"
            class="mx-1"
            formControlName="phone_number"
            placeholder="رقم التلفون"
            [class.is-numbervalid]="
              providerData.get('phone_number')?.valid &&
              (providerData.get('phone_number')?.dirty ||
                providerData.get('phone_number')?.touched)
            "
            [class.is-invalid]="
              providerData.get('phone_number')?.invalid &&
              (providerData.get('phone_number')?.dirty ||
                providerData.get('phone_number')?.touched)
            "
          />
        </div>
        <div
          *ngIf="
            providerData.get('phone_number')?.invalid &&
            (providerData.get('phone_number').dirty ||
              providerData.get('phone_number').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('phone_number').errors?.['required']">
            phone number is required.
          </div>
          <div *ngIf=" providerData.get('phone_number').errors?.['pattern']">
            phone number must be 11 number
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3">
        <label class="form-label mb-3" for="companyPhoneNum">
          رقم تليفون الشركة</label
        >

        <div class="form-group d-inline-block form-control">
          <input
            type="number"
            id="companyPhoneNum"
            name="companyPhoneNum"
            class="border-0 shadow-none mx-1"
            formControlName="companyPhoneNum"
            placeholder="رقم تليفون الشركة"
            [class.is-valid]="
              providerData.get('companyPhoneNum')?.valid &&
              (providerData.get('companyPhoneNum')?.dirty ||
                providerData.get('companyPhoneNum')?.touched)
            "
            [class.is-invalid]="
              providerData.get('companyPhoneNum')?.invalid &&
              (providerData.get('companyPhoneNum')?.dirty ||
                providerData.get('companyPhoneNum')?.touched)
            "
          />
        </div>

        <div
          *ngIf="
            providerData.get('companyPhoneNum')?.invalid &&
            (providerData.get('companyPhoneNum').dirty ||
              providerData.get('companyPhoneNum').touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf=" providerData.get('companyPhoneNum').errors?.['required']"
          >
            phone number is required.
          </div>
          <div *ngIf=" providerData.get('companyPhoneNum').errors?.['pattern']">
            phone number must be 11 number
          </div>
        </div>
      </div>

      <div class="col-4">
        <label class="form-label mb-3" for="site_url">
          الموقع الالكتروني(http://www.sample.com)</label
        >

        <input
          type="text"
          id="site_url"
          name="site_url"
          formControlName="site_url"
          class="form-control form-control-lg form-group"
          placeholder="http://www.sample.com"
          [class.is-valid]="
            providerData.get('site_url')?.valid &&
            (providerData.get('site_url')?.dirty ||
              providerData.get('site_url')?.touched)
          "
          [class.is-invalid]="
            providerData.get('site_url')?.invalid &&
            (providerData.get('site_url')?.dirty ||
              providerData.get('site_url')?.touched)
          "
        />
        <div
          *ngIf="
            providerData.get('site_url')?.invalid &&
            (providerData.get('site_url').dirty ||
              providerData.get('site_url').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('site_url').errors?.['required']">
            site_url is required.
          </div>
          <div *ngIf=" providerData.get('site_url').errors?.['pattern']">
            site_url must be http://www.sample.com
          </div>
        </div>
      </div>
      <div class="col-2">
        <label for="projectServiceId " class="control-label mb-3">
          خدمات
        </label>

        <select
          name="projectServiceId"
          id="projectServiceId"
          class="form-control form-control-lg"
          formControlName="projectServiceId" (change)="_subServices()">
          <ng-container *ngFor="let service of servicesType">
            <option [value]="service.id">{{service.name}}</option>
          </ng-container>
        </select>

        <div
          *ngIf="
            providerData.get('projectServiceId')?.invalid &&
            (providerData.get('projectServiceId').dirty ||
              providerData.get('projectServiceId').touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf=" providerData.get('projectServiceId').errors?.['required']">
            servicetype is required.
          </div>
        </div>
      </div>

      <!--<div class="col-3">
        <label for="search_name_input" class="control-label mb-3">
         خدمات فرعيه
        </label>
        <select
          filterEnabled="true"
          name="search_name_input"
          id="search_name_input"
          class="form-control"
        >
          <option value="">value one</option>
          <option value="">value tow</option>
        </select>

      </div>-->

      <ng-container *ngIf="providerData.get('projectServiceId').value">
        <div class="col-3">
          <label for="search_name_input " class="control-label mb-3">
            خدمات فرعيه
          </label>


          <input type="text" class="form-control" (keyup)="_search()" formControlName="search"
            placeholder="مكونات المشروع" />

          <ng-container *ngFor="let i of  subService">
              <ng-container *ngIf="checkedSubServices[i.id]==1">
                <button class="btn btn-primary mx-2 my-2" (click)="deleteSubService(i.id)">{{i.name}}
                  <i class="fa fa-trash"></i>
                </button>

              </ng-container>


          </ng-container>

          <ul>
            <ng-container *ngFor="let i of FilterSearch">
              <ng-container *ngIf="checkedSubServices[i.id]!=1">
                <li (click)="addSubService(i.id)"><span class="dropdown-item">{{i.name}}</span></li>
              </ng-container>
            </ng-container>
          </ul>

        </div>
      </ng-container>







    </div>
    <hr class="mt-5" />
    <div class="row mt-5">
      <div class="col-1">
        <h5 class="mb-5 bd-title" dir="rtl">العنوان</h5>
      </div>
      <div class="col-11">
        <div class="row mt-5">
          <div class="col-4">
            <label for="region" class="control-label mb-3">
              منطقه
            </label>
            <select name="region" id="region" class="form-control form-control-lg" formControlName="region"
            (change)="_getCities()">
            <option [value]="0" disabled>----اختر----</option>
            <ng-container *ngFor="let region of regionsList">
              <option [value]="region.id">{{region.nameAr}}</option>
            </ng-container>
          </select>
          </div>
          <div class="col-4">
            <label for="city" class="control-label mb-3">
              المدينة
            </label>
            <select name="city" id="city" class="form-control form-control-lg" formControlName="city"
            (change)="_getDistricts()">
            <option [value]="0" disabled>----اختر----</option>
              <ng-container *ngFor="let city of citiesList">
                <option [value]="city.id">{{city.nameAr}}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-4">
            <label for="district" class="control-label mb-3">
              الحى
            </label>
            <select
              name="district"
              id="district"
              class="form-control form-control-lg"
            >
               <option [value]="0" disabled>----اختر----</option>
               <ng-container *ngFor="let district of districtsList">
                <option [value]="district.id">{{district.nameAr}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="row my-4">
          <div class="col-2">
            <label class="form-label mb-3" for="buildNo">
              رقم المبنى
            </label>

            <input
              type="number"
              id="buildNo"
              name="buildNo"
              formControlName="buildNo"
              class="form-control form-control-lg form-group"
              placeholder="$500"
            />
          </div>
          <div class="col-2">
            <label class="form-label mb-3" for="postal_box">
              الرقم الاضافي
            </label>

            <input
              type="number"
              id="postal_box"
              name="postal_box"
              formControlName="postal_box"
              class="form-control form-control-lg form-group"
              placeholder="$500"
            />
          </div>
          <div class="col-3">
            <label class="form-label mb-3" for="postal_code">
              الرمز بريد
            </label>

            <input
              type="number"
              id="postal_code"
              name="postal_code"
              formControlName="postal_code"
              class="form-control form-control-lg form-group"
              placeholder="$500"
            />
          </div>
          <div class="col-5">
            <label class="form-label mb-3" for="StreetName">
              اسم الشارع
            </label>
            <input
              type="text"
              id="StreetName"
              name="StreetName"
              formControlName="StreetName"
              class="form-control form-control-lg form-group"
            />
          </div>
        </div>
      </div>
    </div>


    <div class="row my-5">
      <div class="col-8"></div>
      <div class="col-4">
        <button
          class="btn btn-success-style form-control"
          type="submit"
          (click)="secandform = true"

          (click)="secandform = true" >
          <i class="fa fa-floppy-disk" aria-hidden="true"></i>
          حفظ استكمال البيانات
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="secandform == true">
    <h5 class="mb-5 mt-5 bd-title" dir="rtl">المستندات المرفقة</h5>
    <div class="row">
      <div class="col-md-4 mb-4">
        <label for="file" class="mb-2">
          شعار الشركة
        </label>
        <div class="input-group custom-file-button form-control">
          <input
            type="file"
            class="form-control border-0"
            id="inputGroupFile"
            placeholder="mohamed"
            formControlName="logo"
          />
          <label class="btn btn-primary " for="inputGroupFile"
            >ارفاق</label
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="form-outline">
          <label class="form-label mb-2" for="registration_number">

            السجل التجارى</label
          >
          <input
            type="number"
            id="registration_number"
            name="registration_number"
            formControlName="registration_number"
            class="form-control form-control-lg"
            style="height: 47px"
          />
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <label for="attach_register" class="mb-2">
          ارفاق
        </label>
        <div class="input-group custom-file-button form-control">
          <input
            type="file"
            class="form-control border-0"
            id="attach_register"
            placeholder="mohamed"
            formControlName="attach_register"
            name="attach_register"
          />
          <label class="btn btn-primary rounded-1" for="inputGroupFile"
            >ارفاق</label
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="form-outline">
          <label class="form-label mb-2" for="licences_number">
            رقم رخصة هيئة المهندسين
          </label>
          <input
            type="number"
            id="licences_number"
            name="licences_number"
            formControlName="licences_number"
            class="form-control form-control-lg"
            style="height: 47px"
          />
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="form-outline">
          <label class="form-label mb-2" for="CompNum">
            تاريخ الرخصة
          </label>
          <input
            type="date"
            id="CompNum"
            name="CompNum"
            formControlName="CompNum"
            class="form-control form-control-lg"
            style="height: 47px"
          />
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="form-outline">
          <label class="form-label mb-2" for="CompNum">
            تاريخ الانتهاء
          </label>
          <input
            type="date"
            id="CompNum"
            name="CompNum"
            formControlName="CompNum"
            class="form-control form-control-lg"
            style="height: 47px"
          />
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <label for="attach_licences" class="mb-2">
          ارفاق
        </label>
        <div class="input-group custom-file-button form-control">
          <input
            type="file"
            class="form-control border-0"
            id="attach_licences"
            placeholder="mohamed"
            formControlName="attach_licences"
            name="attach_licences"
          />
          <label class="btn btn-primary rounded-1" for="inputGroupFile"
            >ارفاق</label
          >
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-7"></div>
      <div class="col-3">
        <button class="btn btn-success-style form-control" type="submit">
          <i class="fa fa-floppy-disk" aria-hidden="true"></i>
          حفظ استكمال البيانات
        </button>
      </div>
      <div class="col-2">
        <button
          class="btn btn-success-style form-control "
          (click)="secandform = false"
        >
          <i class="fa fa-backward" aria-hidden="true"></i>
          السابق
        </button>
      </div>
    </div>
  </div>
</form>

