
<div class="row mt-3">
  <div class="col-lg-8">
    <div class="row">

      <div class="col-lg-3">
        <div class="card image">
          <div class="row">
            <div class="col-lg-12">
              <img src="https://www.hiamag.com/sites/default/files/styles/1000xauto/public/article/12/10/2021/xuin10-245131782_1548489262169588_3010436186952909049_n.jpg?itok=jXkdBBx3" alt="imag" class="img-fluid">
              <div class="layout">
                <button>تغيير الصوره
                  <i class="fa fa-camera"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="card card-2">
          <div class="row">
            <div class="col-lg-5">
              <div class="row">
                <div class="col-lg-12">
                  <p>ساره غازى عبدالعزيز</p>

                </div>
                <div class="col-lg-12">
                  <p>Sara Ghazy AbdElaziz</p>

                </div>

                <div class="col-lg-12">
                  <a href="">123456</a>
                  <span class="d"> | </span>
                  <a href="">123456</a>
                </div>
                <div class="col-lg-12 mt-2">
                  <a href="" class="">sara@gmail.com</a>
                </div>
              </div>

            </div>

            <div class="col-lg-7">
              <div class="row">
                <div class="col-lg-12 mx-2">

                    <a href="">حساب نشط </a>
                    <span class="d">  |  </span>
                    <span>رقم التعريف:#1234 </span>
                    <span class="d">  |  </span>
                    <span>
                     4/5 <i class="fa fa-star text-warning"></i>
                    </span>

                  </div>

                <div class="col-lg-12 icon">
                  <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-6">
        <div class="card card-3">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-9">
                  <h6>نبذه مختصره عن المهندس</h6>
                </div>

                <div class="col-lg-3 ">
                  <a href="" class="mx-5"><i class="fa fa-edit"></i></a>
                </div>

              </div>
              <p>لوريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
                أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
                أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولار أيو فيجايت</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card">
          <div class="row">
            <div class="col-lg-12">
              <h6>نبذه عن المشروع</h6>
              <p>مشروع مشروع مشروعمشروعمشروعمشروعمشروعمشر
                مشروعمشروعمشروعمشروعمشروعمشروع
                وعمشروعمشروعمشروعمشروعمشروعمشروعمشروع
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="card card-4 bg-primary">

          <div class="row">
            <div class="col-lg-12">
              <img src="" alt="">

              <div class="layout">
                <div class="row">
                  <div class="col-lg-6">
                    <p>الرخص التجاريه</p>
                  </div>

                  <div class="col-lg-6">
                    <a href=""><i class="fa fa-edit"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>


      <div class="col-lg-4">
        <div class="card card-4 bg-primary">
          <div class="row">
            <div class="col-lg-12">
              <img src="" alt="">

              <div class="layout">
                <div class="row">
                  <div class="col-lg-6">
                    <p>الرخص التجاريه</p>
                  </div>
                  <div class="col-lg-6">
                    <a href=""><i class="fa fa-edit"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        </div>



      <div class="col-lg-4">
        <div class="card card-4 bg-primary">
          <div class="row">
            <div class="col-lg-12">
              <img src="" alt="">

              <div class="layout">
                <div class="row">
                  <div class="col-lg-6">
                    <p>الرخص التجاريه</p>
                  </div>
                  <div class="col-lg-6">
                    <a href=""><i class="fa fa-edit"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="row  mb-4">
      <div class="col-lg-7 mt-3">
        <div class="card card-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">

                <div class="col-lg-3">
                  <img src="assets/logo.png" alt="" class="img-fluid">
                </div>

                <div class="col-lg-9">
                  <h5>الاشتراك فى منصه مهندسي</h5>
                  <a href="" style="color: #18af9a;">الباقه الاساسيه</a>
                </div>

                <hr class="mt-3">

                <div class="col-lg-12">
                  <p><i class="fas fa-users"></i>
                    المستخدمين : 10
                  </p>

                  <p><i class="fa-solid fa-dumpster-fire"></i>
                    الصلاحيه :  فبراير 2021  حتى 7 مارس 2022
                  </p>
                </div>

                <hr class="mt-3">

                <div class="col-lg-12 mt-3">
                  <div class="row">
                    <div class="col-lg-4">
                      <p style="color: #18af9a;">السعر : مجانا</p>
                    </div>
                    <div class="col-lg-4">
                      <a href="">الغاء الاشتراك</a>
                    </div>
                    <div class="col-lg-4">
                      <button class="btn">تغيير الباقه</button>
                    </div>

                  </div>
                </div>





              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-5 mt-3">
        <div class="card card-5 px-4">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">

                <div class="col-lg-6">
                  <h6 style="color:#004057;">تقدير الفاتوره</h6>
                </div>

                <div class="col-lg-6">
                  <a href="" style="color: #18af9a;" class="mx-2">رؤيه جميع الفواتير</a>
                </div>
                <div class="col-lg-12">
                  <p style="font-size:12px; color:grey;" class="pt-2">فبراير 2021 حتى 7 مارس 2022</p>
                </div>


                <div class="col-lg-12 mt-5">
                  <h6 style="color:#004057;">الاشترام فى منصه مهندسي</h6>
                  <p style="color:grey;" class="pt-2">الباقه الاساسيه</p>
                </div>

                <hr class="mt-2">

                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6">
                      <h6 style="color:#004057;">ضريبه</h6>
                      <h6 style="color:#004057;">اجمالى</h6>
                    </div>
                    <div class="col-lg-6">
                      <h6  style="color:#004057; margin-right: 70%;">0.0</h6>
                      <h6  style="color:#004057; margin-right: 70%;">0.0</h6>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>




  <div class="col-lg-4"></div>


</div>
