@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
$fontCairoFamily: 'Cairo', sans-serif;
$textColor:#18af9a;
$Alltext:#004057;
$bgGrayD:#C7C7C7;
$bgButton:#F3FBFA;
$colorbg:#030303;
.modaltitle{
      background-color: $textColor !important;
      >h2,>button{
        color: white !important;
      }
      >button:focus,>button:active{
    box-shadow: none !important;
    border: none!important;
      }
      >button:hover{
        background-color:transparent !important;
        color: white !important;
      }
    
    }
    .addAccount{
      cursor: pointer;
    }




::ng-deep .mat-calendar-body-cell-content {
      background-color: white ;
      color: $colorbg;
      width: 100%;
      border-radius: 25% !important;
      -webkit-border-radius: 25% !important;
      -moz-border-radius: 25% !important;
      -ms-border-radius: 25% !important;
      -o-border-radius: 25% !important;
    }
    ::ng-deep .mat-calendar
{

  background-color:white;
}
    
    
    ::ng-deep .mat-calendar-table-header , ::ng-deep .mat-calendar-body-label
    {
      color: $colorbg;
    }
    
    ::ng-deep .mat-focus-indicator
    {
      background-color: #F1F5F9;
    
    
    }
    
    
    ::ng-deep .mat-calendar-body-selected
    {
      background-color: $textColor ;
      color:white;
    
    
    }
    
    .informationDownload{
      width: 95% !important;
      text-decoration: none !important;
      color: $colorbg !important;
      overflow: hidden;
    white-space:nowrap;
    
    
    }
    .nameDownload{
     
      color: $colorbg !important;

      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
     
    }

.typeCom
{
  color: $textColor !important;
}
.toastErr{
  background-color: #bd362f;
}
.toastinfo {
  background-color: #2F96B3 !important;

}
.end10{
right: 20px !important;
width: 270px;
}
.scrollsAdmins{
  height:200px !important;
  overflow: hidden;
  &:hover{
    overflow-y: auto !important;

  }
}
::-webkit-scrollbar {
  width: 5px;
}
.hovColor:hover{
  background-color: $textColor !important;
  cursor: pointer !important;
   
transition:all 0.5s ease-in-out;
 &>p>span,&>p>.color path{
  color: white !important;
  fill: white !important;
  transition:all 0.5s ease-in-out;

 }
}

.form{
  width: 70%;
  position: fixed;
  top:200px;
  left: 50%;
  transform: translate(-50%, -20%) !important;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(43, 43, 43, 0.1);
  border-radius: 10px;
  .title-form{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #303030;
    text-align: center;
  }
  .Submit{
    width: 250px;
    background: #004796;
    border-radius: 5px;
    a{
      color: #fff !important;
    }
  }
}

// @media (max-width: 768px) {
// .form{
//   width: 280px;
// }
// }
.modal-container{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  .close{
    text-align: end;
    padding-top: 5px !important;

  }
}