<section class="price-offer">
  <div class="container-fluid mt-5 fontStyle">
    <div class="row">
      <ng-container *ngFor="let service of projectServices; let i = index">
        <div class="col-12" *ngIf="type==service.id">
          <div
            [id]="service.id"
            class="btn p-2 px-3 w-100 active d-flex justify-content-between"
          >
            <span class="name cairo">{{ service.name }}</span>
            <span class="name cairo">{{service.count}}</span>
          </div>
        </div>
      </ng-container>
      <div class="row mt-3">
        <ng-container *ngFor="let cat of projectCategory; let i = index">
          <div class="col">
            <div
              [id]="cat.id"
              class="btn text-center p-2 px-3 w-100"
              (click)="isActiveCategory(cat.id)"
              [ngClass]="activeCategory == cat.id ? 'secondBk' : 'bg-white'"
            >
              <span class="text-center name cairo">{{ cat.name }}</span>
            </div>
          </div>
        </ng-container>
      </div> 
     
      <div class="col-12 m-0 p-0">
        <div class="row py-5">
          <div class="col-md-4">
            <div *ngIf="activeCategory == 2 ? 
            projectServiesArrays.projects?.length > 0
            : projectServiesArrays.priceQuotes?.length >0
            " class="cards">
              <ng-container
                *ngFor="let project of activeCategory == 2 ?  projectServiesArrays.projects: projectServiesArrays.priceQuotes; let i = index"
              >
                <app-price-offer-card
                  (click)="showDetails(project)"
                  [isActive]="activeProject == project.id"
                  [userType]="userType"
                  [project]="project"
                ></app-price-offer-card>
              </ng-container>

              <app-pagination
                [pagenation]="pagenation"
                [next]="next"
                [prev]="prev"
                [page]="page"
              ></app-pagination> 
            </div>
          </div>
          <div class="col-md-8">
            <div *ngIf="makeOfferForm == false ">
              <div
              class="d-flex bg-white justify-content-between mb-3"
            >
              <div class="pe-3 py-3 info1">
                <p class="cairo">كود الطلب : {{ selectedProject?.code }}</p>
                <p class="cairo">
                  اسم المشروع : {{ selectedProject?.name }}
                </p>
                <p class="cairo">
                  موضوع المشروع : {{ selectedProject?.subject }}
                </p>
              </div>
              <div class="d-flex flex-column">
                <button
                  class="btn h-100 px-4 rounded-0 border-0 text-white active"
                 *ngIf="activeCategory == 1 || activeCategory == 2"
                  (click)="makeOfferForm =true"
                >
                <i class="fa-solid fa-handshake pb-2 fs-5" >
                </i>
                  <div class="cairo">{{activeCategory== 1?'الرد' : "تعديل"}}</div>
                </button>
                <div class="badge cairo active p-3 m-3 ">{{activeCategory== 3?'حالي':activeCategory== 3?'مرفوض':''}}</div>
              </div>
            </div>
              <app-price-offer-project-layout
                userType="sp"
                [showImg]="showImg"
                [selectedProject]="selectedProject"
                [activeProjectReqWorks]="activeProjectReqWorks"
                [activeProjectsComponents]="activeProjectsComponents"
                [isActive]="activeCategory == 2 ? 
                projectServiesArrays.projects?.length > 0
                : projectServiesArrays.priceQuotes?.length > 0"
              ></app-price-offer-project-layout>
            </div>
            <div *ngIf="makeOfferForm  && selectedProject.id ">
              <app-deal-with-offer 
              [typeOfDeal]="activeCategory== 1?'send' :'edit'"
              [makeOfferToggle]="makeOfferToggle"
              [selectProject]="selectedProject">
              [RequiredWorks]='requiredWorks'
              </app-deal-with-offer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="showModal">
  <app-img-modal [toggle]="toggle" [modalSrc]="modalSrc"></app-img-modal>
</div>