    
        <!-- بروفيل -->
        <div class="col-12  mb-5">
          <div class="bg-white p-3 mb-3 d-flex justify-content-between align-items-center">
            <p class="titles fw-bold h5" style="color: #004057">المستخدمين</p>
          </div>

          <div class="d-flex justify-content-between flex-column scrolls">
            <ng-container *ngFor=" let user of usersActive ;let i=index">
              <!-- <ng-container *ngFor=" let user of usersActive  | paginate: { itemsPerPage: 3, currentPage: state, totalItems: usersActive.length}"> -->
                <div  class="d-flex justify-content-between flex-row ">
                  <div class="bg-white col-1 text-center pt-2 flex-wrap ms-2 d-flex justify-content-center align-items-center">
                    <p class="">#{{i+1}}</p>
                  </div>
                <div class="col-11 d-flex justify-content-between align-items-center mb-2">
                  <div class="bg-white col-12 py-2 d-flex justify-content-between align-items-center flex-lg-row flex-column">
                    <div class="card mb-3 border-0 col-sm-5 col-12 justify-content-center align-items-center">
                      <div class="row g-0 justify-content-center align-items-center">
                        
                        <!-- <div class="col-md-2 text-lg-end text-center">
                          <img
                            src="https://picsum.photos/200"
                            class="img-fluid rounded-circle me-1"
                            alt="..."
                          />
                        </div> -->
                        <div class="col-md-12 ">
                          <div class="card-body">
                            <p class="card-text titles" style="color: #18af9a">
                              {{ user.userName }}
                            </p>
                            <p class="card-text titles" style="color: #1d1c1c">
                              {{ user.email }}
                            </p>
                            <!-- <p class="card-text titles" style="color: #1d1c1c">
                              {{ user.phoneNumber }}
                            </p> -->
                          </div>
                        </div>
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-evenly align-items-center border-0 col-sm-3 col-12 flex-md-row flex-column">
                      <button type="button" class="btn btn-primary position-relative badge px-4 py-2 mb-lg-0 mb-2 border-0 rounded-pill fs-6 mx-1"
                        [ngStyle]="{
                          'background-color':
                            user.applicationRole.key === 'SP'
                              ? '#D1EFEB'
                              : '#ECD4F4',
                          color:
                            user.applicationRole.key === 'SP'
                              ? '#46BFAE'
                              : '#CE92E3'
                        }"
                      >
                        {{ user.applicationRole.arabicName }}
                        <span
                          class="position-absolute top-0 start-100 translate-middle p-2 bg-transparent border-0 rounded-0"
                        >
                          <img
                            src="/assets/icons/Group 542.png"
                            alt=""
                            sizes=""
                            srcset=""
                          />
                          <span class="visually-hidden">New</span>
                        </span>
                      </button>
                    </div>
  
                    <div class="d-flex justify-content-evenly align-items-center col-sm-2 col-12 mx-3 flex-md-row flex-column">
                      <!-- <div class="example-button-container col-3 mb-lg-0 mb-2">
                        <button mat-mini-fab disabled  aria-label="Example icon button with a home icon">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div> -->
                      
  
                      <div class="example-button-container col-12  py-2 px-2 mb-lg-0 mb-2 text-center align-content-center"
                      (click)="changeAccountActivation(user.id,user.isActive)">
                        <mat-slide-toggle [checked]=user.isActive></mat-slide-toggle>
                      </div>
  
                      <!-- <div class="example-button-container border-end mb-lg-0 mb-2">
                        <button class="col-3" mat-icon-button   disabled  aria-label="Example icon button with a open in new tab icon">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div> -->
                    </div>
                  </div>
                </div>
                </div>
               
            </ng-container>
           
            <!-- <div class="col-12 mt-2  text-center">
              <pagination-controls  
              previousLabel="السابق"
             nextLabel="التالي"
            (pageChange)="handlePageChange($event)"></pagination-controls>
 
            </div> -->
          </div>

        
        </div>
    
        <div class="col-12  mb-5">
                <div class="p-3 my-3 d-flex justify-content-between align-items-center" style="background-color: #dfdfdf">
                <p class="titles fw-bold h5" style="color: #004057">
                  المستخدمين المعطلين
                </p>
              </div>
              <div class="d-flex justify-content-between flex-column scrolls">
                <ng-container *ngFor=" let user of usersNotActive ;let i=index">
              
                    <div  class="d-flex justify-content-between flex-row ">
                      <div class="bg-white col-1 text-center pt-2 flex-wrap ms-2 d-flex justify-content-center align-items-center">
                        <p class="">#{{i+1}}</p>
                      </div>
                    <div class="col-11 d-flex justify-content-between align-items-center mb-2">
                      <div class="bg-white col-12 py-2 d-flex justify-content-between align-items-center flex-lg-row flex-column">
                        <div class="card mb-3 border-0 col-sm-5 col-12 justify-content-center align-items-center">
                          <div class="row g-0 justify-content-center align-items-center">
                            
                            <!-- <div class="col-md-2 text-lg-end text-center">
                              <img
                                src="https://picsum.photos/200"
                                class="img-fluid rounded-circle me-1"
                                alt="..."
                              />
                            </div> -->
                            <div class="col-md-12 ">
                              <div class="card-body">
                                <p class="card-text titles" style="color: #18af9a">
                                  {{ user.userName }}
                                </p>
                                <p class="card-text titles" style="color: #1d1c1c">
                                  {{ user.email }}
                                </p>
                                <!-- <p class="card-text titles" style="color: #1d1c1c">
                                  {{ user.phoneNumber }}
                                </p> -->
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="d-flex justify-content-evenly align-items-center border-0 col-sm-3 col-12 flex-md-row flex-column">
                          <button type="button" class="btn btn-primary position-relative badge px-4 py-2 mb-lg-0 mb-2 border-0 rounded-pill fs-6 mx-1"
                            [ngStyle]="{
                              'background-color':
                                user.applicationRole.key === 'SP'
                                  ? '#D1EFEB'
                                  : '#ECD4F4',
                              color:
                                user.applicationRole.key === 'SP'
                                  ? '#46BFAE'
                                  : '#CE92E3'
                            }"
                          >
                            {{ user.applicationRole.arabicName }}
                            <span
                              class="position-absolute top-0 start-100 translate-middle p-2 bg-transparent border-0 rounded-0"
                            >
                              <img
                                src="/assets/icons/Group 542.png"
                                alt=""
                                sizes=""
                                srcset=""
                              />
                              <span class="visually-hidden">New</span>
                            </span>
                          </button>
                        </div>

                        <div class="d-flex justify-content-evenly align-items-center col-sm-2 col-12 mx-3 flex-md-row flex-column">
                          <!-- <div class="example-button-container col-3 mb-lg-0 mb-2">
                            <button mat-mini-fab disabled  aria-label="Example icon button with a home icon">
                              <mat-icon>add</mat-icon>
                            </button>
                          </div> -->
                      

                          <div class="example-button-container col-12 border-end py-2 px-2 mb-lg-0 mb-2 text-center align-content-center"
                          (click)="changeAccountActivation(user.id,user.isActive)">
                            <mat-slide-toggle [checked]=user.isActive></mat-slide-toggle>
                          </div>

                          <!-- <div class="example-button-container border-end mb-lg-0 mb-2">
                            <button class="col-3" mat-icon-button   disabled  aria-label="Example icon button with a open in new tab icon">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    </div>
                  
                </ng-container>
              
              
              </div>


        </div> 
