.section-1 .content a
{
  width: 98%;
  padding: 2% 6% 2% 0% ;
}

.section-1 .content span
{

  margin-right: 70%;
  padding-left: 3%;
  color: #198754;
  font-size: 18px;

}

.section-1 .content .request
{
  background-color: white;
}

.section-1 .content .active
{
  background-color: #004958;
  color:white;
}
