.nav a
{
  padding: 3% 7%;
  background-color: white;
  width: 96%;
  margin-left: 3%;
  color: #18af9a;

}


.section-1 .content a
{
  width: 100%;
}


.section-1 .content .request
{
  background-color: #004958;
  color:white;
}


.active
{
  background-color: #18af9a !important;
  color: white !important;
}


.btn:focus {
  outline: none;
  box-shadow: none;
  }
