<section class="container-fluid">
  <div class="section-1 mt-4">
    <div class="row">
      <!--<div class="col-6 content">
        <a routerLink="/Spmanagement/projects/all" class="btn request" routerLinkActive="Active"

        >طلبات الانشاءات <span>20</span></a>
      </div>-->

      <div class="col-12  content">
        <a routerLink="/Spmanagement/projects/new" class="btn request"
       >طلبات الاستشارات <span>0</span></a>
      </div>
    </div>

  
  </div>

  <router-outlet></router-outlet>


  

  </section>
