<section class="container-fluid">
  <div class="section-1 mt-4">
    <div class="row">
      <ng-container *ngIf="type==2">
      <div class="col-lg-12  content">
        <a routerLink="/Spmanagement/projects/all" class="btn request">طلبات انشاءات<span>0</span></a>
      </div>
      </ng-container>
      <ng-container *ngIf="type==1">
        <div class="col-lg-12  content">
          <a routerLink="/Spmanagement/projects/new" class="btn request"
         >طلبات الاستشارات <span>0</span></a>
        </div>
      </ng-container>
    </div>
  </div>
  <router-outlet></router-outlet>
  </section>
