<div class="col-12 container-fluid">

      <div class=" col-12 d-flex align-items-center justify-content-around px-2 flex-wrap">
    
        <div  class="col-lg-2 col-sm-3 col-12">
          <button type="button" class="btn btn-success rounded-0 w-100 text-white fs-6">مكتمل السداد</button>
    
        </div>
        <div  class="col-lg-2 col-sm-3 col-12 mt-sm-0 mt-3">
          <button type="button" class="btn btn-danger rounded-0 w-100 text-white fs-6">لم يتم السداد</button>
    
        </div>
        <div class="col-lg-3 col-sm-4 col-12 mt-sm-0 mt-3">
          <button type="button" class="btn btn-warning rounded-0 w-100  text-white fs-6" >غير مكتمل السداد</button>
        </div>
        <div class="d-flex position-relative col-lg-4 col-12 mt-lg-0 mt-3">
          <!-- Example single danger button -->
          <input
    
            type="search"
            class="form-control border-0 rounded-0 w-100" list="datalistOptions" id="exampleDataList"
            placeholder="Search for name ,number,location,etc"
            aria-label="Search"
            name="filterTerm"
            [(ngModel)]="companyName"
          />
          <button class="btn position-absolute start-0"  type="submit">
            <img src="../../../../assets/icons/Search.svg" alt="" srcset="">
          </button>
        </div>
      </div>
      <div class="col-12  d-flex  flex-wrap py-4 px-3">
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4"></div> -->
        <div class="card mb-3 ms-3 collg4  rounded-0 border-0">
          <div class="d-flex  flex-wrap g-0 p-3">
            <div class="col-md-4">
              <img src="https://picsum.photos/200/300" class="img-fluid rounded-0 h-100" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <div class="d-flex align-items-start mb-2 col-12">
                    <img class=""  src="assets/icons/user.svg"/>
                    <!-- <ng-template #whiteIconw
                      ><img src="assets/icons/userWh.svg" class=""
                    /></ng-template> -->
                    <div class="card-title me-3">
                      <p   class="fs-6"  >Tamer Mustafa </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start mb-2 col-12">
                    <img src="assets/icons/Group 801.svg"
                      class="" />
                    <!-- <img
                      src="assets/icons/Group 801White.svg"
                      class=""
                      [hidden]="productCurrent.id != pro.id"
                    /> -->
                    <p class="me-3 fs-6">
                      <span class="fs-6" > حي رهط , </span>
                      <span   class="fs-6">المدينة المنورة , </span>
                      <span class="fs-6"> منطقة المدينة المنورة   </span>
                    </p>
                  </div>
                  <div class="d-flex align-items-start mb-2 col-12">
                    <img
                      src="assets/icons/Phone.svg"
                    />
                    <!-- <img
                      src="assets/icons/PhoneWhite.svg"
                      class=""
                      [hidden]="productCurrent.id != pro.id"
                    /> -->
                    <div class="me-3 d-flex flex-row justify-content-between w-100">
                      <small class="fs-6">6578909879  </small>
                    </div>
                  </div>
                  <div class="d-flex justify-content-evenly col-12 colorBto align-items-center">
                    <button type="button" class="btn col-11 bgButton btn-lg border-0 rounded-0 fs-6 text-end" data-bs-toggle="modal" data-bs-target="#exampleModal"><small>إجمالي السعر : 300 ريال </small></button>
                    <!-- <img src="/assets/icons/Group 1267.svg" class="col-1 text-center"> -->
                    <mat-icon class="col-1 text-end" style="width: 8px">visibility</mat-icon>
    
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- cart -->
    
    
      </div>
    </div>
    
    
    <!-- Modal -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content rounded-0 position-relative">
          <button
            type="button"
            class="btn ps-2 rounded-0 position-absolute top-0 start50 translate-middle"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <mat-icon style="font-size: 30px ;">close</mat-icon>
          </button>
    
          <div class="modal-body p-5">
            <div class="mb-4">
              <mat-accordion >
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                  class="bgsecondary">
                  <!-- <mat-expansion-panel-header class="col-12 justify-content-between rounded-0"
                    [hidden]="panelOpenState === true"> -->
                    <mat-expansion-panel-header class="col-12 justify-content-between rounded-0">
                    <mat-panel-title class="col-8"> اسم المشروع </mat-panel-title>
                    <mat-panel-title class="text-mint col-3">
                      ربح : {{ 300 }} ريال
                    </mat-panel-title>
    
                  </mat-expansion-panel-header>
                  <div >
                    <div class="mt-3 col-12">
                      <p>I'm visible because I am open</p>
                      <p>I'm visible because I am open</p>
                      <p>I'm visible because I am open</p>
                    </div>
                    <div class="mt-3 col-12">
                      <p>I'm visible because I am open</p>
                      <p>I'm visible because I am open</p>
                      <p>I'm visible because I am open</p>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
    
    
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                class="bgsecondary">
                <mat-expansion-panel-header class="col-12 justify-content-between rounded-0">
                  <mat-panel-title class="col-8"> اسم المشروع </mat-panel-title>
                  <mat-panel-title class="text-mint col-3">
                    ربح : {{ 300 }} ريال
                  </mat-panel-title>
    
                </mat-expansion-panel-header>
                <div >
                  <div class="mt-3 col-12">
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                  </div>
                  <div class="mt-3 col-12">
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                    <p>I'm visible because I am open</p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
    
          </div>
        </div>
      </div>
    </div>