<div class="m-3 ">
  <div
    class="d-flex flex-row mb-3 col-12 flex-lg-nowrap flex-wrap justify-content-around"
  >
    <button
      [ngStyle]="{
        'background-color': newApi === 1 ? '#004958' : '#ffffff',
        'color': newApi === 1 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"
      role="button"
      (click)="getNewProjectsForAdmin()"
    >
      عروض اسعار جديده
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 3 ? '#004958' : '#ffffff',
        'color': newApi === 3 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"      role="button"
    (click)="getNotCompletedProjectsForAdmin()"
      >
    عروض غير مكتمل
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 4 ? '#004958' : '#ffffff',
        'color': newApi === 4 ? '#ffffff' : '#000000'

      }"
      (click)="getRejectedProjectsForAdmin()"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"      role="button"
    >
    عروض مرفوضة
    </button>
    <button
      [ngStyle]="{
        'background-color': newApi === 10 ? '#004958' : '#ffffff',
        'color': newApi === 10 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"      role="button"
      (click)="getUnderNegotiationProjects()"
    >
    عروض تحت التفاوض
    </button>

    <button
      [ngStyle]="{
        'background-color': newApi === 6 ? '#004958' : '#ffffff',
        'color': newApi === 6 ? '#ffffff' : '#000000'
      }"
      (click)="getAcceptedProjectsForAdmin()"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"      role="button"
    >
عروض مقبولة
</button>
    <!-- <button
      [ngStyle]="{
        'background-color': newApi === 7 ? '#004958' : '#ffffff',
        'color': newApi === 7 ? '#ffffff' : '#000000'
      }"
      class="btn rounded-0  col-lg-2 col-sm-4 col-12 ms-2 text-nowrap p-2"
            role="button"
      (click)="getStoppedProjects()"
    >
    عروض المتوقفه
    </button> -->
  </div>
  <!-- alert fun  -->
  <div class="alert alert-success" role="alert" *ngIf="show">
    {{messages}}
  </div>
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="showDanger">
    <div>
      المشروع موجود بالفعل
    </div>
  </div>

  <div class="col-12 d-flex flex-row flex-wrap justify-content-between" *ngIf="isProcessing;else undefind" >

  <!-- <div class="col-12 d-flex flex-row flex-wrap justify-content-between" > -->
    <div class="col-md-4 col-12">

      <form class="d-flex flex-column me-3">
        <!-- search company -->

        <div class="d-flex position-relative mb-3" *ngIf="productCurrent.projectRequestStatus.projectStatus.id === 1;else nourmal">
       <!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    الطلبات
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="getAllPriceQuotesForAdmin()" >كل الطلبات</a></li>
    <!-- <li><a class="dropdown-item" (click)="getNewProjectsForAdmin()">الطلبات المكتمله</a></li> -->
    <li><a class="dropdown-item" (click)="getNotCompletedProjectsForAdmin()">الطلبات غير مكتمله</a></li>

  </ul>
</div>

          <input
            class="form-control bg-white border-0 rounded-0 w-100"
            type="search"
            placeholder="Search for name ,number,location,etc"
            aria-label="Search"
            name="filterTerm"
            [(ngModel)]="filterTerm"
          />
          <button class="btn position-absolute top-0 start-0" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <ng-template #nourmal>
          <div class="d-flex position-relative mb-3">
              <!-- Example single danger button -->
                <input
                  class="form-control bg-white border-0 rounded-0 w-100"
                  type="search"
                  placeholder="Search for name ,number,location,etc"
                  aria-label="Search"
                  name="filterTerm"
                  [(ngModel)]="filterTerm"
                />
                <button class="btn position-absolute top-0 start-0" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
        </ng-template>
        <!-- card company -->

        <ng-container *ngFor="let pro of iadminPriceQuotes | filter: filterTerm ">
          <div class="card mb-3 border-0 rounded-0 textFontSizeCard">
            <div
              class="card-body"
              (click)="objectProduct(pro, pro.id)"
              [ngStyle]="{
                'background-color':
                  productCurrent.id === pro.id ? '#004958' : '#ffffff',
                color: productCurrent.id === pro.id ? '#ffffff' : '#000000'
              }"
            >
              <div class="d-flex">
                <i class="fa-regular fa-building"></i>
                <div class="card-title me-3">
                  <p *ngIf="pro.clientProfile.firstName; else templateName">
                    {{ pro.clientProfile.firstName }} {{ pro.clientProfile.lastName }}
                  </p>
                  <ng-template #templateName> Null firstName </ng-template>
                </div>
              </div>
              <div class="d-flex">
                <i class="fa fa-location-dot"></i>
                <i class="bi bi-geo-alt"></i>
                <p
                  class="me-3"
                  *ngIf="
                    pro.district.city.region.code &&
                      pro.district.city.region.nameAr;
                    else region
                  "
                >
                  <span *ngIf="pro.district.city.region.code; else regioncode"
                    >{{ pro.district.city.region.code  }} -
                  </span>
                  <ng-template #regioncode> null </ng-template>
                  <span
                    *ngIf="pro.district.city.nameAr; else regioncode"
                  >
                    {{pro.district.city.nameAr}}
                  </span>
                  <ng-template #regionnameAr> null </ng-template>
                </p>
                <ng-template #region></ng-template>
              </div>
              <div class="d-flex">
                <i class="fa fa-phone"></i>
                <div class="me-3 d-flex flex-row justify-content-between" >
                  <small >
                    +966 {{pro.clientProfile.applicationUser.phoneNumber }}</small
                  >


                  <small
                    class="me-5 opacity-50 fsvw align-content-end"
                    *ngIf="pro.dateCreated; else dateCreated"
                    >منذ
                    {{calculateDiff(pro.dateCreated)}} يوم
                  </small>
                  <ng-template #dateCreated>null</ng-template>
                </div>
              </div>
            </div>
          </div>

        </ng-container>

      </form>

    </div>
    <div class="col-md-7 sizew col-12 flex-row">
      <div class="col-12 card mb-3 border-0 rounded-0 p-4">
        <div class="row g-0 justify-content-evenly align-items-center">
          <div class="col-lg-2 col-sm-3">
            <img

              src="{{ productCurrent.clientProfile.profilePicturePath }}"
              class="img-fluid rounded-0 w-75 ms-5 me-2 p-1"
              alt="null"
            />
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="card-body">
              <p class="me-2">
                {{ productCurrent.clientProfile.firstName  }} {{ productCurrent.clientProfile.lastName }}
              </p>
            </div>
          </div>

          <div class="col-md-7 col-sm-5" [hidden]="productCurrent.projectRequestStatus.projectStatusId!=1" >
            <div class="d-flex">
              <a type="button" class="btn w-25" (click)="changeToAccepted()">
                <i class="fa-solid fa-check text-secondary"></i>
                <p class="fsvw">قبول</p></a
              >
              <a
                type="button"
                class="btn w-25"
(click)="changeToNotComplette()"
              >
                <i class="fa-solid fa-exclamation"></i>
                <p class="fsvw">غير مكتمل</p></a
              >
              <a type="button" class="btn w-25"
              (click)="changeToReject()"
                ><i class="fa-solid fa-xmark"></i>
                <p class="fsvw">رفض</p></a
              >

            </div>
          </div>

        </div>
      </div>
<!-- معلومات عن العميل -->
      <div class="col-12 card mb-3 border-0 rounded-0 py-4 px-5">
        <p class="card-title mb-4">معلومات عن العميل</p>
        <div class="d-flex col-12 mb-4 flex-wrap">
          <div class="col-12 mb-4">
            <div class="d-flex flex-row justify-content-between">
              <p class="card-subtitle text-secondary ms-2">رقم الهوية</p>

              <p>{{ productCurrent.clientProfile.idNumber }}</p>



              <a
              *ngIf="productCurrent.clientProfile.idPath; else idFile"

              target="_blank"
              class="informationDownload bg-light d-flex px-2 align-items-center"
              (click)="download(productCurrent.clientProfile.idPath,  productCurrent.clientProfile.idPath )"
            >
              <i class="fa fa-download typeCom ms-3"></i>
              <p class="pt-3">{{ productCurrent.clientProfile.idPath }}</p>

            </a>
              <ng-template #idFile>___</ng-template>
              <!-- </div> -->
            </div>


          </div>

          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">الدوله</p>
            <small
              class="fs-6"
              *ngIf="productCurrent.district.city.region.code; else cityName"
              >{{ productCurrent.district.city.region.code }}</small
            >
            <ng-template #cityName> _ </ng-template>
          </div>

          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">المدينه</p>
            <small
              class="fs-6"
              *ngIf="productCurrent.district.city.nameAr; else city"
              >{{ productCurrent.district.city.nameAr }}</small
            >
            <ng-template #city> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">المنطقه</p>
            <small
              class="fs-6"
              *ngIf="
                productCurrent.district.city.region.nameAr;
                else regionName
              "
              >{{ productCurrent.district.city.region.nameAr }}</small
            >
            <ng-template #regionName> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">العنوان</p>
            <small
              class="fs-6"
              *ngIf="productCurrent.clientProfile.streetName; else shortAddress"
              >
              {{ productCurrent.clientProfile.streetName }} -
              {{ productCurrent.district.city.region.nameAr }}</small
            >
            <ng-template #shortAddress> _ </ng-template>
          </div>

          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">
              رقم الهاتف
            </p>
            <small class="fs-6">{{ productCurrent.clientProfile.applicationUser.phoneNumber }}</small>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">
              عنوان البريد الالكتروني
            </p>
            <small class="fs-6" *ngIf="productCurrent.clientProfile.applicationUser.email==null; else emailName">_</small>
            <ng-template #emailName> <small  class="fs-6">{{
              productCurrent.clientProfile.applicationUser.email
            }}</small> </ng-template>
          </div>
          <!-- <div class="d-flex col-4 flex-column">
            <p class="card-subtitle text-secondary fs-6 mb-2">رابط الموقع</p>
            <small
              class="fs-6"
              *ngIf="productCurrent.websiteLink; else websiteLink"
              >{{ productCurrent.websiteLink }}</small
            >
            <ng-template #websiteLink> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">صندوق البريد</p>
            <small class="fs-6" *ngIf="productCurrent.postalBox; else box">{{
              productCurrent.postalBox
            }}</small>
            <ng-template #box> _ </ng-template>
          </div>
          <div class="col-lg-4 col-6 mb-4">
            <p class="card-subtitle text-secondary fs-6 mb-2">رمز البريد</p>
            <small class="fs-6" *ngIf="productCurrent.postalCode; else postcode"
              >{{ productCurrent.postalCode }}
            </small>
            <ng-template #postcode> _ </ng-template>
          </div> -->
        </div>
      </div>
<!--  -->
      <div class="col-12 mb-3 d-flex flex-lg-row flex-column rounded-0 py-2 ">
        <div class="col-lg-10 col-12 bg-white ms-1 py-4 px-5">
          <div class=" d-flex flex-row col-12 mb-4">
            <div class="col-4">
              <p class="card-subtitle text-secondary fs-6 mb-2">اسم المشروع</p>
              <small class="fs-6" *ngIf="productCurrent.name; else namecode"
              >{{ productCurrent.name }}
            </small>
            <ng-template #namecode> _ </ng-template>
            </div>
            <div class="col-4">
              <p class="card-subtitle text-secondary fs-6 mb-2 ">التصنيف الرئيسي </p>
              <small class="fs-6" *ngIf="productCurrent.projectCategory.name; else projectCategoryname"
              >{{ productCurrent.projectCategory.name }}
            </small>
            <ng-template #projectCategoryname> _ </ng-template>
            </div>
            <div class="col-4">
              <p class="card-subtitle text-secondary fs-6 mb-2">التصنيف الفرعي</p>
              <small class="fs-6" *ngIf="productCurrent.projectSubCategory.name; else projectSubCategoryname"
              >{{ productCurrent.projectSubCategory.name }}
            </small>
            <ng-template #projectSubCategoryname> _ </ng-template>
            </div>

          </div>
          <div class=" d-flex flex-row col-12 mt-4">
            <div class="col-3">
              <p class="card-subtitle text-secondary fs-6 mb-2"> اسم المدينه</p>
              <small
              class="fs-6"
              *ngIf="productCurrent.district.city.nameAr; else city"
              >{{ productCurrent.district.city.nameAr }}</small
            >
            <ng-template #city> _ </ng-template>
            </div>
            <div class="col-3">
              <p class="card-subtitle text-secondary fs-6 mb-2 "> المنطقه</p>
              <small
              class="fs-6"
              *ngIf="
                productCurrent.district.city.region.nameAr;
                else regionName
              "
              >{{ productCurrent.district.city.region.nameAr }}</small
            >
            <ng-template #regionName> _ </ng-template>
            </div>
            <div class="col-4">
              <p class="card-subtitle text-secondary fs-6 mb-2"> العنوان</p>
              <small
              class="fs-6"
              *ngIf="productCurrent.clientProfile.streetName; else shortAddress"
              >
              {{ productCurrent.clientProfile.streetName }} -
              {{ productCurrent.district.city.region.nameAr }}</small
            >
            <ng-template #shortAddress> _ </ng-template>
            </div>
            <div class="col-1">
              <p class="card-subtitle text-secondary fs-6 mb-2"> رقم القطعه</p>
              <small
              class="fs-6"
              *ngIf="productCurrent.plotNumber; else plotNumber"
              >
              {{ productCurrent.plotNumber }}</small
            >
            <ng-template #plotNumber> _ </ng-template>
            </div>
            <div class="col-1">
              <!-- <p class="card-subtitle text-secondary fs-6 mb-2"> رقم المخطط</p>
              <small
              class="fs-6"
              *ngIf="productCurrent.rganizationalChartNumber; else organizationalChartNumber"
              >
              {{ productCurrent.rganizationalChartNumber }}</small
            >
            <ng-template #organizationalChartNumber> _ </ng-template> -->
            </div>

          </div>

        </div>
        <div class="text-center col-lg-2 col-12 bg-white d-flex flex-column align-content-center justify-content-center  px-3 pt-4 pb-3">

<img src="assets/icons/calendar.svg" alt="" srcset="" class="imges">
<h1 class="fs-2 fw-bold" style="color: #004057;">{{productCurrent.pricequoteEndDate|date}} <sub class="fs-5 fw-normal" >في يوم</sub></h1>
<span style="color: #004057;">لانتهاء عرض السعر </span>

        </div>

      </div>
<!--  -->
      <div class="col-12  d-flex flex-lg-row flex-column  border-0 rounded-0 ps-2 mb-3 ">
        <div class="col-lg-6 col-12 d-flex p-2 bg-white ms-1 align-content-end flex-column">
<p>مكونات المشروع</p>
<ng-container *ngFor="let comp of productCurrent.projectComponents">
  <ul>
    <li>
      {{comp.component}}
    </li>
  </ul>
</ng-container>

        </div>
        <div class="col-lg-6 col-12 p-2 bg-white me-1 align-content-start flex-column">
<p>الاعمال المطلوبه</p>

<div>
  <ul *ngFor="let com of productCurrent.projectRequiredWorks">
    <li class="text-danger" >
     {{com.requiredWork}}

    </li>
  </ul>

</div>
        </div>

      </div>
<!--  -->
      <div class="col-12 card mb-3 border-0 rounded-0 py-4 px-5">

        <p>نبذه عن المشروع</p>
        <p> {{productCurrent.subject }}</p>
      </div>


      </div>
  </div>

<ng-template #undefind>
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!isProcessing">
    <div>
      حاليا لايوجد عروض
    </div>
  </div>

  </ng-template>
</div>
