 <div class="container mt-5 fontStyle">
        <div class="row">
            <div class=" col-md-6 col-sm-12 mt-2" >
                <div class="card p-2 " style="background-color: #004057;">
                    <span class="align-items-end text-white h5"  >
                        طلبات الإنشاءات
                    </span>
                </div>
            </div>
            <div class=" col-md-6 col-sm-12 mt-2">
                <div class="card p-2 ">
                    <span class="align-items-end h5" style="color: #004057;">
                        طلبات الإستشارات
                    </span>
                </div>
            </div>

            <div class=" col-md-3 col-sm-6 mt-2">
                <div class="card p-2 " style="background-color: #18af9a ;">
                    <span class=" d-flex justify-content-center text-white h5" >
                        مقاولات الإنشاءات العامة
                    </span>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6 mt-2">
                <div class="card p-2 ">
                    <span class=" d-flex justify-content-center h5" style="color: #18af9a ;">
                        مقاولات عامة للمباني
                    </span>
                </div>
            </div>
            <div class=" col-md-3 col-sm-6 mt-2 ">
                <div class="card p-2 ">
                    <span class=" d-flex justify-content-center h5" style="color: #18af9a ;">
                        مقاولات فرعية تخصصية
                    </span>
                </div>
            </div>


        </div>
    </div>
