.cairo{
  font-family: 'Cairo';
}
.tajawal{
  font-family: 'Tajawal';
  font-weight: 500;
}
.show{
  background-color: #5e5e5e;
}
.show:hover{
  background-color: #5e5e5e!important;

}
.price-offer{
  min-height: 100vh;
  .mainColor{
    color: #004057;
  }
    .secondColor{
      color:#18AF9A;
    }
    .mainBk{
     background-color: #004057;
     color: #FFF;
    }
      .secondBk{
        background-color:#18AF9A;
     color: #FFF;
      }
    .card {
      cursor: pointer;

      .textcard{
        font-weight: 400;

      }
      .icon{
        color: #004057;
      }
    }
  .active{
    background-color: #004057;
    color:#FFF;
   .name{
    color: #FFF;
   }
   .icon{
    color: #FFF;
   }
  }
  .cards{
    .card{
      position: relative;
    }
     .active::after{
      position: absolute;
      content: "";
    width: 0;
	height: 0;
	border-top: 15px solid transparent;
    border-right: 15px solid #004057;
    border-bottom: 15px solid transparent;
    bottom: 34%;
    left: -15px;
    }
  }

  .info1 p{
font-size: 14px;
    color: #004057;
    font-weight: 500;
  }
  .projectInfo{
    color: #004057;
    font-family: 'cairo';
    .head{
font-size: 19px;
    }
    span{
      font-size: 14px;

    }
  }
  .cardOffer{

    .borderDashed{

      border-top: 2px dashed #ccc;
    }


.icon{
  font-size: 30px;

}
p{
  font-family: "Cairo";
  font-size: 16px;
    font-weight: 700;
}
  }
  .person{
    select:focus {
      outline: none !important;
  }
  }
  .dotCon{
    background-color: transparent;
    border: 0;
    left: -3px;
    top: 13px;
    color: #18AF9A;
    height: 50px;
    .dots{
    background-color: transparent;
    border: 0;
    color: #18AF9A;
    height: 50px;
    }
  }
  .matBtnCon{

background-color: #18AF9A;
  }
}
/* ********************** */

.popup{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 110000;
  background-color: #0b7e74;
  overflow: hidden;
  font-size: 18px;

}
.popup .my-popup{
  padding: 40px 20px;
    width: 500px;
    background-image: linear-gradient(135deg,rgpa(255,255,255,0.1),rgpa(255,255,255,0));
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
}
.popup .my-popup .card-title{
  font-size: 18px;
}
.popup .my-popup  .btn{
  color: #fff;
}
.overlay {
  *{
font-family: 'cairo';
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
display: flex;
  z-index: 1000;
  .popup {
    margin: auto;
    width:450px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    height:auto ;

.btn{
  margin-top: 20px;
  background-color: #18AF9A;
  color: #FFF;
}

  }
}
.close {
  position: absolute;
  top: 20px;
  left: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
 .close:hover {
  color: #18AF9A;
}
