<!-- <button (click)="pageid(page)">all</button>
<button (click)="pageid2(page)">allNot</button>

<div *ngFor="let pro of iProfileData">
  <h1>{{ pro.firstName }} {{ pro.lastName }}</h1>
</div>
<tr *ngIf="paginOne">
  <th
    scope="row"
    *ngFor="
      let data of arrayOfDigits
        | paginate: { itemsPerPage: 1, currentPage: page }
    "
  ></th>
  <td colspan="1"></td>
  <td colspan="6">
    <pagination-controls
      (click)="pageid(page)"
      (pageChange)="page = $event"
    ></pagination-controls>
  </td>
</tr>

<tr *ngIf="paginTwo">
  <th
    scope="row"
    *ngFor="
      let data of arrayOfDigits2
        | paginate: { itemsPerPage: 1, currentPage: page }
    "
  ></th>
  <td colspan="1"></td>
  <td colspan="6">
    <pagination-controls
      (click)="pageid2(page)"
      (pageChange)="page = $event"
    ></pagination-controls>
  </td>
</tr> -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="userformMassage">
          <input type="text" class="form-control" name="massage" id="massage" placeholder="massage" value="text" formControlName="massage" >
          <button type="button" class="btn btn-primary" (click)="test()">Save </button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
