.cardImg {
  width: 60px;
  margin-bottom: 10px;
}
.E9CCF2 {
  background-color: #c4e8c9;
  color: rgb(22, 22, 22) !important;
}
.D9CCF2 {
  background-color: #c9ede8;
  color: rgb(22, 22, 22) !important;
}
.C4D3D8 {
  background-color: #c4d3d8;
  color: rgb(22, 22, 22) !important;
}
.D1F2FE {
  background-color: #d1f2fe;
  color: rgb(22, 22, 22) !important;
}
.E2FD {
  background-color: #97e2fd;
  color: rgb(22, 22, 22) !important;
}
.circle {
  width: 80px;
  aspect-ratio: 1 / 1;
}
