<div class="d-flex flex-column bg-white h-100 p-2 rounded-3 shadow">
  <div class="d-flex justify-content-between align-items-center">
    <div class="">
      <img src="assets/dashboard/cost.png" alt="" class="card-img cardImg" />
      <span class="me-2">
        {{
          type == "projects"
            ? "المشاريع"
            : type == "pricequotes"
            ? "عروض الأسعار"
            : type =="indSp"
            ? "مزود الخدمه (مستقل)" 
            : type =="comSp"
            ? "مزود الخدمه (الشركه)" 
            : type =="client"
            ? "العملاء" : ""
        }}</span
      >
    </div>
    <div class=" align-items-center justify-content-end d-flex">
      <span [class]="'badge p-2  ' + circleColor" style="width: 50px;">{{
        type == "projects"
          ? data?.totalNumber
          : type == "pricequotes"
          ? data?.totalNumber
          : type =="indSp"
          ?data?.totalIndividualSPNumber
          : type =="comSp"
          ? data?.totalOrganizationalSPNumber
          : type =="client"
          ?data?.totalClientsNumber
           : ""
      }}</span>
    </div>
  </div>
  <div class="row mt-3">
    <div
      [class]="'d-flex align-items-center justify-content-center flex-column ' + grid"
    >
      <div
        [class]="'badge rounded-circle circle   p-2 text-center ' + circleColor"
      >
      <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">

        <p class="text-center m-0">
          {{
            type == "projects"
              ? data?.currentProjectsNumber
              : type == "pricequotes"
              ? data?.newPricequotesNumber
              : type =="indSp"
              ? "جديد" 
              : type =="comSp"
              ? "جديد"
              : type =="client"
              ? "جديد" : ""
          }}
        </p>
        <hr class="my-2 w-100" />
        <p class="text-center m-0 ">
          {{
            type == "projects"
              ? data?.currentProjectsCost
              : type == "pricequotes"
              ? data?.newPricequotesCost
              : type =="indSp"
              ? data?.newIndividualSPNumber 
              : type =="comSp"
              ?data?.newOrganizationalSPNumber
              : type =="client"
              ?data?.newClientsNumber : ""
          }}
        </p>
      </div>
      </div>
      <p class="text-center my-2">
        {{ type == "projects" ? "حالي" : type == "pricequotes" ? "جديدة" : "" }}
      </p>
    </div>
    <div
    [class]="'d-flex align-items-center justify-content-center flex-column ' + grid"
  >
      <div
        [class]="'badge rounded-circle circle p-2 text-center ' + circleColor"
      >
      <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.finishedProjectsNumber
              : type == "pricequotes"
              ? data?.acceptedPricequotesNumber
              : type =="indSp"
              ? "مقبول"
              : type =="comSp"
              ? "مقبول"
              : type =="client"
              ? "مقبول" : ""
          }}
        </p>
        <hr class="my-2 w-100" />
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.finishedProjectsCost
              : type == "pricequotes"
              ? data?.acceptedPricequotesCost
              : type =="indSp"
              ? data?.acceptedIndividualSPNumber
              : type =="comSp"
              ?data?.acceptedOrganizationalSPNumber
              : type =="client"
              ? data?.acceptedClientsNumber
               : ""
          }}
        </p>
        </div>
      </div>
      <p class="text-center my-2">
        {{
          type == "projects" 
          ? "مكتملة" 
          : type == "pricequotes" 
          ? "مقبولة" : ""
        }}
      </p>
    </div>

    <div
      [class]="'d-flex align-items-center justify-content-center flex-column ' + grid"
    >
      <div
        [class]="'badge rounded-circle circle p-2 text-center ' + circleColor"
      >
      <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.pendingProjectsNumber
              : type == "pricequotes"
              ? data?.notCompletedPricequotesNumber
              : type =="indSp"
              ? "غير مكتمل"
              : type =="comSp"
              ? "غير مكتمل"
              : type =="client"
              ?  "غير مكتمل": ""
          }}
        </p>
        <hr class="my-2 w-100" />
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.pendingProjectsCost
              : type == "pricequotes"
              ? data?.notCompletedPricequotesCost
              : type =="indSp"
              ? data?.notCompletedIndividualSPNumber
              : type =="comSp"
              ?data?.notCompletedOrganizationalSPNumber
              : type =="client"
              ? data?.notCompletedClientsNumber
              : ""
          }}
        </p>
        </div>
      </div>
      <p class="text-center my-2">
        {{
          type == "projects"
            ? "معلقه"
            : type == "pricequotes"
            ? "غير مكتملة"
            : ""
        }}
      </p>
    </div>
    <div
    [class]="'d-flex align-items-center justify-content-center flex-column ' + grid"
  >
      <div
        [class]="'badge rounded-circle circle p-2 text-center ' + circleColor"
      >
      <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.stoppedProjectsCost
              : type == "pricequotes"
              ? data?.rejectedPricequotesNumber
              : type =="indSp"
              ? data?.rejectedIndividualSPNumber
              : type =="comSp"
              ? data?.rejectedOrganizationalSPNumber
              : type =="client"
              ? data?.rejectedClientsNumber : ""
          }}
        </p>
        
        <hr class="my-2 w-100" />
        <p class="text-center  m-0 ">
          {{
            type == "projects"
              ? data?.stoppedProjectsNumber
              : type == "pricequotes"
              ? data?.rejectedPricequotesCost
              : type =="indSp"
              ? "مرفوضة"
              : type =="comSp"
              ? "مرفوضة"
              : type =="client"
              ? "مرفوضة" : ""
          }}
        </p>
        </div>
      </div>
      <p class="text-center my-2">
        {{
          type == "projects" 
          ? "موقوف" 
          : type == "pricequotes" 
          ? "مرفوضة" 
          : ""
        }}
      </p>
    </div>
  </div>
</div>
