.cardImg {
	width: 60px;
	margin-bottom: 10px;
    
}
.E9CCF2{
      background-color: #C4E8C9;
      color: rgb(22, 22, 22) !important;
     }
     .D9CCF2{
       background-color: #C9EDE8;
       color: rgb(22, 22, 22) !important;
     
     }
     .C4D3D8{
       background-color: #C4D3D8;
       color: rgb(22, 22, 22) !important;
     
     }
     .D1F2FE{
       background-color: #D1F2FE;
       color: rgb(22, 22, 22) !important;
     
     }
     .E2FD{
       background-color: #97E2FD;
       color: rgb(22, 22, 22) !important;
     
     }
     .circle{
	width: 90px;
    }