<div class="container pt-5 fontStyle">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-2 col-sm-6 mt-2 ">
                        <div class="card p-2 text-white" style="background-color: #18af9a;">
                            المشاريع الحالية
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2">
                        <div class="card p-2">
                           مشاريع معلقة

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2 ">
                        <div class="card p-2">
                          المشاريع المنتهية

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2">
                        <div class="card p-2">
                           مشاريع متأخرة
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2">
                        <div class="card p-2">
                            مشاريع متوقفة
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-12  mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 mt-3 text-white " >
                                <div class="card p-2" style="background-color: #004057;">
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4"></i>
                                        <span class="">
                                            wessam
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4  " style="opacity:0;"></i>
                                        <span class="">
                                            cli@gmail.com
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location-dot ms-4"></i>
                                        <span class="">
                                            المنطقة الشرقية
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-calendar ms-4"></i>
                                        <span class="">
                                            <span> 2022-09-17</span>
                                            <span> /</span>
                                            <span> 2022-09-17</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="card p-2">
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4"></i>
                                        <span class="">
                                            wessam
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4  " style="opacity:0;"></i>
                                        <span class="">
                                            cli@gmail.com
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            المنطقة الشرقية
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            <span> 2022-09-17</span>
                                            <span> /</span>
                                            <span> 2022-09-17</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="card p-2">
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4"></i>
                                        <span class="">
                                            wessam
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4  " style="opacity:0;"></i>
                                        <span class="">
                                            cli@gmail.com
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            المنطقة الشرقية
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            <span> 2022-09-17</span>
                                            <span> /</span>
                                            <span> 2022-09-17</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="card p-2">
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4"></i>
                                        <span class="">
                                            wessam
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-user ms-4  " style="opacity:0;"></i>
                                        <span class="">
                                            cli@gmail.com
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            المنطقة الشرقية
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location ms-4"></i>
                                        <span class="">
                                            <span> 2022-09-17</span>
                                            <span> /</span>
                                            <span> 2022-09-17</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 mt-4">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="row ">
                            <div class="col-md-8 col-sm-12    mt-3">
                                <div class=" card p-2 ">
                                    <div class=" d-flex justify-content-between align-items-center " >
                                        <div class=" d-flex align-items-center ">
                                            <img class="rounded-circle ms-2"  src="https://via.placeholder.com/50" alt="" />
                                            <p>wessamCli</p>
                                        </div>
                                        <div class="">
                                            <i class="fa fa-comment"></i>
                                            <p>مراسلة</p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mt-3 ">
                                <div class=" card p-2 h-100">
                                    <div class="d-flex justify-content-around align-items-center py-3" >
                                            <i class="fa fa-calendar-alt fa-3x"></i>
                                            <p class="text-secondary fs-5 h5"> ميعاد التسليم</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row ">
                            <div class="col-md-8 col-sm-12    mt-3">
                                <div class=" card p-2 h-100  ">
                                    <p class="text-end text-secondary fs-6 h5">معلومات عن العميل</p>
                                    <div class="d-flex justify-content-between align-items-center   py-3" >
                                         <div>
                                            <span class="text-secondary">رقم الهوية</span>
                                            <br>
                                            <span>1123123123</span>
                                        </div>
                                        <div>
                                            <i class="fa fa-download mx-2"></i>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center  py-3" >
                                        <div>
                                            <span class="text-secondary">الدولة
</span>
                                            <br>
                                            <span>المنطقة الشرقية

</span>
                                        </div>
                                        <div>
                                            <span class="text-secondary">المدينة</span>
                                            <br>
                                            <span>الدمام</span>
                                        </div>
                                        <div>
                                            <span class="text-secondary"> المنطقة</span>
                                            <br>
                                            <span>حي النخيل

</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center  py-3" >
                                        <div>
                                            <span class="text-secondary"> رقم التليفون
</span>
                                            <br>
                                            <span>1111111111</span>
                                        </div>
                                        <div>
                                            <span class="text-secondary">البريد الالكترونى
 </span>
                                            <br>
                                            <span>cli@gmail.com

</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mt-3">
                                <div class=" card p-2">
                                    <p class="text-end text-secondary fs-6 h5">معلومات المسئول عن المشروع</p>

                                        <div class="d-flex align-items-center my-2">
                                            <i class=" fa fa-1x fa-building ms-4"></i>
                                            <span class="">

                                            </span>
                                        </div>

                                    <div class="d-flex align-items-center my-2">
                                        <i class=" fa fa-1x fa-user ms-4"></i>
                                        <span class="">
                                            wessam
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-location-dot ms-4"></i>
                                        <span class="">

                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class=" fa fa-1x fa-comment-alt ms-4"></i>
                                        <span class="">
                                            مراسله
                                        </span>
                                    </div>
                            </div>
                            </div>












                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-4 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <img class="rounded-circle ms-2"  src="https://via.placeholder.com/90" alt="" />
                                            <p>التفاصيل</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12    mt-3">
                            <div class=" card p-2 h-100  ">

                                <div class="d-flex justify-content-between align-items-center  py-3" >
                                    <div>
                                        <span class="text-secondary"> اسم المشروع</span>
                                        <br>
                                        <span>Jemima Oneill

</span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"> التقسيم الاساسى
</span>
                                        <br>
                                        <span>صحي</span>
                                    </div>
                                    <div>
                                        <span class="text-secondary">التقسيم الفرعى
 </span>
                                        <br>
                                        <span>العيادات</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center  py-3" >
                                    <div>
                                        <span class="text-secondary"> الدولة</span>
                                        <br>
                                        <span>المنطقة الشرقية

</span>
                                    </div>
                                    <div>
                                        <span class="text-secondary"> المدينة</span>
                                        <br>
                                        <span>الدمام</span>
                                    </div>
                                    <div>
                                        <span>المنطقة </span>
                                        <br>
                                        <span>حي النخيل

</span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center  py-3" >
                                    <div>
                                        <span class="text-secondary"> رقم القطعة
</span>
                                        <br>
                                        <span>1123123123</span>
                                    </div>
                                    <div>
                                        <span class="text-secondary">رقم المخطط</span>
                                        <br>
                                        <span>1123123123</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                </div>

                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-4 col-sm-12 mt-3">
                            <div class=" card p-4">
                                    <div class="align-items-center">
                                        <p class="text-end">  80000 متر مربع</p>
                                        <p class="text-end text-secondary fs-5 h5"> المساحة المقام عليها المشروع </p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mt-3">
                            <div class=" card p-4">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5">المدة التي تم تنفيذ المشروع خلالها</p>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 mt-3">
                            <div class=" card p-4">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5">
                                            الميزانية الخاصة بالمشروع</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5">مكونات المشروع</p>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end">المكون الأول</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end">المكون الثاني</p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5">الأعمال المطلوبة
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end"> مراجعة واعتماد بختم المكتب</p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end"> مراجعة واعتماد ( معماري - امن وسلامة )</p>
                                            <p class="text-start"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end">صميم ( معماري - امن وسلامة )</p>
                                            <p class="text-start"></p>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <p class="text-end">تصميم واعتماد ( معماري - امن وسلامة )</p>
                                            <p class="text-start"></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>








                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5"> نبذة مختصره عن المشروع</p>

                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="text-end"> Fuga Ratione esse o
</p>
                                        </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <div class="row ">
                        <div class="col-md-6 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <p class="text-end text-secondary fs-5 h5">المستندات الخاصة بالعميل </p>

                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="text-end"> </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 mt-3">
                            <div class=" card p-2">
                                    <div class="align-items-center">
                                        <h5 class="text-end text-secondary fs-5 h5">المستندات الخاصة بمزود الخدمة
 </h5>

                                        <div class="d-flex justify-content-between mt-4">
                                            <p class="text-end"></p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
