<div class="overlay p-5">
      <div class="img-popup p-5">
        <a
          class="close"
          style="cursor: pointer"
          (click)="toggleShow()"
          >&times;</a
        >
        <div id="mymModal" class="mmodal">
          <div class="mb-2">
            <button
              class="btn gray d-flex justify-content-between align-items-center btn-accordion w-100 text-end d-flex justify-content-between rounded-0 px-3"
              type="button"
              [attr.data-target]="'#item'"
              data-toggle="collapse"
            >
              <span class="cairo"
                >{{
                  userType == "client" || userType == "sp"
                    ? activeProject.project?.name
                    : userType == "spForAdmin"
                    ? activeProject.profile?.offers[0]?.project?.name
                    : userType == "clientForAdmin"
                    ? activeProject.profile?.projects[0]?.name
                    : ""
                }}
              </span>
              <div>
                <span class="cairo">
                  ربح :
                  {{
                    userType == "client" || userType == "sp"
                      ? (
                          activeProject.project?.offers[0]?.totalCost -
                          activeProject.project?.offers[0]?.cost
                        ).toFixed(2)
                      : userType == "spForAdmin"
                      ? (
                          activeProject.profile?.offers[0]?.totalCost -
                          activeProject.profile?.offers[0]?.cost
                        ).toFixed(2)
                      : userType == "clientForAdmin"
                      ? (
                          activeProject.profile?.projects[0]?.offers[0]
                            ?.totalCost -
                          activeProject.profile?.projects[0]?.offers[0]?.cost
                        ).toFixed(2)
                      : ""
                  }}
                </span>
                <i class="fas fa-angle-down me-5"></i>
              </div>
            </button>

            <div class="card rounded-0 border-0 mt-2 card-2-1">
              <div id="accordion">
                <div
                  class="gray collapse hide py-3 px-1"
                  [id]="'item'"
                  data-parent="#accordian"
                >
                  <div class="cairo p-2 mb-2" #pdfTable id="pdfTable">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="" scope="col">الدفعة</th>
                          <th scope="col">المرحلة</th>
                          <th scope="col">التكلفه</th>
                          <th scope="col">التاريخ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container
                          *ngFor="
                            let milestone of activeMiliestones;
                            let i = index
                          "
                        >
                          <tr>
                            <td>
                              <span
                                [ngStyle]="{
                                  color: milestone.isPaid
                                    ? '#18AF9A'
                                    : '#EE9C0F'
                                }"
                                class="bold"
                                >الدفعه ({{ i + 1 }}) :
                              </span>
                            </td>

                            <td>
                              <div
                                class="mb-2"
                                *ngIf="milestone.isFirstMilestone"
                              >
                                <span
                                  [ngStyle]="{
                                    color: milestone.isPaid
                                      ? '#18AF9A'
                                      : '#EE9C0F'
                                  }"
                                  class="me-2 bold"
                                >
                                  دفعة مقدمه
                                </span>
                              </div>
                              <div
                                class="mb-2 bold"
                                *ngIf="milestone.isLastMilestone"
                              >
                                <span
                                  [ngStyle]="{
                                    color: milestone.isPaid
                                      ? '#18AF9A'
                                      : '#EE9C0F'
                                  }"
                                  class="me-2 bold"
                                >
                                  دفعة بعد الإنتهاء
                                </span>
                              </div>
                              <div
                                class="mb-2 bold"
                                *ngIf="
                                  !milestone.isLastMilestone &&
                                  !milestone.isFirstMilestone
                                "
                              >
                                <span
                                  [ngStyle]="{
                                    color: milestone.isPaid
                                      ? '#18AF9A'
                                      : '#EE9C0F'
                                  }"
                                  class="me-2 bold"
                                >
                                  {{
                                    requiredWorks[milestone.requiredWorkId]
                                      ?.name
                                  }}
                                </span>
                              </div>
                            </td>

                            <td>
                              <span
                                [ngStyle]="{
                                  color: milestone.isPaid
                                    ? '#18AF9A'
                                    : '#EE9C0F'
                                }"
                                >{{ milestone.cost }} ريال</span
                              >
                            </td>
                            <td>
                              <div
                                class="text-dark bold"
                                *ngIf="milestone.isPaid"
                              >
                                {{ getDate(milestone.paidDate) }}
                              </div>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex">
                        <div class="d-flex align-items-center">
                          <button
                            class="btn paidbk text-white m-0"
                            disabled
                          ></button>
                          <span class="me-2"> تم التسديد </span>
                        </div>
                        <div class="d-flex align-items-center me-4">
                          <button
                            class="btn text-white notPaidbk m-0"
                            disabled
                          ></button>
                          <span class="me-2"> لم يتم التسديد بعد </span>
                        </div>
                      </div>

                      <button [hidden]="userType=='spForAdmin' ||userType=='clientForAdmin'"  class="btn mainBk ms-4">
                        تنزيل الفاتورة
                        <i class="fa fa-download mx-2"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>