<section
  *ngIf="(userSuccess && imageSuccess) == false"
  style="min-height: 100vh"
>
  <header class="form-control p-3 signFormIn border-end">
    <h5 class="bd-title m-0 p-0" dir="rtl">إستكمال البيانات الخاصه بكـ</h5>
  </header>
  <div class="container form-control py-5 px-4 border-0 signFormIn">
    <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="form-label mb-2" for="firstName">
              الإسم بالكامل
            </label>
            <input
              type="text"
              formControlName="firstName"
              name="firstName"
              id="firstName"
              class="form-control form-control-lg signup"
              placeholder="   الإسم بالكامل"
              required
              [class.is-valid]="firstName?.valid"
              [class.is-invalid]="firstName?.invalid && firstName?.touched"
            />
            <div
              class="alert alert-warning"
              [hidden]="firstName?.valid || firstName?.untouched"
            >
              <span *ngIf="firstName?.errors?.['required']"
                >الإسم بالكامل مطلوب
              </span>
              <span *ngIf="firstName?.errors?.['pattern']"
                >الإسم يجب أن يكون علي الاقل ثنائي
              </span>
            </div>
          </div>
        </div>
        <!--  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="form-label mb-2" for="lastName">إسم العائلة</label>
            <input
              type="text"
              formControlName="lastName"
              id="lastName"
              name="lastName"
              class="form-control form-control-lg signup"
              placeholder="   إسم العائلة"
              required
              [class.is-valid]="lastName?.valid"
              [class.is-invalid]="lastName?.invalid && lastName?.touched"
            />
            <div
              class="alert alert-warning"
              [hidden]="lastName?.valid || lastName?.untouched"
            >
              <span *ngIf="lastName?.errors?.['required']"
                >إسم العائلة مطلوب
              </span>
            </div>
          </div>
        </div>
        -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group" formGroupName="applicationUser">
            <label class="form-label mb-2" for="email">
              البريد الإلكتروني</label
            >
            <input
              type="text"
              formControlName="email"
              id="email"
              class="form-control form-control-lg signup"
              placeholder="البريد الإلكتروني"
              (keypress)="englishOnly($event)"
              required
              [class.is-valid]="email?.valid"
              [class.is-invalid]="email?.invalid && email?.touched"
            />
            <div
              class="alert alert-warning"
              [hidden]="email?.valid || email?.untouched"
            >
              <span *ngIf="email?.errors?.['required']"
                >البريد الإلكتروني مطللوب</span
              >
              <span *ngIf="email?.errors?.['email']">تأكد من بنية البريد</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="form-group" formGroupName="applicationUser">
            <label class="form-label mb-2" for="phoneNumber"> رقم الجوال</label>
            <input
              type="text"
              id="phoneNumber"
              formControlName="phoneNumber"
              class="form-control form-control-lg signup"
              placeholder="9665XXXXXXXX"
              (keypress)="numberOnly($event)"
              [class.is-valid]="phoneNumber?.valid"
              [class.is-invalid]="phoneNumber?.invalid && phoneNumber?.touched"
            />
            <div
              class="alert alert-warning"
              [hidden]="phoneNumber?.valid || phoneNumber?.untouched"
            >
              <span *ngIf="phoneNumber?.errors?.['required']">
                رقم الجوال مطللوب</span
              >
              <span *ngIf="phoneNumber?.errors?.['pattern']">
                تأكد من بنية رقم الجوال</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="form-group" formGroupName="applicationUser">
            <label class="form-label mb-2" for="userName"> إسم المستخدم </label>
            <input
              type="text"
              formControlName="userName"
              id="userName"
              class="form-control form-control-lg signup"
              placeholder="   إسم المستخدم "
              (keypress)="englishOnly($event)"
              [class.is-valid]="userName?.valid"
              [class.is-invalid]="userName?.invalid && userName?.touched"
            />
            <div
              class="alert alert-warning"
              [hidden]="userName?.valid || userName?.untouched"
            >
              <span *ngIf="userName?.errors?.['required']">
                إسم المستخدم مطللوب</span
              >
              <span *ngIf="userName?.errors?.['pattern']">
                تأكد من بنيةإسم المستخدم
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="form-label" for="idNumber"> رقم الهوية </label>
            <input
              type="text"
              id="idNumber"
              formControlName="idNumber"
              class="form-control form-control-lg signup"
              placeholder="   رقم الهوية  "
              [class.is-valid]="idNumber?.valid"
              [class.is-invalid]="idNumber?.invalid && idNumber?.touched"
              (keypress)="numberOnly($event)"
            />
            <div
              class="alert alert-warning"
              [hidden]="idNumber?.valid || idNumber?.untouched"
            >
              <span *ngIf="idNumber?.errors?.['required']">
                رقم الهوية مطللوب</span
              >
              <span
                *ngIf="idNumber?.errors?.['minlength'] || idNumber?.errors?.['maxlength'] "
                >تأكد أن رقم الهوية 10 أرقام
              </span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="form-label mb-2" for="imageFile"> صورة الهوية </label>
            <div class="button-wrapper">
              <div class="h-100">
                <span class="label">{{
                  image.value
                    ? image.value.split("\\").slice(-1)[0].length > 15
                      ? image.value.split("\\").slice(-1)[0].substr(0, 15) +
                        "..."
                      : image.value.split("\\").slice(-1)[0]
                    : "إرفاق"
                }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-upload"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                  />
                  <path
                    d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"
                  />
                </svg>
              </div>
              <input
                type="file"
                #image
                id="imageFile"
                required
                (change)="onImageUpload($event)"
                [class.is-valid]="imageFile?.valid"
                [class.is-invalid]="imageFile?.invalid && imageFile?.touched"
                class="upload-box"
              />
            </div>

            <div
              class="alert alert-warning"
              [hidden]="imageFile?.valid || imageFile?.untouched"
            >
              <span *ngIf="imageFile?.errors?.['required']">
                صورة الهوية مطلوبة</span
              >
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="row mt-5">
          <div class="col-12 col-md-3">
            <h5 class="mb-5 bd-title" style="color: #18af9a" dir="rtl">
              العنوان الوطني
              <i class="fa-solid fa-location-dot"></i>
            </h5>
          </div>
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 col-md-4">
                <label for="region" class="control-label mb-2"> منطقة</label>

                <select
                  name="region"
                  id="region"
                  class="mt-2 form-control form-control-lg"
                  formControlName="region"
                  [class.is-valid]="region?.valid"
                  [class.is-invalid]="region?.invalid && region?.touched"
                  (change)="_getCities()"
                >
                  <option>...اختر</option>
                  <ng-container *ngFor="let region of regionsList">
                    <option [value]="region.id">{{ region.nameAr }}</option>
                  </ng-container>
                </select>
                <div
                  class="alert alert-warning"
                  [hidden]="region?.valid || region?.untouched"
                >
                  <span *ngIf="region?.errors?.['required']">
                    المنطقة مطلوبة</span
                  >
                </div>
              </div>
              <div class="col-12 col-md-4">
                <label for="city" class="control-label mb-2"> المدينة </label>

                <select
                  name="city"
                  id="city"
                  class="mt-2 form-control form-control-lg"
                  formControlName="city"
                  [class.is-valid]="city?.valid"
                  [class.is-invalid]="city?.invalid && city?.touched"
                  (change)="_getDistricts()"
                >
                  <option>...اختر</option>
                  <ng-container *ngFor="let city of citiesList">
                    <option [value]="city.id">{{ city.nameAr }}</option>
                  </ng-container>
                </select>
                <div
                  class="alert alert-warning"
                  [hidden]="city?.valid || city?.untouched"
                >
                  <span *ngIf="city?.errors?.['required']">
                    المدينة مطلوبة</span
                  >
                </div>
              </div>
              <div class="col-12 col-md-4">
                <label for="district" class="control-label mb-2"> الحي</label>
                <select
                  *ngIf="!addingDistrict"
                  name="districtId"
                  id="districtId"
                  class="mt-2 form-control form-control-lg"
                  formControlName="districtId"
                  [class.is-valid]="districtId?.valid"
                  [class.is-invalid]="
                    districtId?.invalid && districtId?.touched
                  "
                >
                  <option disabled>...اختر</option>
                  <ng-container *ngFor="let district of districtsList">
                    <option [value]="district.id">{{ district.nameAr }}</option>
                  </ng-container>
                </select>

                <div
                  *ngIf="addingDistrict"
                  class="add d-flex justify-content-between align-items-center"
                >
                  <input
                    placeholder="رجاءاََ أدخل إسم الحي"
                    type="text"
                    name="district"
                    id="district"
                    #district
                    class="form-control m-0 form-control-lg"
                  />
                  <!--  [class.is-valid]="districtId?.valid"
                    [class.is-invalid]="
                      districtId?.invalid && districtId?.touched
                    " -->
                  <i
                    class="p-2 rounded-2 me-2 fa fa-plus btn-primary"
                    (click)="addAdress(district.value)"
                  ></i>
                </div>
                <div
                  class="alert alert-warning"
                  [hidden]="districtId?.valid || districtId?.untouched"
                >
                  <span *ngIf="districtId?.errors?.['required']">
                    إسم الحي مطلوب</span
                  >
                </div>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12 col-md-4">
                <label class="form-label mb-2" for="postal_code">
                  إسم الشارع
                </label>

                <input
                  type="text"
                  id="streetName"
                  name="streetName"
                  formControlName="streetName"
                  class="form-control form-control-lg form-group"
                  placeholder="إسم الشارع  "
                  [class.is-valid]="streetName?.valid"
                  [class.is-invalid]="
                    streetName?.invalid && streetName?.touched
                  "
                />
                <div
                  class="alert alert-warning"
                  [hidden]="streetName?.valid || streetName?.untouched"
                >
                  <span *ngIf="streetName?.errors?.['required']">
                    إسم الشارع</span
                  >
                  <span
                    *ngIf="streetName?.errors?.['minlength'] || streetName?.errors?.['maxlength'] "
                  >
                    إسم الشارع مطلوب
                  </span>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <label class="form-label mb-2" for="buildingNumber">
                  رقم المبني
                </label>

                <input
                  type="text"
                  id="buildingNumber"
                  name="buildingNumber"
                  formControlName="buildingNumber"
                  class="form-control form-control-lg form-group"
                  placeholder=" رقم المبني"
                  (keypress)="numberOnly($event)"
                  [class.is-valid]="buildingNumber?.valid"
                  [class.is-invalid]="
                    buildingNumber?.invalid && buildingNumber?.touched
                  "
                />
                <div
                  class="alert alert-warning"
                  [hidden]="buildingNumber?.valid || buildingNumber?.untouched"
                >
                  <span *ngIf="buildingNumber?.errors?.['required']">
                    رقم المبني مطلوب</span
                  >
                  <span
                    *ngIf="buildingNumber?.errors?.['minlength'] || buildingNumber?.errors?.['maxlength'] "
                  >
                    رقم المبني يجب أن يكون 4 أرقام</span
                  >
                </div>
              </div>

              <div class="col-12 col-md-4">
                <label class="form-label mb-2" for="postalCode">
                  رقم البريد
                </label>

                <input
                  type="text"
                  id="postalCode"
                  name="postalCode"
                  formControlName="postalCode"
                  (keypress)="numberOnly($event)"
                  class="form-control form-control-lg form-group"
                  placeholder="  رقم بريد"
                  [class.is-valid]="postalCode?.valid"
                  [class.is-invalid]="
                    postalCode?.invalid && postalCode?.touched
                  "
                />
                <div
                  class="alert alert-warning"
                  [hidden]="postalCode?.valid || postalCode?.untouched"
                >
                  <span *ngIf="postalCode?.errors?.['required']">
                    رقم البريد مطلوب</span
                  >
                  <span
                    *ngIf="postalCode?.errors?.['minlength'] || postalCode?.errors?.['maxlength'] "
                  >
                    رقم البريد يجب أن يكون 5 أرقام</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="row mb-5">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="form-group">
            <button
              [disabled]="!registerForm.valid"
              type="submit"
              class="btn btn-success py-2 form-control text-white"
            >
              <i class="fa fa-floppy-disk mx-2" aria-hidden="true"></i>
              حفظ
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- popup -->

<div *ngIf="isCreated" class="overlay p-5">
  <div class="popup p-5">
    <div class="content p-1 text-center">
      <div class="d-flex justify-content-around">
        {{
          isComplete
            ? "تم إستكمال بياناتك"
            : "تم إستكمال بياناتك و ستتم المراجعة في خلال 24 ساعة"
        }}
      </div>
      <a class="btn w-50 text-center" routerLink="/usermanagement/profile"
        >حسناً</a
      >
    </div>
  </div>
</div>

<div *ngIf="userSuccess && imageSuccess" class="overlay p-5">
  <div class="popup p-5">
    <div class="content p-1 text-center">
      <div class="d-flex justify-content-around">
        تم إستكمال بياناتك و ستتم المراجعة في خلال 24 ساعة
      </div>
      <a class="btn w-50 text-center" routerLink="/usermanagement/profile"
        >حسناً</a
      >
    </div>
  </div>
</div>
