<div class="row container-fluid">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 p-4">
        <img src="../../../../assets/images/logo.svg">
        <p class="desc-text">
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        </p>
        <div class="d-flex mt-4">
            <b  class="mt-2">تواصل معنا</b>
           <img src="../../../../assets/icons/twitter.svg" class="m-2">
           <img src="../../../../assets/icons/facebook.svg" class="m-2">
           <img src="../../../../assets/icons/youtube.svg" class="m-2">
           <img src="../../../../assets/icons/linkedin.svg" class="m-2">
        </div>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center about">
        <p >من نحن</p>
        <p >كيف نعمل</p>
        <p >تواصل معنا</p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 services">
        <p >الخدمات</p>
        <p >مزودى الخدمات</p>
        <small >جميع الحقوق محفوظة, مهندسى @ 2022.</small>
    </div>
    <div>
        <div class="top-left">
            <p>رقم الهاتف: 11298976465-096</p>
            <p>البريد الإلكترونى: Mohandisy@gmail.com</p>
            <p>السعودية, منطقة المدينة المنورة, مدينة ينبع. </p>


        </div>
    </div>
</div>
